.icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}

.icon-large {
  width: 2em;
  height: 2em;
  display: inline-block;
}

.icon-small {
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
}

.icon-medium {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.leading-icon {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
