input,
select {
  border: 2px solid var(--site-text-color);
  height: 2.5rem;
  line-height: 1;
  padding: 5px;

  &:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: var(--site-text-color) inset 0 0 0 2px;
  }
}

textarea {
  border: 2px solid var(--site-text-color);
  padding: 5px;
  min-height: 2.5rem;
}
