@use "katalyst/tables";
@use "button";

/* Table default styles */

table {
  border: none;
  border-collapse: collapse;
}

thead {
  border-top: 1px solid var(--site-text-color);
  border-bottom: 1px solid var(--site-text-color);
}

th {
  text-align: left;
  font-weight: 600;
  line-height: 1.2;
}

tbody tr {
  box-shadow: inset 0 -1px 0 #ddd;
}

td,
th {
  vertical-align: top;
  padding: var(--space-xs, 0.5rem) var(--space-s, 0.75rem);

  &:has(> a[href]:only-child) {
    padding: 0;

    a[href] {
      display: block;
      padding: var(--space-xs, 0.5rem) var(--space-s, 0.75rem);
    }
  }
}

thead th {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

caption {
  caption-side: bottom;
  margin-block-start: var(--space-s);
}

/* Katalyst tables overrides */

.katalyst--table {
  :where(th[data-cell-type="selection"], td[data-cell-type="selection"]) {
    width: 2rem;
  }

  [data-cell-type="selection"] {
    position: relative;
    padding: 0;

    label {
      display: inline-grid;
      position: relative;
      grid-template-areas: "input";
      padding: var(--space-xs, 0.5rem) var(--space-s, 0.75rem);
      cursor: pointer;
      margin-block-end: 0;
      min-height: 1.5rem;
      transform: translateY(1px);

      input {
        position: absolute;
        grid-area: input;
        -webkit-appearance: none;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        padding: 0;
        border: none !important;
        z-index: 1;
        cursor: pointer;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        grid-area: input;
        border-color: var(--site-text-color);
        border-style: solid;
      }

      &::before {
        border-width: 2px;
        width: 1rem;
        height: 1rem;
      }

      &::after {
        width: 0;
        border-width: 0.25rem;
        margin: 0.25rem;
        opacity: 0;
      }
    }
  }

  tbody [data-cell-type="selection"] {
    label {
      transform: translateY(3px);
    }
  }

  [data-cell-type="selection"]:has(input[type="checkbox"]:focus) {
    label::before {
      outline: 2px solid #fd0;
      outline-offset: 0;
      box-shadow: inset 0 0 0 1px;
    }
  }

  [data-cell-type="selection"]:has(input[type="checkbox"]:indeterminate) {
    label::after {
      border-top-width: 1px;
      border-bottom-width: 1px;
      opacity: 1;
    }
  }

  [data-cell-type="selection"]:has(input[type="checkbox"]:checked) {
    label::after {
      opacity: 1;
    }
  }
}

.tables--selection--form {
  p {
    margin-bottom: 0.5rem;
  }

  button {
    @extend %button-base;
  }
}

.katalyst--tables--query {
  .query-input {
    gap: unset;
  }
}
