<div class="form-action">
  <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Save", class: "button__save" %>
  <%= content_tag :button, "Save & Continue", type: "submit", name: "commit", value: "Continue", class: "button__save-continue" %>
  <%= link_to("Delete", resource_path, data: { confirm: "Are you sure?" }, method: :delete, class: "button__error") unless resource.new_record? %>
  <%= link_to "Back", koi_engine.sitemap_nav_items_path, :class => "button__back" %>
</div>
