//= depend_on ./_import.scss
@import "./_import.scss";

@include def-box( width, 100% );
@include def-as( border-box );

/* general *******************************************************************/

html, body, object, iframe, div, h1, h2, h3, h4, h5, h6, p, span, img, a, table, thead, tbody, tfoot, tr, th, td, ol, ul, dl, li, dt, dd, form, fieldset, label, legend, abbr, acronym, address, caption, del, dfn, pre, blockquote, q, b, em, nav, header, nav, article, footer, section, aside, figure, figcaption { margin:0; padding:0; border:0; border-style:solid; font-weight:inherit; font-style:inherit; font-family:inherit; font-size:100%; text-align:left; vertical-align:baseline; }

header, nav, article, footer, section, aside, figure, figcaption { display:block; }

html { font-size:100.01%; }

/* tables *******************************************************************/

table { border-collapse:separate; border-spacing:0; @extend #{ class-box( width, 100% ) }; @extend #{ class-as( border-box ) }; }
table, td, th { vertical-align:top; font-weight:normal; }
th { font-weight:bold; }

/* lists *********************************************************************/

ul, ol { list-style-type:none; }

/* links *********************************************************************/

a img { border:none; }

/* inputs ********************************************************************/

button::-moz-focus-inner, input::-moz-focus-inner, ::-moz-focus-inner { border:0; padding:0; }

input[type='text'],
input[type='search'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
textarea {
  border:1px solid #CCC;
  padding:2px 3px;
  &.as-blk { @extend #{ class-box( width, 100% ) }; @extend #{ class-as( border-box ) }; }
}
textarea { font:inherit; }


input[type='submit'] { cursor:pointer; }

/* typography ****************************************************************/

body { font-size:75%; color:#222; background:#fff; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; }

h1, .h1 { font-size:36px; font-weight:normal; line-height:1em; }
h2, .h2 { font-size:24px; font-weight:normal; line-height:1em; }
h3, .h3 { font-size:18px; font-weight:normal; line-height:1em; }
h4, .h4 { font-size:14px; font-weight:normal; line-height:1em; }
h5, .h5 { font-size:12px; font-weight:normal; line-height:1em; }
h6, .h6 { font-size:inherit; font-weight:normal; line-height:1em; }

a:focus, a:hover { color:#009; text-decoration:none; }
a { color:#05f; outline:none; text-decoration:none; }

b, strong { font-weight:bold; }
em, dfn { font-style:italic; }

/* quotes ********************************************************************/

blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
blockquote { color:#666; font-style:italic; }

sup, sub { line-height:0; }
del { color:#666; }
pre { white-space:pre; }
pre, code, tt { font:1em 'andale mono', 'lucida console', monospace; line-height:20px; }

