<div class="panel__passive panel__border">
  <div class="panel--padding">
    <h2 class="heading-four">Totals</h2>
  </div>
  <div class="panel--padding content-spacing panel--border-top">
    <p>
      <strong>Categories:</strong> <%= Category.all.count %><br />
      <strong>Products:</strong> <%= Product.all.count %>
    </p>
  </div>
</div>
