<div class="spacing-xxx-tight">
  <h2 class="heading-four">Products</h2>

  <%- if resource.products.any? -%>
    <div class="table-container">
      <table class="table">
        <tr>
          <th>Product</th>
          <th>Number of images</th>
          <th></th>
        </tr>
        <%- resource.products.each do |product| -%>
          <tr>
            <td><%= link_to product, [:edit, :admin, resource, product] -%></td>
            <td><%= product.product_images.length -%></td>
            <td class="align-right"><%= link_to "Show", [:admin, resource, product] -%></td>
          </tr>
        <%- end -%>
      </table>
    </div>
    <ul>
    </ul>
  <%- else -%>
    <p>No products</p>
  <%- end -%>
</div>