<h2 class="heading-four">Product Details</h2>
<%= render "show_fields_table", fields: resource_class.admin_attributes(:show_details) %>

<h2 class="heading-four">Product Information</h2>
<%= render "show_fields_table", fields: resource_class.admin_attributes(:show_information) %>

<h2 class="heading-four">Product Images</h2>
<div class="spacing-xxx-tight">
  <% resource.product_images.each do |product_image| %>
    <div class="show--inline-block--item">
      <%= render "show_fields_table", 
        resource_item: product_image,
        fields: product_image.class.admin_attributes(:show)
      %>
    </div>
  <% end %>
</div>