//= depend_on ./_import.scss
@import "./_import.scss";

.elements {

  &.vertical {
    @each $amount in expand( (1px 2px _ 3px) (5px 10px _ 20px) ) {
    @each $a in condense( $amount ) {
      &#{ class( spaced $amount ) } > * { @include space( top, $a ); }
    }}

    &.divided {
      > * + * { border-top-style: solid; border-top-width: 1px; }
    }
  }

  &.inline {
    @extend .horizontal;
    &, > * { @include display( inline-block ); }

    @each $amount in expand( 8px 9px _ 20px ) {
    @each $a in condense( $amount ) {
      &#{ class( fonted $amount ) } { @include text( size, 0 ); }
      &#{ class( fonted $amount ) } > * { @include text( size, $a ); }
    }}
  }

  &.left-floated {
    @include as( clear );
    > * { float: left; }
  }

  &.right-floated {
    @include as( clear );
    > * { float: right; }
  }

  &.inline, &.left-floated {
    @each $amount in expand( (1px 2px _ 3px) (5px 10px _ 20px) ) {
    @each $a in condense( $amount ) {
      &#{ class( spaced $amount ) } > * + * { @include space( left, $a ); }
    }}

    &.divided {
      > * + * { border-left-style: solid; border-left-width: 1px; }
    }
  }

  &.right-floated {
    @each $amount in expand( (1px 2px _ 3px) (5px 10px _ 20px) ) {
    @each $a in condense( $amount ) {
      &#{ class( spaced $amount ) } > * + * { @include space( right, $a ); }
    }}

    &.divided {
      > * + * { border-right-style: solid; border-right-width: 1px; }
    }
  }

  &.top-aligned {
    > * { vertical-align: top; }
  }

  &.middle-aligned {
    > * { vertical-align: middle; }
  }

  &.bottom-aligned {
    > * { vertical-align: bottom; }
  }
}
