//= depend_on ./_import.scss
@import "./_import.scss";

@function text-field() {
  @return
  "
  input[type='text'],
  input[type='search'],
  input[type='password'],
  input[type='email'],
  input[type='url'],
  input[type='tel'],
  textarea
  ";
}
.form {

  #{ text-field() } {
    @include round( all, 3px );
    @include as( border-box );
    @include as( block );
    height:26px;
    width:100%;
    //    @include css-box-shadow( 3px, 3px, 3px, -3px, rgba(0,0,0,0.3), true );
  }

  &.devise {
    #{ text-field() } {
    }
  }

  &.main {

    #{ text-field() } {
      width:70%;
    }
  }
}