//= depend_on ./_import.scss

@import "./_import.scss";

.menu { // assumed to be nested ul?

  &.auto-height {
    > li > ul { height:auto; line-height:normal; }
  }

  &.superfish {
    > li {
      float: left;
      position: relative;

      &:hover, &.sfHover {
        visibility: inherit; // fixes IE7 'sticky bug'
        > ul { top: 100%; z-index: 1; }
      }
    }

    ul { position: absolute; top: -9999px; }
  }

  &.main {
    > li {
      position: relative;

      &:hover, &.sfHover {

        color: $light-orange;

        &.has-children {
          &:after {
            position: absolute;
            top: 100%;
            margin-top: -6px;
            margin-left: 50%;
            left: -5px;
            content: url("/assets/koi/icon/triangle/up-orange-on-black.png");
          }
        }
      }

      > ul {
        @include css-box-shadow( 3px, 3px, 4px, -1px, rgba(black, 0.2) );
        font-weight: bold;
        left: -10px;
        padding-top:4px;
        width: 180px;

        > li {
          font-size:11px;
          a, button, input[type=submit] { padding: 7px 30px 7px 10px; }
          &.selected { color: black; }
        }
      }
    }
  }
}
