//= depend_on ./_import.scss
@import "./_import.scss";

.titlebar {

  &.black {
    background: black;
    color: #fcfcfc;
  }

  &.katalyst {
    @extend .black.titlebar;
    border-bottom-color: $orange;
    font-family:'HelveticaNeueETW01-45Lt';

    @each $amount in expand( 1px 2px _ 6px ) {
    @each $a in condense( $amount ) {
      &#{ class( border $amount ) } { @include border( width, bottom, $a ); }
    }}
  }
}
