<div class="inputs">
  <%#= f.input :url %>
  <%= f.input :admin_url, wrapper: :koi %>
  <%= f.input :key, wrapper: :koi %>
  <%= f.input :setting_prefix, wrapper: :koi %>
  <%= f.input :method, as: :string, wrapper: :koi %>
</div>