<div class="inputs">
  <%= f.input :if, as: :string, wrapper: :koi %>
  <%= f.input :unless, as: :string, wrapper: :koi %>
  <%= f.input :highlights_on, as: :string, wrapper: :koi %>
  <%= f.input :content_block, as: :string, wrapper: :koi %>
</div>