<% panel_class ||= "" %>

<div class="panel__passive panel--padding sitemap--lock <%= panel_class %>">
  <div class="sitemap--lock--button">
    <button class="button__primary" data-sitemap-lock></button>
  </div>
  <div class="sitemap--lock--text">
    <p>Lock the drag and drop functionality of the sitemap while creating or editing your pages.</p>
  </div>
</div>
