<% if resource.errors.any? -%>

  $("#modal-for-nav-item").html ("<%= escape_javascript render ("modal_nav_item") %>");
  $("#modal-for-nav-item").append('<button title="Close (Esc)" type="button" class="mfp-close">×</button>');

<% else %>

  $.magnificPopup.close();

  var rendered = "<%= escape_javascript render("nav_item", nav_item: resource, level: resource.level) %>";
  
  var $parent = $ ("#nav-item-<%= resource.parent.id %>");
  var $children = $parent.component ("ol");

  if (! $children.length) $children = $parent.append ("<ol>");

  $children.append (rendered);

  $ ("#nav-item-<%= resource.id %>").slideDown ().effect ("highlight", {}, 3000);

<% end %>
