<% content_for :head do %>
  <%= stylesheet_link_tag "koi/admin/nav_items/sitemap/icon" %>
  <%= stylesheet_link_tag "koi/admin/nav_items/sitemap/nav_item" %>
  <%= javascript_include_tag "koi/admin/nav_items/sitemap" %>
<% end %>

<% content_for :title, "Sitemap" %>

<div class="sitemap application">

  <ol class="nav-items bsp-l-2 w-14col">
    <%= render 'nav_item', nav_item: NavItem.root, level: 0 %>
  </ol>

  <div id="modal-for-nav-item" class="modal fade hide-element as-clr">&nbsp;</div>
</div>

<% content_for :side do %>

  <header class="right side header">
    <h2 class="heading">Site Structure</h2>
  </header>

  <section class="right side section">
    <header>
      <h3 class="heading">Add a new page</h3>
    </header>

    <p>To select a new page move your cursor over the item above or the folder the page should be part of. Roll over the 'add' link and select 'page' to add the page. </p>
    <p>After you have added the page, go back to the site map and move the page to the correct position.</p>


    <p>More information can be found in the <a href="#">help section</a>.</p>
  </section>

<% end %>

