<% content_for :head do %>
  <script type="text/javascript">

    $ (function () {

      $ (".sitemap.application").application (function ($sitemap) {

        var $children = $sitemap.component ('.children')
        ,   $undo     = $sitemap.component ('.undo.button')
        ,   path      = "<%= koi_engine.savesort_nav_items_path %>"
        ;

        function save (data, cb) {
          $.post (path, { set: data }, cb);
        }

        function refresh (data) {
          $children.load (path, { set: data });
        }

        function toString () {
          return JSON.stringify (toJSON ());
        }

        function toJSON () {
          return $children.nestedSortable ('toHierarchy', { startDepthCount: 0 });
        }

        $children
          .nestedSortable({
            disableNesting: 'no-nest'
          , forcePlaceholderSize: true
          , handle: 'div'
          , helper: 'clone'
          , items: '.sortable'
          , opacity: .6
          , placeholder: 'placeholder'
          , revert: 250
          , tabSize: 25
          , tolerance: 'pointer'
          , toleranceElement: '> div'
          })

          .on ("sortupdate", function () {
            $undo.removeClass ("disabled");
            save (toString ());
          });

        var undo = toString ();

        $undo
          .click (function () {
            $undo.addClass ("disabled");
            refresh (undo);
            return false;
          });
      });

      $ (".nav-item.application").application (true, function ($item) {

        var
        $zone = $item.component (".zone"),
        $main = $item.component (".main"),
        $link = $item.component (".pop-up"),
        $menu = $item.component (".controls");
        $kids = $item.component (".children");

        $link.click (function () { $.getScript (this.href); return false; });

        $zone.koiHover (25,
          function () {
            $menu.css ({ visibility: "visible" }).fadeIn (75);
            $main.animate ({ backgroundColor:"#e8e8e8" }, 75);
          },
          function () {
            $menu.delay(75).fadeOut (50);
            $main.delay(75).animate ({ backgroundColor:"rgba(0, 0, 0, 0)" }, 50);
          });
      });

      $ ("#modal-for-nav-item").modal ({ backdrop: true, keyboard: true });
    });
  </script>
<% end %>

<% content_for :title, "Sitemap: Navigation Items" %>

<div class="sitemap application">
  <div class="as-hidden">
    <div class="adjusted disabled hoverable hover-shadow padded-2 rounded-3px inline solid orange undo button h-25px ln-h-25px sp-b-1 aln-m flt-r sp-r-3 pull-d-3px">
      <a href="#" id='serialize' class="body tx-c">Revert</a>
    </div>
  </div>

  <ol class="children bsp-l-2 w-14col">
    <%= render 'nav_item_root', nav_item: Koi::RootNavItem.root, level: 0 %>
  </ol>

  <div id="modal-for-nav-item" class="modal fade hide-element as-clr">&nbsp;</div>
</div>

<% content_for :side do %>

  <header class="right side header">
    <h2 class="heading">Site Structure</h2>
  </header>

  <section class="right side section">
    <header>
      <h3 class="heading">Re-ordering the sitemap</h3>
    </header>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

    <p>Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  </section>

<% end %>

