////////////////////////////////////////////////////////////////////////////////
//
// This file contains common variables used by Ornament.
//
////////////////////////////////////////////////////////////////////////////////


// BASE UNITS
//
//
// The base font size should be set in pixels.
//
// The base line height should be unitless (ratio of line height to font size).
//

$base-pixel:          14px;

$small-font-size:     12px;
$base-font-size:      $base-pixel;
$large-font-size:     1.1em;
$base-line-height:    1.5;
$base-line-size:      $base-font-size * $base-line-height;


// CONTAINER WIDTH
//
// Width of the container (desktop only).
//

$container-width: 1072px;
$container-percentage: 92%;


// SIZES
//
//
// Setup a sizing units.
//

$xxxxx-small-unit:      8px;
$xxxx-small-unit:       12px;
$xxx-small-unit:        16px;
$xx-small-unit:         20px;
$x-small-unit:          24px;
$small-unit:            28px;
$default-unit:          32px;
$large-unit:            36px;
$x-large-unit:          40px;
$xx-large-unit:         44px;
$xxx-large-unit:        48px;
$xxxx-large-unit:       56px;
$xxxxx-large-unit:      64px;
$xxxxxx-large-unit:     72px;
$xxxxxxx-large-unit:    80px;


$border-radius:   4px;
$button-height:   44px;

$panel-padding-large:   $x-large-unit;
$panel-padding:         $xx-small-unit;
$panel-padding-small:   $xxx-small-unit;
$panel-padding-tiny:    $xxxx-small-unit;


// BREAKPOINTS
//
// Desktop first breakpoints. Used in conjunction with media-query util. (Breakpoint keyword, Desktop first breakpoint)
//

$breakpoint-typography: 480px;
$breakpoint-large: 1080px;
$breakpoint-medium: 935px;
$breakpoint-small: 780px;
$breakpoint-tiny: 620px;

$site-breakpoints:
  (tiny, $breakpoint-tiny),
  (small, $breakpoint-small),
  (medium, $breakpoint-medium),
  (large, $breakpoint-large)
;

// GUTTERS
//
// Site gutters to be used at desktop and specific breakpoints. Used within grids util. (Breakpoint keyword, Gutter size)
//

$desktop-gutters: $default-unit;

$large-gutter:    $default-unit;
$medium-gutter:   $small-unit;
$small-gutter:    $small-unit;
$tiny-gutter:     $small-unit;

$site-gutters:
  (large, $large-gutter),
  (medium, $medium-gutter),
  (small, $small-gutter),
  (tiny, $tiny-gutter)
;

// COLORS
//
// Default colors.
//

$primary-color: #ff521f;
$orange:        #fc6b02;
$light-green:   #bde9d5;
$green:         #00a362;

$black:         #2e2e2e;
$white:         #fff;
$x-light-grey:  #f4f4f4;
$light-grey:    #ececec;
$grey:          #999999;
$dark-grey:     #666;

$border:        #ccc;

$error-color: #E74C3C;
$success-color: #2ECC71;
$warning-color: #F1C40F;
$passive-color: #ECF0F1;

$foreground-color: #222;
$background-color: #fff;
$link-color: $primary-color;
$link-hover-color: false;

$input-border-color: #c5cbd4;
$input-border-focus-color: darken($input-border-color,20);

/*
$error-color: #990000;
$error-background: red;
$notice-color: #ff6600;
$success-color: green;
*/

$white: #fff;
$facebook: #5e78aa;

$image-border: 0;


// INPUTS
//
// Input styling.
//

$checkbox-radio-padding:  -0.2em 0 0 0.2em;
$input-background:        #ffffff;
$input-border:            1px solid $input-border-color;
$input-border-radius:     $border-radius;
$input-color:             $foreground-color;
$input-padding:           0.3em 0.2em 0.1em;
$input-width:             100%;
$textarea-height:         $base-line-size*5;