// DEPENDENCIES

@use "base";
@use "components";
@use "layouts";
@use "pages";
@use "themes";
@use "utils";

:root {
  /* Color styles */
  --site-primary-light: #5a87c9;
  --site-primary: #266dd3;
  --site-primary-dark: #344055;
  --site-on-primary: #ffffff;
  --site-secondary-light: #dfc2f2;
  --site-secondary: #cfb3cd;
  --site-secondary-dark: #888098;
  --site-on-secondary: #000000;
  --site-text-color: #485569;
  --site-success: #129d7f;
  --site-warning: #ffc759;
  --site-alert: #ea3946;
  --site-notice: rgb(37, 99, 235);
  --site-disabled: #9ca3af;
  --site-link: #888098;
}
