// DEPENDENCIES

@use "katalyst/content/editor" as content-editor;
@use "katalyst/navigation/editor" as navigation-editor;

// ORNAMENT
//
// Apply resets, apply default Ornament styles and import fonts & settings.
//

@import "ornament/core";

// ASPECTS

@import "aspects/content";
@import "aspects/compressed";
@import "aspects/inputs";

// COMPONENTS
//
//
// Import the components this project uses. Instead of importing Compass or
// Ornament utilities/mixins here, import them directly into your components
//

@import "components/align";
@import "components/assets";
@import "components/blankstate";
@import "components/breadcrumbs";
// @import "components/breakpoint-helper";
@import "components/browser-warning";
@import "components/button";
@import "components/ckeditor";
@import "components/clearfix";
@import "components/devise";
@import "components/embed";
@import "components/error-page";
@import "components/footer";
@import "components/form";
@import "components/grid";
@import "components/header";
@import "components/hr";
@import "components/icons";
@import "components/index-table";
@import "components/index-table-actions";
@import "components/inline-nested";
@import "components/island";
@import "components/item-table";
@import "components/kat-image-upload";
@import "components/layout";
@import "components/lightbox";
@import "components/listing";
@import "components/map";
@import "components/menu-aim";
@import "components/navigation-mobile";
@import "components/navigation-primary";
@import "components/page";
@import "components/pagination";
@import "components/panel";
@import "components/sitemap";
@import "components/skip-link";
@import "components/settings";
@import "components/show";
@import "components/spacing";
@import "components/table";
@import "components/tabs";
@import "components/text-limiter";
@import "components/tiles";
@import "components/tooltip";
@import "components/fotorama-custom";
@import "components/print";
@import "components/vertre";


// OLD KOI LEGACY
// Potentially worth refactoring
@import "nav_items";

// UTILITY CLASSES

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.clearfix {
  @include pie-clearfix;
}

// OVERRIDES
//
//
// Add any hacky or temporary styles here.
//

//  /* Client wanted the logo bigger ASAP... */
//  .header--logo {
//    height:200%;
//    width:200%;
//  }
//
