$textColor:            #000000;
$orange:               #ff5700;
$orangeDark:           #ee3700;
$linkColor:            #fc6b02;
$linkColorHover:       #fc6b02;
$navbarLinkColor:      #ffffff;
$gridColumns:          24;
$gridColumnWidth:      30px;
$gridGutterWidth:      10px;
$iconSpritePath:       asset-url("koi/application/glyphicons-halflings.png", image);
$iconWhiteSpritePath:  image-path('glyphicons-halflings-white.png');

@import "redactor";
@import "bowerbird.scss";
@import "./legacy/button";
@import "./legacy/icon";
@import "./legacy/menu";
@import "./lib/jquery/ui";
@import "./lib/jquery/tagify";
@import "./nav_items";

// elements ///////////////////////////////////////////////////////////////////

body, p { font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h1 { font-size: 44px; font-weight: 300; line-height: 64px; border-bottom: 1px solid #CCC;}
h2 { font-size: 24px; font-weight: 600; }
table { border: 1px solid #CCC; }
th { background-color: #ececec; font-size: 11px; }
textarea { height: 200px; width: 400px; }
legend.small { font-size: 13px; border-bottom: 1px solid $grayLighter; margin-bottom: 120px; }
abbr[title='required'] { color: $orange; font-weight: bold; }
ol, ul { list-style-type:none; margin-left:0; padding-right:0; }

// bootstrap-on ///////////////////////////////////////////////////////////////

.btn { text-shadow: none; @include buttonBackground($orange, $gray); @include box-shadow(none); background-image: none; border: none; font-weight: 600; background-color: $grayLight; color: #FFF; }
.btn-small { padding: 4px 10px 3px 10px; font-size: 12px; }
.btn-mini { padding: 3px 10px 4px 10px; font-size: 12px; }
.btn-primary { border: none; background-image: none; background-color: $orange; text-shadow: none; }
.navbar-fixed-top { border-bottom: 4px solid #f60; }
.navbar .nav li a, { font-size:14px; font-weight: 700; text-transform: uppercase; font-family: 'Open Sans Condensed', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
.pagination ul { @include box-shadow(none); }
.btn:hover { background-color: darken($grayLight, 10%); color: #FFF; }
.btn-primary:hover { background-color: $orangeDark; text-shadow: none; }
.label { font-size:12px; color:#444; background-color:transparent; text-shadow:none; }

// typography /////////////////////////////////////////////////////////////////

a { color: $orange; }
a:hover { color: $orange; text-decoration: underline; }

a.nohover {color: $textColor; }
a.nohover:hover {color: $textColor; text-decoration:none; }

.font-orange { color: $orange; }
a.font-orange { color: $orange; }
a.font-orange:hover { color: $orange; text-decoration: none; }

// media (from giusi.org/bootstrap-media/media.html) //////////////////////////

.media, .media-body { overflow: hidden; *overflow: visible; zoom: 1; }
.media { margin-bottom: 10px; }
.media .pull-left { margin-right: 10px; }
.media .pull-right { margin-left: 10px; }
.media .media-object { display: block; }

// dashboard widgets /////////////////////////////////////////////////////////

.widget { background-color: #ececec; position:relative; @include border-radius(5px); font-weight: bold; }
.widget-header { padding:5px 5px; text-align:center; @include border-radius(5px 5px 0 0); font-size: 13px; color:#FFF; background-color: #7b7b7b;color:#FFF; }
.widget-body { font-size:40px; line-height: 70px;text-align:center;color: #464646;font-weight: bold; }
.widget-footer { padding:3px 5px; text-align:center;@include border-radius(0 0 5px 5px ); font-size: 11px; }
.widget-footer-increase {background-color:#bfe9d3; color: #00a34e; }
.widget-footer-decrease {background-color:#ffbfbf; color: #f11a29; }

// general ////////////////////////////////////////////////////////////////////

.cursor-move { cursor: move; }
.container.center, .margin-center { margin: 0 auto; }
.logo-header { padding-top: 8px; float: left; }
.bg-darkgrey { background-color: #666; }
.bg-mediumgrey { background-color: #E8E8E8; }
.bg-lightgrey { background-color: #f4f4f4; }
.bg-light-red { background-color: #ffdede; }
.bg-light-green, .bg-notice { background-color: #ceeed2; }
.asset-manager-bg-darkgrey { background-color: #C8C8C8; }

.titlebar { background-color: #000; @include border-radius(4px 4px 0 0 ); border-bottom: 5px solid $orange; color: #FFF; margin: 0; padding: 15px 5px; }
.titlebar h1 { font-size: 22px; border: none; line-height: 22px; }

.h-600 { height: 600px; }
.w-100 { width: 100px; }
.w-560 { width: 560px; }
.w-510 { width: 510px; }

.w-1em5 { width: 1.5em; }
.space-t-10 { margin-top: 100px; }
.font-12px { font-size: 12px; }

p.error { background: url(/assets/koi/application/icon-form-error.png) 5px center no-repeat; min-height: 16px; min-width: 16px; padding-left: 27px; color: #e53a3a; margin-top: 5px; }

.h6 { font-size: 13px; margin-bottom: 5px; color: #555; }

.simple_form input.check_boxes { margin-right: 5px; }
.simple_form input.radio { margin-right: 5px; }
.simple_form input.date { width: 249px; }

[class^="icon-"], [class*=" icon-"]
{
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(/assets/glyphicons-halflings-white.png);
  background-repeat: no-repeat;
}

.wysihtml5-toolbar .btn { height:18px; }
.wysihtml5-toolbar [class^="icon-"], .wysihtml5-toolbar [class*=" icon-"] { line-height: 18px; }

.action.view input.date, .action.view input[type=text], .action.view input[type=tel], .action.view input[type=url], .action.view input[type=password] { width: 298px; }
.action.view textarea { width:498px; }

.asset-manager.modal.fade.in { top:35%; left:32%; width:950px; height:742px; border:none; overflow:hidden; }
.asset-manager.modal > iframe { @include border-radius(4px 4px 0 0 ); background-color:transparent; }
.asset-manager.modal { background:#fff url(/assets/koi/application/loading.gif) no-repeat center center; }

.tweet_odd, .tweet_even { margin-top: 5px; float:left; }
.tweet_avatar { float:left; width: 50px; display:block; margin:0; padding: 0; }
.tweet_text { float:right; width:180px; display:block; margin:0; padding: 0; }
.tweet_time { display:none; }

body { background-color:transparent; }

[koi=wysiwyg] [koi\:name=toolbar]
{
  > li
  {
    .btn { padding:3px 6px; background-color:#777; display:inline-block; * display:inline; }
    .btn-group { display:inline-block; * display:inline; }
  }
}

#void { display:none; }

.action.view [koi=wysiwyg] textarea, .action.view [koi=wysiwyg] iframe
{
  background-color: rgb(255, 255, 255);
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  clear: none;
  display: inline-block;
  float: none;
  margin: 0px 0px 9px;
  outline: rgb(85, 85, 85) none 0px;
  outline-offset: 0px;
  padding: 4px;
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  z-index: auto;
  vertical-align: top;
  text-align: start;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  width: 530px;
  height: 200px;
}

[koi=wysiwyg] iframe
{
  background-color: rgb(245, 245, 255);
}

[contenteditable=true]
{
  ul { list-style-type:disc }
}

.modal { position:absolute; margin-top:0; }
.modal.fade.in { top:20%; }
