// initialization /////////////////////////////////////////////////////////////

// colors
$orange:         #ff5700;
$orangeDark:     #ee3700;
$linkColor:      #fc6b02;
$linkColorHover: #fc6b02;

// grid
$gridColumns:     24;
$gridColumnWidth: 30px;
$gridGutterWidth: 10px;

// icons
$iconSpritePath:      image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

// navbar
$navbarLinkColor: #FFF;

// import /////////////////////////////////////////////////////////////////////

@import "lib/jquery/ui";
@import "lib/tagify";
@import "bowerbird";
@import "application";
@import "nav_items";

// elements ///////////////////////////////////////////////////////////////////

body { font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h1 { font-size: 44px; font-weight: normal; line-height: 64px; border-bottom: 1px solid #CCC; }
h2 { font-size: 24px; font-weight: 400; }
table { border: 1px solid #CCC; }
th { background-color: #ececec; font-size: 11px; }
textarea { height: 200px; width: 400px; }
legend.small { font-size: 13px; border-bottom: 1px solid $grayLighter; margin-bottom: 120px; }
abbr[title='required'] { color: $orange; font-weight: bold; }

// bootstrap-on ///////////////////////////////////////////////////////////////

.btn { text-shadow: none; @include buttonBackground($orange, $gray); @include box-shadow(none); background-image: none; border: none; font-weight: 500; background-color: $grayLight; color: #FFF; }
.btn-small { padding: 4px 10px 3px 10px; font-size: 12px; }
.btn-mini { padding: 3px 10px 4px 10px; font-size: 12px; }
.btn-primary { border: none; background-image: none; background-color: $orange; text-shadow: none; }
.navbar-fixed-top { border-bottom: 4px solid #f60; }
.navbar .nav li a { font-weight: 800; text-transform: uppercase; }
.pagination ul { @include box-shadow(none); }
.btn:hover { background-color: darken($grayLight, 10%); color: #FFF; }
.btn-primary:hover { background-color: $orangeDark; text-shadow: none; }

// typography /////////////////////////////////////////////////////////////////

a { color: $orange; }
a:hover { color: $orange; text-decoration: underline; }

.font-orange { color: $orange; }
a.font-orange { color: $orange; }
a.font-orange:hover { color: $orange; text-decoration: none; }

// media (from giusi.org/bootstrap-media/media.html) //////////////////////////

.media, .media-body { overflow: hidden; *overflow: visible; zoom: 1; }
.media { margin-bottom: 10px; }
.media .pull-left { margin-right: 10px; }
.media .pull-right { margin-left: 10px; }
.media .media-object { display: block; }

// general ////////////////////////////////////////////////////////////////////

.cursor-move { cursor: move; }
.container.center, .margin-center { margin: 0 auto; }
.logo-header { padding-top: 8px; float: left; }
.bg-darkgrey { background-color: #666; }
.bg-mediumgrey { background-color: #E8E8E8; }
.bg-lightgrey { background-color: #f4f4f4; }
.bg-light-red { background-color: #ffdede; }
.bg-light-green, .bg-notice { background-color: #ceeed2; }
.asset-manager-bg-darkgrey { background-color: #C8C8C8; }
.titlebar { background-color: #000; @include border-radius(4px 4px 0 0 ); border-bottom: 5px solid $orange; color: #FFF; margin: 0; padding: 15px; }
.titlebar h1 { font-size: 22px; border: none; line-height: 22px; }

.h-600 { height: 600px; }
.w-100 { width: 100px; }
.w-560 { width: 560px; }
.w-510 { width: 510px; }

.w-1em5 { width: 1.5em; }
.space-t-10 { margin-top: 100px; }
.font-12px { font-size: 12px; }

p.error { background: url(/assets/koi/icon/form/error.png) 5px center no-repeat; min-height: 16px; min-width: 16px; padding-left: 27px; color: #e53a3a; margin-top: 5px; }

.h6 { font-size: 13px; margin-bottom: 5px; color: #555; }

.simple_form input.check_boxes { margin-right: 5px; }
.simple_form input.radio { margin-right: 5px; }
.simple_form input.date { width: 249px; }


// .foo {padding: 4px 5px;}
