.icon { background-repeat: no-repeat !important; }
.icon.icon-sitemap { background-position: 5px center !important; min-width: 16px; min-height: 16px; }
.icon.icon-sitemap-sortable { background: url(/assets/koi/icon/sitemap/sortable.png); }
.icon.icon-sitemap-settings { background: url(/assets/koi/icon/sitemap/settings.png); }
.icon.icon-sitemap-folder { background: url(/assets/koi/icon/sitemap/folder.png); }
.icon.icon-sitemap-module { background: url(/assets/koi/icon/sitemap/module.png); }
.icon.icon-sitemap-alias { background: url(/assets/koi/icon/sitemap/alias.png); }
.icon.icon-sitemap-home { background: url(/assets/koi/icon/sitemap/home.png); }
.icon.icon-sitemap-page { background: url(/assets/koi/icon/sitemap/page.png); }
.icon.icon-sitemap-move { background: url(/assets/koi/icon/sitemap/move.png); }
.icon.overlay.add { background: url(/assets/koi/icon/overlay/add.png); min-height: 12px; min-width: 12px; }
.icon.sort { min-height: 16px; min-width: 16px; }
.icon.sort.ascending, .icon.sort.asc { background: url(/assets/koi/icon/index/sort-ascending.png); }
.icon.sort.descending, .icon.sort.desc { background: url(/assets/koi/icon/index/sort-descending.png); }
