:root {
  /* Color styles */
  --site-primary-light: #5a87c9;
  --site-primary: #266dd3;
  --site-primary-dark: #344055;
  --site-on-primary: #ffffff;
  --site-secondary-light: #5a87c9;
  --site-secondary: #266dd3;
  --site-secondary-dark: #344055;
  --site-on-secondary: #ffffff;
  --site-text-color: #000000;
  --site-success: #129d7f;
  --site-warning: #ffc759;
  --site-alert: #ea3946;
  --site-notice: rgb(37, 99, 235);
  --site-disabled: #9ca3af;
  --site-link: #266dd3;
}
