.login {
  header {
    display: grid;
    grid-template-areas: "logo header" "logo site-name";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--space-s);

    .icon {
      --scale: 4;
      --offset: 2px;
      grid-area: logo;
      align-self: center;
    }

    h1 {
      grid-area: header;
      font-weight: var(--font-bold);
    }

    h2 {
      grid-area: site-name;
      font-weight: var(--font-medium);
      font-size: var(--size-step-1);
      color: var(--color-mid);
    }
  }
}
