.nav-item {
  clear: both; 
  margin-top: 4px; 
  padding-left:20px; 
  font-size:13px; 
  font-weight:bold;

  .placeholder {
    margin-left: 20px;
    background: $passive-color;
    @include border-radius(5px);
  }

  &.level-0 {
    padding-left:0;

    > ol > .nav-item {
      border-top: 1px solid #f4f4f4; 
    }

    > ol > .nav-item .nav-item {
      font-weight:normal;
    }
  }

  .zone {
    padding-top: 4px;

    .body {
      height:22px; 
      line-height:22px; 
      padding-left:30px;
      @include border-radius(5px);

      a {
        @include color-link($foreground-color, $foreground-color);
      }

      .information {
        float:left;
      }

      .controls {
        float:right; 
        height:22px; 
        line-height:22px; 
        visibility: hidden;

        .menu {
          position: relative;
          z-index: 9;
          
          > li {
            float: left;
            margin-left: 1px;
          }

          .button {
            @include border-radius(0);
            font-size: 10px;
            text-transform: uppercase;
            line-height: 1;
            display: block;
            padding: 6px 8px;
            @include color-link($white, $white);

            &:hover {
              background: darken($orange, 10);
            }
          }

          .has-menu { 
            width: 70px; 

            &:hover {
              ul {
                display: block;
              }
              > .button {
                background: darken($orange, 10);
              }
            }

            ul {
              display: none;
            }

            ul li {
              float: none;
              padding: 0;
              border-top: 1px solid lighten($orange,10);
              margin-left: 0;
            }

            ul .button {
              background: $orange;

              &:hover {
                background: darken($orange, 10);
              }
            }
          }

          .menu { 
            width: 70px; 
          }
        }
      }
    }
  }

  &.is-hidden .zone .body a { 
    @include color-link(#aaa);
  }

}

.icon {
  &.sitemap {
    background-position: 5px center; 
    min-width: 16px; 
    min-height: 16px;
    background-repeat: no-repeat;

    &.settings { background-image: url(/assets/koi/nav_items/icon-nav-item-settings.png); }
    &.folder { background-image: url(/assets/koi/nav_items/icon-nav-item-folder.png); }
    &.module { background-image: url(/assets/koi/nav_items/icon-nav-item-module.png); }
    &.alias { background-image: url(/assets/koi/nav_items/icon-nav-item-alias.png); }
    &.home { background-image: url(/assets/koi/nav_items/icon-nav-item-home.png); }
    &.page { background-image: url(/assets/koi/nav_items/icon-nav-item-page.png); }
    &.move { background-image: url(/assets/koi/nav_items/icon-nav-item-move.png); }
    &.sort { background-image: url(/assets/koi/nav_items/icon-nav-item-sortable.png); }
    &.sort > a { 
      height:22px; 
      padding-right:24px; 
      cursor: move;
    }
  }
}
