.nav-item {
  clear: both; 
  margin-top: 4px; 
  padding-left:20px; 
  font-size:13px; 
  font-weight:bold;

  &.is-hidden > div > div > div > div > a { 
    color: #aaa; 
  }

  &.level-0 {
    padding-left:0;

    > ol > .nav-item {
      border-top: 1px solid #f4f4f4; 
    }

    > ol > .nav-item .nav-item {
      font-weight:normal;
    }
  }

  .zone {
    padding-top: 4px;

    .body {
      height:22px; 
      line-height:22px; 
      padding-left:30px;
      @include border-radius(5px);

      .information {
        float:left;
      }

      .controls {
        float:right; 
        height:22px; 
        line-height:22px; 
        visibility: hidden;

        .menu {

          > li {
            float: left;
            margin-left: 1px;
          }

          .button {
            @include border-radius(0);
            font-size: 10px;
            text-transform: uppercase;
            line-height: 1;
            display: block;
            padding: 6px 8px;
          }

          .has-menu { 
            width: 70px; 

            ul li {
              float: none;
              padding: 0;
              margin-top: 1px;
              margin-left: 0;
            }

            .button {
              width: 100%;
              margin-top: 0;
            }
          }

          .menu { 
            width: 70px; 
          }
        }
      }
    }
  }

}

.icon {
  &.sitemap {
    background-position: 5px center; 
    min-width: 16px; 
    min-height: 16px;
    background-repeat: no-repeat;

    &.settings { background-image: url(/assets/koi/nav_items/icon-nav-item-settings.png); }
    &.folder { background-image: url(/assets/koi/nav_items/icon-nav-item-folder.png); }
    &.module { background-image: url(/assets/koi/nav_items/icon-nav-item-module.png); }
    &.alias { background-image: url(/assets/koi/nav_items/icon-nav-item-alias.png); }
    &.home { background-image: url(/assets/koi/nav_items/icon-nav-item-home.png); }
    &.page { background-image: url(/assets/koi/nav_items/icon-nav-item-page.png); }
    &.move { background-image: url(/assets/koi/nav_items/icon-nav-item-move.png); }
    &.sort { background-image: url(/assets/koi/nav_items/icon-nav-item-sortable.png); }
    &.sort > a { 
      height:22px; 
      padding-right:24px; 
    }
  }
}
