@import "koi/ornament/core";

.nav-item--body {
  display: block;
  border: 1px solid $divider-color;
  border-radius: 4px;
  @include display-flex;
  @include flex-direction(row);
  background: $passive-color;

  &:hover > .controls {
    display: block;
  }

  .nav-item.is-hidden > .zone & {
    background: $white;
    border-style: dashed;

    .icon {
      opacity: 0.7;
    }

    .information a {
      @include color-link($grey, $grey);
    }
  }
}

.nav-item > ol {
  position: relative;
  padding-left: 32px;
  display: none;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    border-left: 1px dotted $divider-color;
  }
}

.nav-item.mjs-nestedSortable-expanded > ol {
  display: block;
}

.nav-item {
  margin-top: 4px;
}

.disclose {
  display: none;
  cursor: pointer;
  border-right: 1px solid $divider-color;
  width: 22px;
  @include align-items(center);
  @include justify-content(center);

  .nav-item.is-hidden > .zone & {
    border-right-style: dashed;
  }

  .mjs-nestedSortable-branch > .zone & {
    @include display-flex;
  }

  .mjs-nestedSortable-branch.level-0 > .zone & {
    display: none;
  }
}

.nav-item .placeholder {
  outline: 1px dashed $primary-color;
  border-radius: $border-radius;
  margin-top: 4px;
}

.nav-item .information {
  padding: 8px;
  @include display-flex;
  @include align-items(center);
  @include flex-grow(1);

  .draggable & {
    cursor: move;
  }

  a {
    cursor: pointer;
  }

  &.folder {
    @include font($bold-font);
  }
}

.nav-item.level-0 > .zone .information {
  @include font($bold-font);
}

.nav-item--title {
  padding-right: 8px;
}

.nav-item--icon {
  @include display-flex;
  padding-right: 8px;
}

.nav-item--links-to-child,
.nav-item--key,
.nav-item--hidden {
  @include display-flex;
  @include align-items(center);
  padding-left: 4px;
  padding-right: 4px;

  svg {
    width: 12px;
    height: 12px;
    display: block;

    path {
      fill: $grey;
    }
  }

  .icon--polygon,
  svg path {
    fill: $grey;
  }

  .icon--polyline,
  svg path {
    stroke: $grey;
  }
}

.nav-item .controls {
  display: none;
  margin-left: auto;
  padding: 4px;
  position: relative;
  z-index: 10;

  > ul {
    @include display-flex;
    @include flex-direction(row);
  }

  > ul ul {
    @include display-flex;
    @include flex-direction(column);
  }

  > ul > li + li {
    margin-left: 4px;
  }

  .has-menu {
    position: relative;

    ul {
      position: absolute;
      top: 100%;
      right: 0;
      display: none;
      padding-top: 2px;
      border-radius: 4px;
      overflow: hidden;
    }

    li a {
      text-align: left;
      border-radius: 0;
    }
  }

  .has-menu:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .has-menu:hover ul {
    display: block;
  }
}

.icon {
  .nav-item--icon > & {
    background-position: center;
    min-width: 16px;
    min-height: 16px;
    background-repeat: no-repeat;

    &.settings { background-image: url("koi/nav_items/icon-nav-item-settings.png"); }
    &.folder { background-image: url("koi/nav_items/icon-nav-item-folder.png"); }
    &.module { background-image: url("koi/nav_items/icon-nav-item-module.png"); }
    &.alias { background-image: url("koi/nav_items/icon-nav-item-alias.png"); }
    &.home { background-image: url("koi/nav_items/icon-nav-item-home.png"); }
    &.page { background-image: url("koi/nav_items/icon-nav-item-page.png"); }
    &.move { background-image: url("koi/nav_items/icon-nav-item-move.png"); }
    &.sort { background-image: url("koi/nav_items/icon-nav-item-sortable.png"); }
    &.sort > a {
      height:22px;
      padding-right:24px;
      cursor: move;
    }
  }
}


