body
{
  background-color: #fdfdfd;
  color:            #555555;
  cursor:           auto;
  font-family:      'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:        13px;
  font-style:       normal;
  font-variant:     normal;
  font-weight:      normal;
  line-height:      18px;
  letter-spacing:   normal;
  text-align:       start;
  text-decoration:  none;
  text-indent:      0px;
  text-rendering:   auto;
  word-break:       normal;
  word-wrap:        break-word;
  word-spacing:     0px;
}

