.nav-items {
  list-style-type:none; margin-left:0;
}

.nav-item {
  clear: both; margin-top: 4px; padding-left:20px; font-size:13px; font-weight:bold;

  &.level-0 {
    padding-left:0;
    > .nav-items > .nav-item, > .nav-items > .nav-item > .nav-items > .nav-item {border-top: 1px solid #f4f4f4;}
  }

  .zone {
    padding-top: 4px;

    .body {
      height:22px; line-height:22px; padding-left:30px;
      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;

      .information {
        float:left;
      }

      .controls {
        float:right; height:22px; line-height:22px; visibility: hidden;

        .icon {
          
        }

        .menu {
          text-transform: uppercase; height:22px; line-height:22px;
          li {height:22px; line-height:22px;}
          .has-menu { width: 70px; }
          .menu { width: 70px; }
        }
      }
    }
  }

}
