# frozen_string_literal: true

require "rails_helper"

RSpec.describe <%= class_name %> do
  subject(:model) { build(:<%= singular_name %>) }

  it { is_expected.to validate_presence_of :title }
  it { is_expected.to validate_presence_of :slug }

  it { is_expected.to validate_uniqueness_of(:slug).ignoring_case_sensitivity }
end
