[data-govuk-password-input-init] {
  .govuk-password-input__wrapper {
    gap: var(--space-3xs);
  }

  .govuk-button {
    min-width: 4em;
    background: none;
    cursor: pointer;
    border: var(--stroke-input);
  }

  .govuk-button:focus-visible,
  .govuk-button:hover {
    color: var(--color-dark-glare);
    border-color: var(--color-dark-glare);
  }
}
