trix-toolbar {
  margin-block-end: var(--flow-space, var(--space-2xs));

  .trix-button-group {
    border: var(--stroke-input);
    border-radius: var(--input-radius);
    margin-block-end: 0;
  }

  .trix-button {
    color: var(--color-dark);
    border-bottom: none;
  }

  .trix-button--dialog {
    min-height: 2.2rem;
  }

  .trix-button:not(:first-child) {
    border-left: var(--stroke-input);
  }

  .trix-button.trix-active {
    background-color: var(--color-mid);
    border-bottom: none;
  }
}

.govuk-richtextarea {
  min-height: calc(
    var(--size-step-0) * var(--leading-fine) * 5 + var(--space-3xs) * 2
  );
}

.govuk-richtextarea--error:not(:focus-visible) {
  border-color: var(--govuk-error-color);
}
