<% content_for :title, @title %>
<header class="header">
  <div class="flow wrapper">
    <h1 class="heading"><%= @title %></h1>

    <div class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
      <% breadcrumbs.each_with_index do |breadcrumb, index| %>
        <%= breadcrumb %>
        <% if index < breadcrumbs.size - 1 %>/
        <% end %>
      <% end %>
    </div>

    <div class="actions" role="navigation" aria-label="Related pages">
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>
  </div>
</header>
