@use "../layouts/navigation" as nav;
@use "../layouts/flash";

.admin-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--site-primary);
}

.admin-login > main {
  flex: 1 1 auto;
  max-width: 20rem;
  background: white;
  border-radius: 0.25rem;
  height: unset;
}

.admin-login header {
  @include nav.header;
  width: 100%;

  .admin-name {
    color: #555;
  }
}

.admin-login form {
  padding: 0 1rem 1rem;
}

.admin-login .actions-group {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.admin-login .button--primary {
  flex: 1;
}

.admin-login .govuk-error-summary {
  padding: 15px;
  margin-bottom: 30px;
}
