@use "header";
@use "flash";

$inset: 1rem !default;
$space: 1rem !default;

%content {
  margin: $space $inset;
  display: grid;
  grid-template-columns: minmax(auto, 72rem);
  grid-template-areas: "main";
  grid-gap: $space;

  > [role="main"] {
    grid-area: main;
  }

  &.has-sidebar {
    grid-template-columns: minmax(auto, 72rem) 1fr;
    grid-template-areas: "main sidebar";

    > [role="main"] {
      grid-column: 1/2;
    }
  }

  .page--sidebar {
    grid-area: sidebar;
    > * {
      position: sticky;
      top: $space;
    }
  }

  #flash {
    @include flash.flash;
  }
}
