@use "header";
@use "flash";

$inset: 1rem !default;
$space: 1rem !default;

%content {
  margin: $space $inset;
  display: grid;
  grid-template-columns: minmax(auto, 72rem);
  grid-template-areas: "main";
  grid-gap: $space;
  max-width: 72rem;

  > [role="main"] {
    grid-area: main;
  }

  &.has-sidebar {
    grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr);
    grid-template-areas: "main sidebar";
    max-width: (72rem + 36rem);

    > [role="main"] {
      grid-column: 1/2;
    }
  }

  &.has-preview {
    display: grid;
    grid-template-columns: minmax(auto, 72rem) 1fr 400px;
    grid-template-areas: "main sidebar preview";
    grid-gap: $space;
  }

  .page--sidebar {
    grid-area: sidebar;
    > * {
      position: sticky;
      top: $space;
    }
  }

  .page--preview {
    grid-area: preview;
    padding: 0.5rem;
    background: var(--site-primary-dark);

    iframe {
      border: none;
    }
  }

  #flash {
    @include flash.flash;
  }
}
