$inset: 2rem !default;

$title: 4rem;
$breadcrumbs: 3rem;
$actions: 3rem;
$height: $title + $breadcrumbs + $actions;

@mixin list($separator, $margin: 1em, $padding: 0.5em) {
  display: flex;
  align-items: center;
  list-style-position: outside;
  margin-inline: $inset;

  > * {
    display: list-item;
    margin-inline-start: $margin;
    padding-inline-start: $padding;
  }

  > *::marker {
    content: $separator;
    color: rgba(0, 0, 0, 0.4);
  }

  > *:first-child {
    display: block;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }
}

%header {
  border-bottom: 1px solid #ececec;
  color: #b2b2b2;
  background: #ececec;

  display: grid;
  grid-template-areas: "breadcrumbs" "title" "actions";
  grid-template-rows: $breadcrumbs $title $actions;

  .heading {
    grid-area: title;
    margin: 0 $inset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .breadcrumbs {
    grid-area: breadcrumbs;

    @include list("›");
  }

  .actions {
    grid-area: actions;
    gap: 0;

    @include list("|", $margin: 0.8em);
  }
}
