@use "navigation" as *;
@use "main" as *;
@use "banner" as *;
@use "stack";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-areas: "banner banner" "navigation main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 3fr;
}

body > header {
  grid-area: banner;
  height: 2rem;
  overflow-y: auto;
  @extend %banner;
}

body > nav {
  grid-area: navigation;
  height: 100%;
  overflow-y: auto;
  width: 2rem;
  transition: width 0.25s;
  @extend %navigation;

  &[aria-expanded] {
    width: 17rem;
  }
}

.navigation-collapse {
  grid-area: navigation;
}

body > main {
  grid-area: main;
  height: 100%;
  overflow: clip auto;
  @extend %main;
}
