.application-header {
  --repel-vertical-alignment: baseline;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding-block: var(--space-2xs);

  kbd {
    color: var(--color-mid);
  }

  .brand {
    color: white;
    text-decoration: none;

    .icon {
      --scale: 1.3;
      margin-inline-end: var(--space-3xs);
    }
  }
}
