.flash {
  color: var(--flash-color);
}

.flash:is([data-flash-type="alert"]) {
  --flash-color: var(--color-alert);
}

.flash:is([data-flash-type="notice"]) {
  --flash-color: var(--color-notice);
}

.flash:is([data-flash-type="success"]) {
  --flash-color: var(--color-success);
}

.flash:is([data-flash-type="warning"], [data-flash-type="error"]) {
  --flash-color: var(--color-warning);
}
