.navigation-group > li > span:first-child {
  font-size: var(--size-step-2);
  font-weight: var(--font-bold);
}

.navigation-group > li > * + * {
  margin-block-start: var(--space-2xs);
  --flow-space: var(--space-xs);
}

.navigation-list > li > span:first-child {
  font-size: var(--size-step-1);
  font-weight: var(--font-bold);
}

.navigation-list > li > * + * {
  margin-block-start: var(--space-2xs);
  --flow-space: var(--space-xs);
}

.navigation-list .navigation-list {
  padding-inline-start: var(--space-s);
}
