.prose {
  --flow-space: var(--space-m);
}

.prose :is(h1, h2, h3) {
  overflow-wrap: anywhere;
  hyphens: auto;
  min-width: var(--prose-width);

  /* key line */
  box-shadow: inset 0 -2px 0 currentColor;
  padding-block-end: var(--space-3xs-2xs);
}

.prose :is(h1, h2, h3) + table {
  border-top: none;
}

.prose .repel:has(> :is(h1, h2, h3)) {
  /* replace h1 keyline */
  box-shadow: inset 0 -2px 0 currentColor;
  padding-block-end: var(--space-3xs-2xs);

  :is(h1, h2, h3) {
    box-shadow: unset;
    min-width: unset;
    padding-block-end: unset;
  }
}

.prose :is(p, li, dl, figcaption, blockquote) {
  max-width: var(--measure);
  text-wrap: pretty;
}

/* Set space between headings and their content */
.prose :is(h1, h2, h3, h4, h5, h6) + *:not([class]) {
  --flow-space: var(--space-m);
}

/* Set space between sections */
.prose * + :is(h1, h2, h3, h4, h5, h6):not([class]),
.prose * + :has(> :is(h1, h2, h3, h4, h5, h6):first-child:not([class])) {
  --flow-space: var(--space-xl);
}

/* Add more space on and around figures and tables */
.prose :is(figure, table):not([class]),
.prose :is(figure, table):not([class]) + * {
  --flow-space: var(--space-xl);
}

.prose :is(ul, ol):not([class]) li + li,
.prose :is(ul, ol):not([class]) li > :is(ol, ul) {
  --flow-space: var(--space-xs);
}

.prose hr {
  --flow-space: var(--space-2xl);
}

.prose table:not([class]) {
  --table-min-width: var(--prose-width);
}
