.roadblock {
  min-width: min(max(50%, 20rem), 100%);
  max-width: min(max(50%, 20rem), 100%);

  header {
    display: grid;
    grid-template-areas: "icon heading" "icon sub-heading";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--space-s);

    .icon {
      --scale: 4;
      --offset: 2px;
      grid-area: icon;
      align-self: center;
    }

    h1 {
      grid-area: heading;
      font-weight: var(--font-bold);
    }

    h2 {
      grid-area: sub-heading;
      font-weight: var(--font-medium);
      font-size: var(--size-step-1);
      color: var(--color-mid);
    }
  }
}
