<%# locals: (admin_user:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to(admin_user, admin_admin_user_path(admin_user)) %></li>
  <% end %>

  <h1>Edit profile</h1>
<% end %>

<%= render("form", admin_user:) %>
