@use "../utils/typography" as *;

@use "katalyst/govuk/formbuilder" with (
  $govuk-font-family: "Inter",
  $govuk-text-colour: #{var(--site-text-color)},
  $govuk-typography-scale: (
    80: govuk-definition(h1),
    48: govuk-definition(h2),
    36: govuk-definition(h3),
    27: govuk-definition(h4),
    24: govuk-definition(h5),
    19: govuk-definition(h6),
    16: govuk-definition(paragraph),
    14: govuk-definition(small),
  ),
  $govuk-input-border-colour: #{var(--site-text-color)}
);

.govuk-input,
.govuk-textarea {
  color: var(--site-text-color);
}

.govuk-hint {
  max-width: var(--text-width);
}

// in the context of Koi admin forms, hang the error border in the gutter
// not a generally applicable style
.govuk-form-group--error:not(.govuk-form-group .govuk-form-group--error) {
  position: relative;
  margin-left: -18px;
  padding-left: 13px;
}

// add some koi styling to the govuk show/hide password button
[data-govuk-password-input-init] {
  max-width: var(--text-width);

  .govuk-password-input__wrapper {
    gap: 0.5rem;
  }

  .govuk-button {
    min-width: 4em;
    background: none;
    cursor: pointer;
    border: 2px solid var(--site-text-color);
  }

  .govuk-button:focus-visible,
  .govuk-button:hover {
    color: var(--site-primary);
    border-color: var(--site-primary);
  }
}
