.katalyst--tables--query {
  display: flex;
  flex-grow: 1;
  max-width: var(--text-width);

  gap: 0.25rem;
  position: relative;

  .query-input {
    flex: 1;
  }

  [role="combobox"],
  .query-input .highlight {
    max-width: unset;
    outline: none;
    border-width: 2px;
    padding: 6px 2rem 6px 5px;
    font-size: var(--size-step-0);
    line-height: var(--leading-standard);
  }

  button[type="submit"] {
    display: block;
    position: absolute;
    appearance: none;
    top: var(--space-3xs);
    right: var(--space-3xs);
    bottom: var(--space-3xs);
    max-height: 2rem;
    width: auto;
    min-width: 1.5rem;
    text-align: center;
    font-size: 0;
    font-size-adjust: none;
    background: none;
    padding: 0;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid var(--color-mid);
    color: var(--color-mid);

    /* shows keyboard shortcut when not active */

    &::before {
      display: block;
      content: "/";
      font-size: 0.8rem;
    }
  }

  [role="combobox"]:focus ~ button[type="submit"],
  button[type="submit"]:focus {
    opacity: 1;

    /* submittable */

    &::before {
      content: "⏎";
      position: relative;
      top: 2px;
    }
  }

  h4 {
    font-size: var(--size-step-0);
    font-weight: 500;
    line-height: 1.5;
    color: #666;
  }

  li::before {
    content: "";
    position: relative;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    margin-inline-end: 0.5rem;
    top: 2px;
  }

  li.suggestion.attribute::before {
    -webkit-mask: url("../../icons/database.svg") no-repeat;
    mask: url("../../icons/database.svg") no-repeat;
    background: var(--color-mid);
  }

  li.suggestion.database_value::before,
  li.suggestion.constant_value::before,
  li.suggestion.custom_value::before {
    -webkit-mask: url("../../icons/cube.svg") no-repeat;
    mask: url("../../icons/cube.svg") no-repeat;
    background: var(--color-mid);
  }

  li.suggestion.search_value::before {
    -webkit-mask: url("../../icons/search.svg") no-repeat;
    mask: url("../../icons/search.svg") no-repeat;
    background: var(--color-mid);
  }

  li.suggestion.attribute::after {
    content: ":";
    color: var(--color-mid);
  }

  footer {
    font-size: var(--size-step--1);
  }
}
