<header role="banner" aria-label="Environment" data-environment="<%= Rails.env %>">
  <span class="environment"><%= Rails.env.capitalize %></span>
  <span class="release">(<%= Koi::Release.version %>)</span>
</header>
