<header>
  <h1 class="heading"><%= yield(:title) %></h1>

  <div class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
    <%= yield(:breadcrumbs) %>
  </div>

  <div class="actions" role="navigation" aria-label="Related pages">
    <%= yield(:actions) %>
  </div>
</header>
