<nav role="navigation" aria-label="Main menu">
  <%= render "layouts/koi/navigation_header" %>
  <div class="filter">
    <input type="search" placeholder="Filter menu"/>
  </div>
  <%= navigation_menu_with(menu: Koi::Menu.admin_menu(self)) %>
</nav>
