<header>
  <h2 class="site-name"><%= URI.parse(root_url).host %></h2>
  <h3 class="admin-name">Koi Admin</h3>
  <%# default, prefer using an icon in a Koi override %>
  <span class="site-icon"><%= URI.parse(root_url).host[0] %></span>
</header>
