<% content_for :global do %>

  <%- content_for :title, "Select #{resource_class.name}" -%>

  <div class="page__with-sidebar-right">
    <div class="page--main">

      <%= render "koi/assets/listing" -%>

    </div>
    <div class="page--sidebar">
      <%= content_for?(:assets) ? yield(:assets) : yield %>
    </div>
  </div>
  
<% end %>

<%= render :file => "layouts/koi/global" %>
