<% js_data :create_asset_url, uploads_url %>
<% js_data :asset_type, resource_class.to_s %>
<% js_data :accepted_extensions, Koi::KoiAsset.const_get(resource_class.name).extensions.join(', ') %>

<% content_for :title, "Select #{resource_class.name}" %>

<% content_for :global do %>

  <div class="page__with-sidebar-right page__with-sidebar-top">
    <div class="page--main">
      <%= content_for?(:assets) ? yield(:assets) : yield %>
    </div>
    <div class="page--sidebar">
      <%= yield :side %>
    </div>
  </div>

<% end %>

<%= render template: "layouts/koi/global" %>
