<% js_data :create_asset_url, collection_path %>
<% js_data :accepted_extensions, Koi::KoiAsset.const_get(resource_class.name).extensions.join(',') %>

<%- content_for :scripts do -%>
  <%= javascript_include_tag "koi/assets" %>
<%- end -%>

<%- content_for :title, "Select #{resource_class.name}" -%>

<% content_for :global do %>

  <div class="page__with-sidebar-right">
    <div class="page--main">

      <%= render "koi/assets/listing" -%>

    </div>
    <div class="page--sidebar">
      <%= content_for?(:assets) ? yield(:assets) : yield %>
    </div>
  </div>
  
<% end %>

<%= render :file => "layouts/koi/global" %>
