<% content_for :html do %>
  <body>
    <div class="container">
        <div class="center w-560 pad-t-6">
            <div class="align-center space-b-2">
              <%= image_tag "koi/logo/katalyst/devise.png"%>
            </div>

           <%= content_for?(:devise) ? yield(:devise) : yield %>
        </div>
    </div>
  </body>
<% end %>

<%= render :file => 'layouts/koi/html' %>
