<% content_for :global do %>
  <body>
    <div class="layout--container">
      <div class="align-center">
        <%= image_tag "koi/application/logo-katalyst-devise.png"%>
      </div>
      <%= content_for?(:devise) ? yield(:devise) : yield %>
    </div>
  </body>
<% end %>

<%= render file: 'layouts/koi/global' %>
