<%# locals: (well_known:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Well Knowns", admin_well_knowns_path) %></li>
  <% end %>

  <h1>New well known</h1>
<% end %>

<%= render("form", well_known:) %>
