<div class="alert alert-error alert-block">
  <a href="" class="close" data-dismiss="alert">x</a>
  <p><strong><%= t('simple_form.error_notification.default_message') %></strong></p>
  <ul>
    <% errors.each do |error| %>
      <li><%= raw "<strong>#{error[:name].to_s.humanize}</strong> #{error[:message]}" %></li>
    <% end %>
  </ul>
</div>
