<%- unless content_for?(:flash_messages) %>
  <% flash.to_hash.slice("alert", "success", "notice", "error").each do |key, value| %>
    <div id="flash" class="panel__flash panel__<%= key.to_s %>">
      <div class="layout--container">
        <p><%= raw value %></p>
      </div>
    </div>
  <% end %>
<%- end -%>
