<% flash.each do |key, value| %>
  <%= content_tag :div, class: "alert alert-#{key.to_s} alert-block" do %>
    <a href="" class="close" data-dismiss="alert">&times;</a>
    <p><%= value %></p>
  <% end %>
<% end %>
