<% flash.each do |key, value| %>
  <%= content_tag :div, class: "island island__#{key.to_s} alert-block island__with-close" do %>
    <a href="" class="close" data-dismiss="island">&times;</a>
    <p><%= value %></p>
  <% end %>
<% end %>
