<div class="content <%= advanced.try(:[], "className") %>" id="<%= advanced.try(:[], "id") %>">
  <h2 class="heading-four">Kitchen Sink (Debug)</h2>
  <div style="padding: 10px; border: 1px solid #ccc">
    <%= debug data -%>
  </div>
</div>