<% content_for :title, "Products" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, category_product_path(@category, product) %></td>
    </tr>
  <% end %>
</table>
