<%# if Flipper.enabled?(:koi4_page_guidelines, current_admin_user) %>
  <div class="page-debug-overlay content-item" data-content-depth="0">
    <div>
      <div class="trix-content"></div>
    </div>
    <div class="center-line"></div>
    <div class="content-line"></div>
  </div>
<%# end %>
