<%% content_for :header do %>
  <%%= render(Koi::Header::EditComponent.new(resource: <%= singular_name %>)) %>
<%% end %>

<%%= form_with(model: <%= singular_name %>, url: <%= show_helper(singular_name, type: :path) %>) do |form| %>
  <%%= render "fields", form: %>

  <div class="actions">
    <%%= form.admin_save %>
    <%%= form.admin_delete %>
  </div>
<%% end %>
