<%%# locals: (<%= singular_name %>:) %>

<%% content_for(:header) do %>
  <%%= breadcrumb_list do %>
    <li><%%= link_to("<%= human_name.pluralize.titleize %>", <%= admin_index_helper %>) %></li>
  <%% end %>

  <h1>New <%= human_name.downcase %></h1>
<%% end %>

<%%= render("form", <%= singular_name %>:) %>
