<%% content_for :header do %>
    <%%= render(ResourceHeaderComponent.new(resource: <%= singular_name %>)) %>
<%% end %>

<%%= form_with(model: <%= singular_name %>, url: [:admin, <%= class_name %>], builder: Koi::FormBuilder) do |form| %>
  <%%= render "fields", form: %>

  <div class="actions">
    <%%= form.admin_save %>
  </div>
<%% end %>
