<div>
  <%= link_to "Add to Page", resource.url, class: "insert asset link", class: "btn btn-primary btn-small" %>
  <%= link_to "Delete", url_for(:action => 'delete'), :confirm => "Are you sure you want to delete this #{ resource_class.name.downcase }?", :method => 'delete', class: "btn btn-small" %>
</div>
