<% content_for :header do %>
  <%= render(PageHeaderComponent.new(title: "Edit admin user")) do |c| %>
    <% c.with_breadcrumb("Admin users", admin_admin_users_path) %>
    <% c.with_breadcrumb(admin.name, admin_admin_user_path(admin)) %>
  <% end %>
<% end %>

<%= form_with(model: admin, url: admin_admin_user_path(admin)) do |form| %>
  <%= render "form_fields", form: %>

  <div class="actions">
    <%= form.admin_save %>
  </div>
<% end %>
