<% content_for :header do %>
  <%= render ResourceHeaderComponent.new(resource: admin) %>
<% end %>

<%= form_with(model: admin, url: admin_admin_user_path(admin)) do |form| %>
  <%= render "fields", form: %>

  <div class="actions">
    <%= form.admin_save %>
  </div>
<% end %>
