<% content_for :title, "New admin user" %>
<% content_for(:breadcrumbs) do %>
  <%= link_to "Admin users", admin_admin_users_path %>
<% end %>

<%= form_with(model: admin, url: admin_admin_users_path) do |form| %>
  <%= render "form_fields", form: %>

  <div class="actions">
    <%= form.admin_save %>
  </div>
<% end %>
