<%# locals: (admin_user:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Admin users", admin_admin_users_path) %></li>
  <% end %>

  <h1>New admin user</h1>
<% end %>

<%= render("form", admin_user:) %>
