<%- content_for :title, @page.title -%>

<h2 class="heading-two">Composable JSON</h2>
<pre>
<%= JSON.pretty_generate @page.composable_json -%>
</pre>

<h2 class="heading-two">Structured composable data</h2>
<pre>
<%= JSON.pretty_generate @page.composable_sections -%>
</pre>

<% if @page.composable? %>
  <h2 class="heading-two">Composable partials</h2>
  <%= render "/shared/composables", sections: @page.composable_sections %>
<% end %>