<%- content_for :title, @page.title -%>

<%- 

  composable_data = [{
    type: "full_banner",
    banner: "thing"
  },{
    type: "section",
    section_type: "blue"
  },{
    type: "text",
    text: "......"
  },{
    type: "image",
    alignment: "center"
  },{
    type: "text",
    text: "........."
  },{
    type: "section",
    section_type: "body"
  },{
    type: "text",
    text: "...."
  },{
    type: "heading",
    heading: "This is a heading",
    size: 3
  },{
    type: "text",
    text: "..........."
  }]

  Koi::Composables.section_fallbacks = {
    "video": "fullscreen",
    "full_banner": "fullscreen"
  }

  # Group page sections as nested data
  current_composable_section = false
  composable_sections = []
  composable_data.each_with_index do |datum,index|
    # create new section if there is no current section and this
    # isn't a new section
    if !current_composable_section && !datum[:type].eql?("section")
      current_composable_section = {
        section_type: section_fallbacks[datum[:type].to_sym] || "body",
        section_data: []
      }
    end
    # create a new section if this is a new section
    if datum[:type].eql?("section")
      # push current page section to page sections if there's one available
      composable_sections << current_composable_section if current_composable_section
      # create a new section from this datum
      current_composable_section = {
        section_type: datum[:section_type] || "body",
        section_data: []
      }
    # push datum to current page section
    else
      current_composable_section[:section_data] << datum
    end
  end
  # push last section to composable_sections
  if current_composable_section && !composable_sections.include?(current_composable_section)
    composable_sections << current_composable_section
  end
  
-%>


<%- # Loop over each section to render them  -%>
<%- composable_sections.each do |section| -%>
  <div class="section__<%= section[:section_type] -%>">
    <%- section[:section_data].each do |datum| -%>
      <%= datum[:type] -%>
    <%- end -%>
  </div>
<%- end -%>