<%# locals: (url_rewrite:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Url Rewrites", admin_url_rewrites_path) %></li>
  <% end %>

  <h1>New url rewrite</h1>
<% end %>

<%= render("form", url_rewrite:) %>
