<% content_for :header do %>
  <%= render Koi::Header::NewComponent.new(model: UrlRewrite) %>
<% end %>

<%= form_with(model: url_rewrite, url: admin_url_rewrites_path) do |form| %>
  <%= render "form_fields", form: %>

  <div class="actions">
    <%= form.admin_save %>
  </div>
<% end %>
