<div class="<%= advanced.try(:[], "className") %>" id="<%= advanced.try(:[], "id") %>">
  <p>This component needs no configuration, maybe it's something hardcoded or gets data from the record itself?</p>
</div>