<%=
  if lookup_context.template_exists?("form_field_#{f.object.field_type}", [], true)
    render "form_field_#{f.object.field_type}", :f => f, :attr => attr
  else
    render "form_field_default", :f => f, :attr => attr
  end
%>
<% if !current_admin.god? && !f.object.hint.blank? %>
  <p><%= f.object.hint %></p>
<% end %>
