<div class="form--actions">
  <div class="button-group">
    <div>
      <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Continue", class: "button__save", data: { form_cleaner: "" } %>
    </div>
  </div>
</div>
