<ul class="hoverable rounded-3px padded-1 spaced-1 inline solid orange buttons h-2 ln-h-2 txt-12px">
  <%- if is_allowed?(:new) && current_admin.god? %>
    <li><%= link_to "Create", "#" %></li>
  <% end %>
  <% if respond_to? :parent %>
    <li><%= link_to "Back", collection_path %></li>
  <% end %>
</ul>
