<div class="listing--actions small">
  <%- if is_allowed?(:new) && current_admin.god? %>
    <%= link_to "Create", new_resource_path, class: "button__confirm" %>
    <%= link_to "Seed", seed_translations_path, class: "button__primary" %>
  <% end %>
  <% if respond_to? :parent %>
    <%= link_to "Back", collection_path, class: "button" %></li>
  <% end %>
</div>
