<table class="table table-striped table-condensed txt-grey font-size-12">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        <div>
          <%= sortable "data_name", "Name", style: "padding-right:15px;" %>
        </div>
      </th>
      <th>
        <div class="inline grey text button">
          <%= sortable "created_at", "Uploaded", style: "padding-right:15px;" %>
        </div>
      </th>
    </tr>

<!-- ALEX: what is this for? -->

  <!--   <tr>
      <td colspan='3'></td>
    </tr>
    <tr>
      <td colspan='3'></td>
    </tr> -->
  </thead>
  <tbody>
    <% collection.each_with_index do |asset, i| %>
      <% begin %>
        <%= render 'asset_table_row', asset: asset, i: i %>
      <% rescue Dragonfly::DataStorage::DataNotFound %>
      <% next %>
      <% end %>
    <% end %>
  </tbody>
</table>
