<table>
  <thead>
    <tr>
      <th class="w-3">
      </th>
      <th>
        <div class="inline grey text button">
          <%= sortable "data_name", "Name", style: "padding-right:15px;" %>
        </div>
      </th>
      <th>
        <div class="inline grey text button">
          <%= sortable "created_at", "Uploaded", style: "padding-right:15px;" %>
        </div>
      </th>
    </tr>
    <tr>
      <td colspan='3' class="br-b br-grey-e0 pd-t-5px"></td>
    </tr>
    <tr>
      <td colspan='3' class="h-1"></td>
    </tr>
  </thead>
  <tbody>
    <% collection.each_with_index do |asset, i| %>
      <% begin %>
        <%= render 'asset_table_row', asset: asset, i: i %>
      <% rescue Dragonfly::DataStorage::DataNotFound %>
      <% next %>
      <% end %>
    <% end %>
  </tbody>
</table>