<%= image_tag resource.thumbnail(size: '210x210'), class: "space-b-1" %>

<p class ="font-12px">
  Name: <%= resource.data.name.truncate(25) %> <br />
  Size: <%= number_to_human_size(resource.data.size) %> <br />
  Uploaded: <%= date_d_Month_yyyy resource.created_at %>
</p>


