<h1 class="h-55px ln-h-55px flt-l tx-25px">
  Select <%= resource_class.name %>
</h1>

<div class="hoverable grey text button flt-r tx-10px tx-uc tx-grey-c0">
  <%= link_to collection_path, class: "h-2 ln-h-2" do %>
    <span>Upload New <%= resource_class.name %></span>
    <span class="overlay add icon as-iblk sp-l-4px w-16px h-16px ln-h-16px pull-d-3px"></span>
  <% end %>
</div>
