<% content_for :head do %>

  <script type="text/javascript">
  $ (function ()
  {
    $ ('a[href=#close]').click (function (e)
    {
      e.preventDefault ();
      $ (window).env ('close') ();
    });
  });
  </script>

<% end %>

<div class="pad-t-1 space-l-1 ">
  <h2 class="pull-left">Select <%= resource_class.name %></h2>
  <div class="pull-right space-t-half pad-r-2">
    <%= link_to "Upload New #{resource_class.name}", collection_path, class: "btn btn-small space-r-2" %>
    <%= link_to "×", "#close", style: "font-size:20px;line-height:0px;" %>
  </div>
</div>
