////////////////////////////////////////////////////////////////////////////////
//
// This file carefully imports Ornament files in a very specific order.
//
////////////////////////////////////////////////////////////////////////////////


// ORNAMENT SETTINGS
@import "koi/settings";
@import "koi/overrides";
@import "koi/theme";

// UTILITIES AND HELPERS
@import "koi/ornament/utilities/animation";
@import "koi/ornament/utilities/arrows";
@import "koi/ornament/utilities/clearfix";
@import "koi/ornament/utilities/color-link";
@import "koi/ornament/utilities/decorate-link";
@import "koi/ornament/utilities/disable-mouse-outline";
@import "koi/ornament/utilities/font";
@import "koi/ornament/utilities/icon-tools";
@import "koi/ornament/utilities/line-height-padding";
@import "koi/ornament/utilities/lists";
@import "koi/ornament/utilities/media-query";
@import "koi/ornament/utilities/reverse-list";
@import "koi/ornament/utilities/spang";
@import "koi/ornament/utilities/flush-children";
@import "koi/ornament/utilities/input-placeholder";
@import "koi/ornament/utilities/text-wrap";
@import "koi/ornament/utilities/ellipsis";
@import "koi/ornament/utilities/flex";
@import "koi/ornament/utilities/nested-link";
@import "koi/ornament/utilities/background-cover";
@import "koi/ornament/utilities/ratio";
@import "koi/ornament/utilities/pretty-select";
@import "koi/ornament/utilities/overlay";

// ORNAMENT
@import "koi/ornament/reset";
@import "koi/components/typography";

// ADDITIONAL OVERRIDES
@import "koi/additions";

.svg {
  @import "koi/grunticon/icon-svg";
}
.no-svg {
  @import "koi/grunticon/icon-png";
}
