////////////////////////////////////////////////////////////////////////////////
//
// This file carefully imports Ornament files in a very specific order.
//
////////////////////////////////////////////////////////////////////////////////


// ORNAMENT SETTINGS
@import "koi/settings";
@import "koi/overrides";
@import "koi/theme";

// COMPASS UTILITIES
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/typography/links/hover-link";

// UTILITIES AND HELPERS
@import "koi/ornament/utilities/animation";
@import "koi/ornament/utilities/arrows";
@import "koi/ornament/utilities/color-link";
@import "koi/ornament/utilities/decorate-link";
@import "koi/ornament/utilities/font";
@import "koi/ornament/utilities/icon-tools";
@import "koi/ornament/utilities/line-height-padding";
@import "koi/ornament/utilities/lists";
@import "koi/ornament/utilities/media-query";
@import "koi/ornament/utilities/reverse-list";
@import "koi/ornament/utilities/spang";
@import "koi/ornament/utilities/flush-children";
@import "koi/ornament/utilities/input-placeholder";
@import "koi/ornament/utilities/text-wrap";
@import "koi/ornament/utilities/ellipsis";
@import "koi/ornament/utilities/flex";
@import "koi/ornament/utilities/nested-link";
@import "koi/ornament/utilities/background-cover";
@import "koi/ornament/utilities/ratio";
@import "koi/ornament/utilities/pretty-select";
@import "koi/ornament/utilities/overlay";

// VENDOR ASSETS
@import "select2";
@import "rickshaw";
@import "koi/jquery.jcrop";
@import "koi/jquery/ui";
@import "koi/jquery-ui-timepicker-addon";
@import "koi/ornament/jquery-ui-theme";
@import "koi/jquery/tagify";
@import "koi/minicolors";

// ORNAMENT
@import "koi/ornament/reset";
@import "koi/components/typography";

.svg {
  @import "koi/grunticon/icon-svg";
}
.no-svg {
  @import "koi/grunticon/icon-png";
}
