////////////////////////////////////////////////////////////////////////////////
//
// This file imports the compass reset, then does some additional resetting.
//
////////////////////////////////////////////////////////////////////////////////



@import "compass/css3/box-sizing";
@import "compass/reset";



// BOX SIZING
//
//
// Make all elements use border-box.
//

* {
  @include box-sizing(border-box);
}



// BUTTON
//
//
// Reset buttons to act like links.
//

button {
  -webkit-appearance: inherit;
  -webkit-box-align: inherit;
  // -webkit-font-smoothing: antialiased;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font: inherit;
  height: auto;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
}



// FORCED DOCUMENT HEIGHT
//
//
// BODY & HTML elements should always be 100% of the viewports height and width.
//

html, body {
  height: 100%;
  width: 100%;
}



// IMPROVED RENDERING
//
//
// Text antialiasing and image interpolation.
//

html {
  // -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

img {
  -ms-interpolation-mode: bicubic;
}



// RESPONSIVE MEDIA
//
//
// Make image, object & iframes scale down when they get squished.
//

img, embed, object, video, iframe {
  max-width: 100%;
}