.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-content-left {
  @include clearfix;
  > * {
    float: left;
  }
}

.align-content-center {
  @include clearfix;
  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.align-content-right {
  @include clearfix;
  > * {
    float: right;
  }
}

.align-box-left {
  float: left;
}

.align-box-right {
  float: right;
}
