.asset--filename {
  @include heading-four;
  margin-bottom: $xxx-small-unit;
}

.asset--thumbnail {
  img {
    width: 100%;
    max-width: 400px;
    display: block;
  }
}

.asset--information {
  padding-top: $xxx-small-unit;
}

.asset--form {
  margin-top: $xxx-small-unit;
}

.asset--options--heading {
  margin-bottom: $xxxx-small-unit;
}

.asset--options {
  margin-bottom: $xxx-small-unit;
}