.asset--filename {
  @include heading-four;
  margin-bottom: $xxx-small-unit;
  @include ellipsis;
}

.asset--thumbnail {
  img {
    max-width: 100%;
    display: inline-block;
  }
}

.asset--information {
  padding-top: $xxx-small-unit;
}

.asset--form,
.asset--tags {
  margin-top: $xxx-small-unit;
}

.asset--options--heading {
  margin-bottom: $xxxx-small-unit;
}

.asset--options {
  margin-bottom: $xxx-small-unit;
}
