.blankstate {
  padding: ($panel-padding * 3) $panel-padding;
  background: $passive-color;
  border: 1px solid $border;
  border-radius: $border-radius;
}

.blankstate--content {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
