// BREAKPOINT HELPER
.environment-development {
  &:after {
    position: fixed;
    bottom: 0;
    right: 0;
    content: "no breakpoint";
    background: #ccc;
    padding: 4px;
    font-size: 10px;
    z-index: 9050;
    @include text-shadow(1px 1px 0 rgba(#fff,0.5));

    $reverse-breakpoints: reverse-list($site-breakpoints);
    @each $breakpoint in $reverse-breakpoints {
      @include media-query(nth($breakpoint, 2)) {
        content: "breakpoint-#{nth($breakpoint, 1)} (#{nth($breakpoint, 2)})";
      }
    }

    @include media-query(320px) {
      content: "less than 320";
    }
  }
}