
.button-object {
  // empty class to extend all our buttons in to so we 
  // can target them all with .button regardless of what
  // actual class they have
}

// MIXINS

// Custom button background colours and hovers
@mixin button-background($color, $hover-color:false) {
  background: $color;

  @if($hover-color) {
    &:hover {
      background: $hover-color;
    }
  } @else {
    &:hover {
      background: darken($color, 10);
    }
  }
}

// Line button style mixin
@mixin button-line($color, $hover-color:false, $text-color:false) {
  background: transparent;
  border: 2px solid $color;

  @if($text-color) {
    @include color-link($text-color, $text-color);
  }

  @if($hover-color) {
    &:hover {
      background: transparent;
      border-color: $hover-color;
    }
  } @else {
    &:hover {
      background: transparent;
      border-color: darken($color, 10);
    }
  }
}

@mixin button-large {
  padding: $xx-small-unit $x-small-unit;
}

@mixin button-medium {
  padding: 12px 24px;
}

@mixin button-small {
  padding: 4px 8px;
}

@mixin button-base {
  @extend .button-object !optional;
  padding: 8px 12px;
  @include border-radius($border-radius);
  @include decorate-link(none, none);
  @include inline-block;
  @include font($bold-font);
  @include color-link($white, $white);

  &.button__medium {
    @include button-medium;
  }

  &.button__large {
    @include button-large;
  }

  &.button__small {
    @include button-small;
  }
}

@mixin button-primary {
  @include button-base;
  @include button-background($primary-color);
}

@mixin button-grey {
  @include button-base;
  @include color-link($foreground-color, $foreground-color);
  @include button-background($passive-color);
}

@mixin button-error {
  @include button-base;
  @include color-link($foreground-color, $foreground-color);
  @include button-background($error-color);
}

@mixin button-depressed {
  @include box-shadow(inset 2px 2px 4px 0px rgba(0,0,0,0.30));
}

// BUTTON CLASSES

.button__inactive {
  @extend .button;
  @include button-background($grey);
}


// basic button
.button,
.button__back,
.button__secondary {
  @include button-base;
  @include button-background($secondary-color);
}
.button__save-continue,
.button__primary {
  @include button-primary;
}
.button__save,
.button__confirm {
  @include button-base;
  @include button-background($success-color);
}
.button__error,
.button__cancel {
  @include button-base;
  @include button-background($error-color);
}

// button states
.button__depressed {
  @include button-depressed;
}

// line styles
.button__line {
  @include button-base;
  @include button-line($primary-color, false, $primary-color);
}
.button__secondary__line {
  @include button-base;
  @include button-line($secondary-color, false, $secondary-color);
}
.button__confirm__line {
  @include button-base;
  @include button-line($success-color, false, $success-color);
}
.button__cancel__line {
  @include button-base;
  @include button-line($error-color, false, $error-color);
}

// disabled buttons
.button[disabled] {
  @include button-background($grey,$grey);
  color: $white;
  cursor: not-allowed;
}

.button__disabled {
  @include button-base;
  @extend .button[disabled];
}

// full width buttons
.button__full {
  text-align: center;
  width: 100%;
}

// buttons with icons
.button__icon-left,
.button__icon-right {
  @include display-flex;  
  @include flex-direction(row);
  @include align-items(center);
}

.button__icon-left {
  svg {
    padding-right: $xxx-small-unit;
    // @include order(-1);
  }
}

.button__icon-right {
  svg {
    padding-left: $xxx-small-unit;
    // @include order(2);
  }
}

// button groups
.button-group {
  @include pie-clearfix;

  // Take advantage of the fact that buttons all extend the 
  // .button class here
  .button {
    @include border-radius(0);
    float: left;
  }

  .button + .button {
    margin-left: 1px;
  }

  .button:first-child {
    @include border-top-left-radius($border-radius);
    @include border-bottom-left-radius($border-radius);
  }

  .button:last-child {
    @include border-top-right-radius($border-radius);
    @include border-bottom-right-radius($border-radius);
  }
}

// button sides
.button-sides {
  @include pie-clearfix;

  .button__back {
    float: left;
  }
  .button__forward {
    float: right;
  }
}
