
.button-object {
  // empty class to extend all our buttons in to so we
  // can target them all with .button regardless of what
  // actual class they have
}

// MIXINS

// Custom button background colours and hovers
@mixin button-background($color, $hover-color:false) {
  background: $color;
  transition: background .2s;

  @if($hover-color) {
    &:hover {
      background: $hover-color;
    }
  } @else {
    &:hover {
      background: darken($color, 10);
    }
  }
}

// Line button style mixin
@mixin button-line($color, $hover-color:false, $text-color:false) {
  background: transparent;
  border: 2px solid $color;

  @if($text-color) {
    @include color-link($text-color, $text-color);
  }

  @if($hover-color) {
    &:hover {
      background: transparent;
      border-color: $hover-color;
    }
  } @else {
    &:hover {
      background: transparent;
      border-color: darken($color, 10);
    }
  }
}

@mixin button-large {
  padding: $button-large-padding;
}

// @mixin button-medium {
//   padding: $button-medium-padding;
// }

@mixin button-small {
  padding: $button-small-padding;
}

@mixin button-base {
  @extend .button-object !optional;
  padding: $button-default-padding;
  border-radius: $border-radius;
  @include decorate-link(none, none);
  display: inline-block;
  vertical-align: middle;
  @include font($bold-font);
  @include color-link($white, $white);
  border: none;

  // &.button__medium {
  //   @include button-medium;
  // }

  &.button__large {
    @include button-large;
  }

  &.button__small {
    @include button-small;
  }
}

@mixin button-primary {
  @include button-base;
  @include button-background($button-primary-background);
}

@mixin button-depressed {
  box-shadow: $button-depressed-shadow;
}

// BUTTON CLASSES

.button__inactive {
  @extend .button;
  @include button-background($button-inactive-background);
}


// basic button
.button,
.button__back,
.button__secondary {
  @include button-base;
  @include button-background($button-secondary-background);
}
.button__save-continue,
.button__primary,
.button--primary {
  @include button-primary;
}
.button__success,
.button__save,
.button__confirm {
  @include button-base;
  @include button-background($button-success-background);
}
.button__error,
.button__cancel {
  @include button-base;
  @include button-background($button-error-background);
}

// button states
.button__depressed {
  @include button-depressed;
}

// line styles
.button__line, .button--outline {
  @include button-base;
  @include button-line($button-primary-background, false, $button-primary-background);
}
.button__secondary__line, .button--secondary--outline {
  @include button-base;
  @include button-line($button-secondary-background, false, $button-secondary-background);
}
.button__confirm__line, .button--confirm--outline {
  @include button-base;
  @include button-line($button-success-background, false, $button-success-background);
}
.button__cancel__line, .button--cancel--outline {
  @include button-base;
  @include button-line($button-error-background, false, $button-error-background);
}

// button text styles
.button--text {
  @include button-base;
  @include button-line(transparent, false, $button-primary-background);
}

%button-disabled {
  @include button-background($button-disabled-background,$button-disabled-background);
  color: $white;
  cursor: not-allowed;
}

// disabled buttons
.button-object[disabled] {
  @extend %button-disabled;
}

.button__disabled {
  @include button-base;
  @extend %button-disabled;
}

// full width buttons
.button__full {
  text-align: center;
  width: 100%;
}

// buttons with icons
.button__icon,
.button__icon-left,
.button__icon-right {
  @include display-inline-flex;
  @include flex-direction(row);
  @include align-items(center);

  &.button__full {
    @include justify-content(center);
  }

  svg {
    width: 21px;
    height: 21px;
  }

  .small & svg,
  &.small svg {
    width: 18px;
    height: 18px;
  }

  path {
    fill: $white;
  }
}

.button__icon-left {
  svg {
    margin-right: $xxxxx-small-unit;
    // @include order(-1);
  }
  .small & svg,
  &.small svg {
    margin-right: 6px;
  }
}

.button__icon-right {
  svg {
    margin-left: $xxxxx-small-unit;
    @include order(2);
  }
  .small & svg,
  &.small svg {
    margin-left: 6px;
  }
}

// button group
.button-group {
  margin: -2px;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap;

  > div,
  > form {
    padding: 2px;
  }
}

// button set
.button-set {
  @include pie-clearfix;

  // Take advantage of the fact that buttons all extend the
  // .button class here
  .button-object {
    border-radius: 0;;
    float: left;
  }

  .button-object + .button-object {
    margin-left: 1px;
  }

  .button-object:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .button-object:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

// button sides
.button-sides {
  @include pie-clearfix;

  .button__back {
    float: left;
  }
  .button__forward {
    float: right;
  }
}

// =========================================================================
// Label buttons
// =========================================================================

@mixin button__pill($background:$passive-color, $color:foreground-color) {
  border-radius: $border-radius;
  padding: 4px 8px;
  font-size: $small-font-size;
  line-height: $base-line-height;
  @include font($bold-font);
  background-color: $background;
  color: $color;
  display: inline-block;

  .table td & {
    margin-top: -4px;
    margin-bottom: -4px;
  }
}

.button__pill {
  @include button__pill;
}

.button__pill__success,
.button__pill__confirm {
  @include button__pill($success-background, $success-color);
}

.button__pill__error {
  @include button__pill($error-background, $error-color-light);
}

.button__pill__warning {
  @include button__pill($warning-background, $warning-color);
}

// =========================================================================
// Badges
// =========================================================================

@mixin button__badge($background-color:$primary-color, $color:$white) {
  border-radius: 50px;
  background-color: $background-color;
  color: $color;
  padding: 0 5px;
  font-size: $small-font-size;
  line-height: $base-line-height;
  @include color-link($color, $color);
  margin-left: 4px;
  margin-right: 4px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.button__badge {
  @include button__badge;
}

.button__badge__success {
  @include button__badge($success-background, $success-color);
}

.button__badge__warning {
  @include button__badge($warning-background, $warning-color);
}

.button__badge__error {
  @include button__badge($error-background, $error-color-light);
}

.button__badge__white {
  @include button__badge($white, $foreground-color);
}
