// CKEDITOR ORNAMENT STYLES

// Align "browse server" button with input
.cke_dialog_ui_hbox .cke_dialog_ui_hbox_last {
  vertical-align: middle;
}

// Fixing height of image previews when attaching via the asset manager
.cke_dialog_ui_hbox .ImagePreviewLoader {
  height: auto !important;
}

// Restore select boxes to regular appearance type
// for some reason "initial" doesn't work here
select.cke_dialog_ui_input_select {
  -webkit-appearance: menulist;
}

.cke_screen_reader_only {
  top: 0;
  left: 0;
}
