.composable {
  display: flex;
}

// =========================================================================
// Library of components
// =========================================================================

.composable--library {
  margin-left: auto;
  border: $divider;
  border-radius: $border-radius;
  padding: $xxx-small-unit;
  min-width: 250px;
}

.composable--library--component {
  background: $passive-color;
  border-radius: $border-radius;
  padding: $xxx-small-unit;
  border: $divider;
}

.composable--library--component + .composable--library--component {
  margin-top: $xxx-small-unit;
}

// =========================================================================
// Composition
// =========================================================================

.composable--composition {
  margin-right: $default-unit;
  flex-grow: 1;
  flex-shrink: 1;
}

.composable--composition--empty {
  padding: $default-unit;
  border: $divider;
  border-radius: $border-radius;
}

// =========================================================================
// Component Header
// =========================================================================

.composable--component {
  border: $divider;
  border-radius: $border-radius;
  margin-bottom: $xxx-small-unit;
}

.composable--component--meta {
  background: $passive-color;
  border-bottom: $divider;
  display: flex;
}

.composable--component--meta--label,
.composable--component--meta--text-action {
  padding: $xxx-small-unit;
}

.composable--component--meta--label {
  margin-right: auto;
}

.composable--component--meta--text-action,
.composable--component--meta--drag {
  border-left: $divider;
}

.composable--component--meta--drag {
  background: $passive-color;
  width: $button-height;
}

.composable--component--body {
  padding: $xxx-small-unit;
  background: $white;
}