/* ISSUU */

.embed__issuu,
.issuuembed {
  position: relative;
  padding-bottom: 66%;
  padding-top: 0px;
  width: 100% !important;
  height: auto !important;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // mobile fallback
  // needs a bit of a nudge down
  .pcover {
    margin-top: 8px !important;
  }

  // image fix to help responsiveness
  .pcover img {
    top: auto !important;
    width: auto !important;
    height: auto !important;
  }

  &.issuu__mobile {
    padding: 10px 0;
  }

  // removes the free publishing with issuu tag
  // you can turn this off per-issuu but this would do
  // it across the site
  div[style*=text-align] {
    display: none;
  }
}

/* VIMEO/YOUTUBE */

.embed__vimeo,
.embed__youtube {
  position: relative;
  // padding-top: 30px; 
  height: 0; 
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.embed__vimeo {
  padding-bottom: ratio(960, 540);
}

.embed__youtube {
  padding-bottom: ratio(560, 315);
}