$form-line-height: $button-height - 2;
$form-inline-height: $button-height;
$form-width: 748px; // used for calculating % widths of inputs
$hint-color: $grey;

@mixin input__flat-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin input__flat-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// Namespace ornament forms to help migrating over to GOVUK
.ornament-form {
  // FORMS NORMALISATION
  fieldset {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  legend {
    display: none;
  }

  [type="text"],
  [type="password"],
  [type="date"],
  [type="datetime"],
  [type="email"],
  [type="number"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="url"],
  textarea {
    background: $input-background;
    border: $input-border;
    color: $input-color;
    width: $input-width;
  }

  [type="radio"],
  [type="checkbox"],
  [type="submit"] {
    cursor: pointer;
  }

  [type="radio"],
  [type="checkbox"] {
    margin: $checkbox-radio-padding;
  }

  [type="submit"] {
    line-height: inherit;
    margin: 0;
  }

  input,
  select {
    vertical-align: middle;
  }

  input,
  textarea,
  keygen,
  select {
    display: inline-block;
    vertical-align: middle;
  }

  textarea {
    height: $textarea-height;
    overflow: auto;
    max-width: 100%;
  }

  input[type="file"] {
    max-width: 100%;
  }

  button,
  input[type="submit"] {
    -webkit-appearance: none;
  }

  // Firefox 2px button issue fix
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  // FORM STYLING

  // Push embedded forms away from content
  .form-embedded {
    margin-top: $default-unit;
  }

  // Spacing between inputs and labels
  .input,
  .control-group {
    .controls {
      margin-top: $xxxx-small-unit;
    }

    label {
      display: inline-block;
    }
  }

  // Spacing between inputs and labels for ember
  .input label {
    margin-bottom: $xxx-small-unit;
  }

  // Styling input fields
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="datetime"],
  input[type="time"],
  select,
  textarea {
    border: $input-border;
    background: $white;
    line-height: $base-line-size;
    @include line-height-padding($form-line-height);
    padding-left: $xxxx-small-unit;
    padding-right: $xxxx-small-unit;
    margin: 0;
    transition: border-color 0.2s;
    border-radius: $input-border-radius;

    .layout--main & {
      border: $input-border;
      box-shadow: $input-shadow;
    }

    .layout--main .error &,
    .layout--main .fieldWithErrors & {
      border-color: $error-color;
      box-shadow: inset 2px 2px 2px 0px rgba($error-color, 0.2);
    }

    &.input__flat-right {
      @include input__flat-right;
    }

    &.input__flat-left {
      @include input__flat-left;
    }

    &:focus {
      outline: none;
      border-color: $input-border-focus-color;
    }

    &[readonly],
    &[disabled] {
      background: $passive-color;
      cursor: not-allowed;
    }

    &.form--tight,
    &.input__tight {
      padding: 6px 8px;
    }
  }

  // PLACEHOLDERS

  @include input-placeholder {
    color: $input-border-color;
  }

  select {
    width: 100%;
    font: inherit;
    color: $input-color;
  }

  // WEBKIT AND FIREFOX SELECT MENU OVER-RIDE

  @include pretty-select {
    select[multiple],
    select[multiple][size],
    select[size] {
      background-image: none;
      padding-right: 3px;
    }

    select,
    select[size="0"],
    select[size="1"] {
      background-image: url("koi/application/select_arrow.png");
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 36px;
    }
  }

  // FIELD LENGTH MODIFIERS

  .form--large {
    max-width: spanf(3, 4, $form-width);
  }

  .form--medium {
    max-width: spanf(1, 2, $form-width);
  }

  .form--small {
    max-width: spanf(1, 3, $form-width);
  }

  .form--x-small {
    max-width: spanf(1, 4, $form-width);
  }

  .form--auto {
    width: auto;
    max-width: 100%;
  }

  // RADIOS AND CHECKBOXES

  $radio-offset: 24px;

  .radio_buttons,
  .check_boxes {
    @include pie-clearfix;

    .radio,
    .checkbox {
      position: relative;
      padding-left: $radio-offset;
      margin-right: $xxx-small-unit;
      float: left;
      clear: both;

      input {
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
  }

  // Enhanced input fields
  .form--enhanced {
    .radio .form--enhanced--control {
      border-radius: 50%;
    }

    .radio,
    .checkbox {
      .form--enhanced--control {
        content: "";
        width: 1em;
        height: 1em;
        border: 1px solid $input-border-color;
        position: absolute;
        top: 0.2em;
        left: 0;
        background: $primary-color;
        box-shadow: inset 0 0 0 1em $white;
        transition: box-shadow 0.2s;
      }

      .form--enhanced--control:hover {
        border-color: $input-border-focus-color;
        cursor: pointer;
      }

      input:focus + .form--enhanced--control {
        border-color: $input-border-focus-color;
      }

      input:checked + .form--enhanced--control {
        border-color: $input-border-focus-color;
        box-shadow: inset 0 0 0 3px $white;
      }

      input {
        border: 0;
        clip: rect(0, 0, 0, 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        padding: 0;
      }
    }
  }

  .form--horizontal {
    @include pie-clearfix;

    .radio,
    .checkbox {
      float: left;
      clear: none;
      margin-right: $xx-small-unit;
    }
  }

  // SINGLE CHECKBOXES
  .checkbox__single,
  .control-group.boolean {
    position: relative;
    @include pie-clearfix;

    .controls {
      position: relative;
    }

    .controls .control-label {
      padding-left: $radio-offset;
    }

    .controls .control-label input {
      position: absolute;
      top: 5px;
      left: 0;
      margin: 0;
    }
  }

  // ERRORS & HINTS
  .help-block {
    display: block;
    clear: both;
  }

  .input .hint,
  p.hint-block {
    color: $hint-color;
    font-style: italic;
    font-size: $small-font-size;
    margin: 0;
  }

  .fieldWithErrors .error,
  span.error-block,
  p.error-block {
    color: $error-color;
    font-size: $small-font-size;
    margin-top: $xxxxx-small-unit;

    &:before {
      content: " ";
    }
  }

  // LABELS WITH ERRORS
  .error .control-label {
    color: $error-color;
  }

  // REQUIRED FIELDS
  .control-label abbr,
  abbr[title="required"] {
    color: $primary-color;
    margin-right: -3px;
  }

  // INLINE FORMS
  // [input]button

  .form-inline {
    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);
  }

  .form-inline--input {
    padding-right: $xxxxx-small-unit;
    @include flex-grow(1);
  }

  .form-inline--button + .form-inline--button {
    margin-left: $xxxxx-small-unit;
  }
}
