@import "koi/fotorama";

.fotorama-gallery {
  margin-bottom: $large-unit;
}

.fotorama__stage__frame,
.content figure {
  // background: $xxx-light-blue;
  border-radius: $border-radius;
  -webkit-transform: rotate(0.000001deg);
}

.fotorama__caption {
  background: $primary-color;
  background: rgba($primary-color, 0.8);
  right: 0;
  color: #fff;
  padding: 10px $default-unit;
  padding-right: $xx-large-unit;
  bottom: 0;
  margin-top: -40px;
  line-height: 1.7;
  border-radius: 0 0 $border-radius $border-radius;
}

.fotorama__caption {
  @include media-query(tiny) {
    display: none;
  }
}

.fotorama__caption__wrap {
  background: transparent;
  padding: 0;
  overflow: hidden;
}

.fotorama__nav-wrap {
  margin-top: $xx-small-unit;
  border-radius: $border-radius;
}

.fotorama__thumb-border {
  border-color: $primary-color;
}

// Arrows

.fotorama__arr.fotorama__arr--prev {
  @include grunticon("chevron-left-16-white", 16px);
  transform: translate3d($default-unit, 0, 0);
  position: absolute;
  padding: 0;
}

.fotorama__arr.fotorama__arr--next {
  @include grunticon("chevron-right-16-white", 16px);
  transform: translate3d(-($default-unit), 0, 0);
  position: absolute;
  padding: 0;
}

.fotorama__arr.fotorama__arr--prev,
.fotorama__arr.fotorama__arr--next {
  background: $primary-color;
  background: rgba($primary-color, 0.8);
  height: $button-height;
  width: $button-height;
  text-align: center;
  color: #fff;
  top: 50%;
  margin-top: $button-height * -0.5;
  border-radius: 50%;
  @include icon-block($button-height, 16px);
  position: absolute;
}
