// lots of .headers
// name spaced to .global-header
.header.global-header {
  background: $black;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 5px solid $primary-color;
  z-index: 990;
  position: fixed;  
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
}

.header--menu {
  @include icon-block(44px, 22px);
  background: $primary-color;
  overflow: visible;

  .icon-close,
  .layout-open & .icon-menu {
    display: none;
  }

  .layout-open & {
    @include icon-block(44px, 18px);
  }

  .layout-open & .icon-close {
    display: block;
  }
}

.header--logo {
  padding-left: $xxx-small-unit;
  @include font($bold-font);
  font-size: 18px;
  @include color-link($white, $white);
  @include decorate-link(none, none);
}

.header--actions {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  margin-left: auto;

  li + li {
    padding-left: $xxxxx-small-unit;
  }
}