// lots of .headers
// name spaced to .global-header
.header.global-header {
  background: $black;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 5px solid $primary-color;
  z-index: 990;
  @include pie-clearfix;

  @media only screen and (min-height:$breakpoint-header-sticky) { 
    position: fixed;  
  }
}

.header--menu {
  @include grunticon("menu-white", 24px);
  @include icon-block(44px, 24px);
  overflow: visible;
  float: right;
}

.header--logo {
  float: left;
  padding-top: 7px;

  img {
    display: block;
  }
}

.header--actions {
  float: right;
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);

  li + li {
    padding-left: $xxxxx-small-unit;
  }
}