// lots of .headers
// name spaced to .global-header
.header.global-header {
  background: $header-background;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: $header-border;
  z-index: 990;
  position: fixed;
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

  @include media-query($breakpoint-header, min) {
    left: $tray-width;
  }

  .layout__headerless & {
    display: none;
  }

  .body__staging & {
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      rgba($primary-color, 0.5) 20px,
      rgba($primary-color, 0.5) 40px
    );
  }
}

.header--menu {
  @include icon-block(44px, 22px);
  background: $header-menu-background;
  overflow: visible;
  outline: none;

  @include media-query($breakpoint-header, min) {
    display: none;
  }

  .icon-cross,
  .layout-open & .icon-menu {
    display: none;
  }

  .layout-open & {
    @include media-query($breakpoint-header) {
      @include icon-block(44px, 18px);
    }
  }

  .layout-open & .icon-cross {
    display: block;
  }
}

.header--logo {
  padding-left: $xxx-small-unit;
  @include font($bold-font);
  font-size: 18px;
  line-height: 44px;
  @include color-link($white, $white);
  @include decorate-link(none, none);
}

.header--environment {
  margin-left: $xxxxx-small-unit;
  color: $foreground-color;
}

.header--actions,
.refresh-actions {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  margin-right: auto;

  li + li {
    padding-left: $xxxxx-small-unit;
  }

  // Regular non-icon links
  li a {
    @include color-link($header-link-color, $header-link-hover);
    @include decorate-link(none, none);
    text-transform: uppercase;
    @include font($bold-font);
  }

  // Icon links
  .action a {
    @include display-flex;
    width: 44px;
    height: 44px;
    overflow: hidden;
    @include align-items(center);

    svg {
      display: block;
      margin: 0 auto;
    }
  }
}

.refresh-actions {
  margin-right: 0;
}
