hr,
.hr {
  margin: $small-unit 0;
  border: 0;
  height: 1px;
  position: relative;
  overflow: visible;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $divider-color;
  }
}

.hr__full {
  &:before {
    left: -100vw;
    right: -100vw;
  }
}
