.index-actions > form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 1rem;

  // checkbox styles based on govuk-frontend

  input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2.5rem;
    opacity: 0;
  }

  label:has(input[type="checkbox"]) {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    padding: 0 0 0 calc(2.5rem + 5px);
    line-height: 2.5rem;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  label:has(input[type="checkbox"])::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    aspect-ratio: 1/1;
    border: 2px solid currentcolor;
    background: transparent;
  }

  label:has(input[type="checkbox"]:focus)::before {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    box-shadow: 0 0 0 3px #ffdd00;
  }

  label:has(input[type="checkbox"])::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    left: 9px;
    width: 23px;
    height: 12px;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
  }

  label:has(input[type="checkbox"][checked])::after {
    opacity: 1;
  }
}
