@mixin sort-icon {
  display: inline-block;
  content: " ";
  position: relative;
  right: -1rem;
  background-image: url("koi/application/select-arrow.svg");
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
}

$row-height: $xxx-large-unit;

.index-table {
  margin-top: $x-small-unit;
  border: none;
  table-layout: fixed;

  thead {
    background: $light-grey;
  }

  tr {
    height: $row-height;
    line-height: $row-height;
  }

  tbody tr:nth-child(even) {
    background: $x-light-grey;
  }

  tbody tr:hover {
    background-color: $primary-color-x-light;
  }

  th,
  td {
    border: none;
    vertical-align: middle;
    box-shadow: inset 0px -1px 0px $light-grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  th > a,
  td > a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
  }

  th {
    font-weight: bold;
  }

  thead a.ascending:after,
  [data-sort="asc"] a::after {
    @include sort-icon;
    top: 0;
    transform: rotate(180deg);
  }

  thead a.descending:after,
  [data-sort="desc"] a::after {
    @include sort-icon;
    top: 4px;
  }

  th:first-of-type,
  td:first-of-type {
    padding: 0 1em;
  }

  th:not(:first-of-type),
  td:not(:first-of-type) {
    padding-right: 1em;
  }

  .button_to {
    line-height: 1.5;
  }
}
