@use "index-table/ordinal" as *;

@mixin sort-icon {
  display: inline-block;
  content: " ";
  position: relative;
  right: -1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 13'%3E%3Cpath d='M.541 0l11.125 12.573a.5.5 0 00.749 0L23.541 0h-23z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
}

$grey: #f0ecf3 !default;

$table-header-color: transparent !default;
$row-border-color: $grey !default;
$row-height: 48px !default;

.index-table {
  --row-height: #{$row-height};
  --table-header-color: #{$table-header-color};
  --row-border-color: #{$row-border-color};
}

.index-table {
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  thead {
    background: var(--table-header-color);
  }

  tr {
    height: var(--row-height);
    line-height: var(--row-height);
  }

  th,
  td {
    border: none;
    box-shadow: inset 0px -1px 0px var(--row-border-color);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    background-color: white;

    > a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
    }

    > img,
    > a > img {
      max-height: 3rem;
      padding: 0;
    }
  }

  td {
    &.koi--tables-col-currency,
    &.koi--tables-col-number {
      text-align: right;
      padding-right: 0.5rem;
    }
  }

  th {
    font-weight: bold;

    &.koi--tables-col-xs {
      width: 5rem;
    }

    &.koi--tables-col-s {
      width: 10rem;
    }

    &.koi--tables-col-m {
      width: 15rem;
    }

    &.koi--tables-col-l {
      width: 20rem;
    }
  }

  thead a.ascending:after,
  [data-sort="asc"] a::after {
    @include sort-icon;
    top: 0;
    transform: rotate(180deg);
  }

  thead a.descending:after,
  [data-sort="desc"] a::after {
    @include sort-icon;
    top: 4px;
  }

  .button_to {
    line-height: 1.5;
  }

  caption {
    margin: 2rem 0;
  }
}
