.inline-nested--heading {
  margin: $default-unit 0 $xxx-small-unit;
}

.inline-nested-form {
  margin-bottom: 20px;
  @include flush-children;
}

.inline-actions label {
  margin-bottom: 0;
}

.nested-container {
  border-top: $divider;
}

.nested-heading {
  padding: 10px;

  strong {
    float: left;
  }

  .inline-actions {
    float: right;
  }

  .inline-actions input {
    margin-top: -1px;
  }
  .inline-actions label {
    cursor: pointer;
  }

  .error-block {
    float: left;
    margin-top: 0;
    color: inherit;
    font-size: inherit;
    margin-left: .5em;
  }
}

.nested-fields {
  border: $divider;
  border-width: 0 1px;

  &.ui-sortable-helper {
    border-top: $divider;
    background: $passive-color;
  }
}

.nested-fields__heading {
  display: block;
  padding: $xxx-small-unit;
  background: $passive-color;
  border-bottom: $divider;
}

.nested-fields .drag-handler {
  float: left;
  width: 20px;
  height: 100%;
  text-indent: -9999px;
  outline: none;
  background: url("/assets/koi/lib/jquery/ui-sortable-handle.png") center left no-repeat;
  cursor: pointer;
}

.nested-fields .close-link {
  float: right;
  font-size: 0.9em;
}

.nested-fields__status {
  float: right;
  border-left: $divider;
  width: 50px;
  height: 26px;
  margin-left: 15px;
  margin-right: -10px;    
  background: url("/assets/koi/application/icon-collapse-down.png") center no-repeat;
  cursor: pointer;

  .nested-fields-visible & {
    background-image: url("/assets/koi/application/icon-collapse-up.png");
  }

  .nested-wrapper-ordering & {
    display: none;
  }
}

.nested-inline-fields {
  padding: 10px;
  border-bottom: $divider;
}

.nested-links {
  overflow: hidden;
  margin-top: $xxx-small-unit;
}