.inline-nested--heading {
  margin: $default-unit 0 $xxx-small-unit;
}

.inline-nested-form {
  margin-bottom: 20px;
  @include flush-children;
}

.inline-nested--orderable {
  display: inline-block;

  .controls {
    margin-top: 0;
  }
}

.nested-heading {
  .error-block {
    float: left;
    margin-top: 0;
    color: inherit;
    font-size: inherit;
    margin-left: 0.5em;
  }
}

.nested-fields {
  margin-top: 4px;
  border: $divider;

  &.ui-sortable-helper {
    background: $passive-color;
  }
}

.nested-fields__heading {
  background: $passive-color;
  @include display-flex;
  @include flex-direction(row);
  border-bottom: $divider;

  .nested-wrapper-ordering & {
    padding-left: 4px;
  }

  .nested-fields__heading--title {
    padding: $xxx-small-unit;
    @include flex-grow(1);
  }
}

.nested-fields .drag-handler {
  width: 44px;
  text-indent: -9999px;
  outline: none;
  background: url("koi/lib/jquery/ui-sortable-handle.png") center no-repeat;
  cursor: pointer;
}

.nested-fields .close-link {
  @include display-flex;
  @include align-items(center);
  padding-right: $xxx-small-unit;
}

.nested-fields__status {
  border-left: $divider;
  width: 50px;
  cursor: pointer;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  @include flex-grow(0);
  @include flex-shrink(0);

  .icon-chevron {
    width: 16px;
    height: 11px;
    transition: transform 0.2s;

    .nested-fields-visible & {
      transform: rotateZ(-180deg);
    }

    path {
      stroke: $dark-grey;
    }
  }

  .nested-wrapper-ordering & {
    display: none;
  }
}

.nested-inline-fields {
  padding: $panel-padding;
}

.nested-links {
  overflow: hidden;
  margin-top: $xxx-small-unit;
}
