$island-default-background: mix($primary-color, $white, 10);
$island-warning-background: mix($warning-color, $white, 10);
$island-success-background: mix($success-color, $white, 10);
$island-error-background: mix($error-color, $white, 10);

.island {
  position: relative;
  clear: both;
  background: $island-default-background;
  padding: $xxx-small-unit;
  padding-right: $xxxxx-large-unit;
  margin: $default-unit 0;
  min-height: 24px;
  box-sizing: content-box;
  border-radius: $border-radius;
  @include pie-clearfix;
  @include flush-children;

  .close {
    position: absolute;
    top: $xxx-small-unit;
    right: $xxx-small-unit;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    @include color-link($white, $white);
    @include decorate-link(none, none);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: $xxx-small-unit;
    left: $xxx-small-unit;
    width: 24px;
    height: 24px;
    // background: red;
  }

  &.island__with-close:before {
    display: none;
  }
}

// Colour variations
.island__warning {
  @extend .island;
  background: $island-warning-background;

  .close {
    background: $warning-color;
  }
}

.island__error,
.island__alert {
  @extend .island;
  background: $island-error-background;

  .close {
    background: $error-color;
  }
}

.island__success,
.island__notice {
  @extend .island;
  background: $island-success-background;

  .close {
    background: $success-color;
  }
}
