$island-background:         #333333;
$island-color:              #ffffff;
$island-error-background:   #ffcccc;
$island-error-color:        $error-color;
$island-loose-padding:      $default-unit;
$island-notice-background:  #ffffcc;
$island-notice-color:       $notice-color;
$island-padding:            $xxx-small-unit;
$island-success-background: #ccffcc;
$island-success-color:      $success-color;
$island-tight-padding:      $xxxx-small-unit;

.island {
  background: $island-background;
  color: $island-color;
  padding: $island-padding;
  margin-bottom: $default-unit;
}

.island-tight {
  padding: $island-tight-padding;
}

.island-loose {
  padding: $island-loose-padding;
}

.island-alert,
.island-error {
  background: $island-error-background;
  border: 1px solid;
  color: $island-error-color;
}

.island-notice {
  background: $island-notice-background;
  border: 1px solid;
  color: $island-notice-color;
}

.island-success {
  background: $island-success-background;
  border: 1px solid;
  color: $island-success-color;
}
