$grey-light: #f4f4f4 !default;
$grey: #ececec !default;

$table-header-color: $grey !default;
$row-background-color: $grey-light !default;
$row-border-color: $grey !default;
$row-hover-color: #fff0eb !default;
$row-height: 48px !default;

.item-table {
  --row-height: #{$row-height};
  --table-header-color: #{$table-header-color};
  --row-background-color: #{$row-background-color};
  --row-border-color: #{$row-border-color};
  --row-hover-color: #{$row-hover-color};
}

.item-table {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 1rem 0;
  border-top: 1px solid var(--row-border-color);

  dt,
  dd {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--row-border-color);
    padding: 0 1rem;
    min-height: var(--row-height);
    line-height: 1.5rem;
  }

  dt {
    font-weight: bold;
  }

  dt:nth-of-type(odd),
  dd:nth-of-type(odd) {
    background-color: var(--row-background-color);
  }
}
