$file-upload-thumbnail-width: 80px;
$file-upload-thumbnail-background: transparent;
$file-upload-breakpoint: 545px;

@include keyframes(indefinite) {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

.file-uploader--drop-zone {
  border: 1px dashed $primary-color;
  margin: 8px 0;
}

.file-uploader--drop-zone,
.file-upload--gallery-item {
  padding: 8px;
  position: relative;
  overflow: hidden;
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  @include pie-clearfix();

  progress {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-size: auto;
    background: transparent;
    z-index: 1;
  }

  progress::-webkit-progress-bar {
    background: transparent;
  }
  progress::-moz-progress-bar {
    background: transparent;
  }

  progress::-webkit-progress-value {
    background: $success-color;
    opacity: 0.1;
    transition: width 0.2s;
  }
  progress::-moz-progress-bar {
    background: $success-color;
    opacity: 0.1;
  }
  progress::-ms-fill {
    background: $success-color;
    opacity: 0.1;
  }

  &.file-upload--dropzone--over {
    border-color: $success-color;
  }

  &.saving progress,
  &.uploading progress {
    display: block;
  }

  &.saving .thumb,
  &.uploading .thumb {
    opacity: 0.2;
  }

  &.saving:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background: rgba($success-color, 0.1);
    z-index: 1;
    @include animation(indefinite 1.5s linear infinite);
  }

  &.error {
    background: $error-background;
  }
}

// Gallery items
.file-upload--gallery-item {
  border: 1px solid $grey;
  background: $white;
}

.file-upload--gallery-item--status {
  padding-left: 8px;
}

.file-upload--gallery-item + .file-upload--gallery-item {
  margin-top: 8px;
}

// Single thumbnail
.file-upload--thumbnail {
  float: left;
  // display: none;
  width: $file-upload-thumbnail-width;
  height: $file-upload-thumbnail-width;
  background: $file-upload-thumbnail-background;
  border: 2px solid $primary-color;
  position: relative;
  z-index: 2;

  .file-upload--image {
    margin-top: 0;
    max-height: 100%;
  }

  @include media-query($file-upload-breakpoint) {
    float: none;
    margin: 0 auto;
  }
}

.file-upload--image {
  .file-upload--dropzone--over & {
    opacity: 0.8;
  }
}

//
.form--file-upload--current {
  margin-top: $xxxxx-small-unit;
}

// each image (single or gallery) gets a thumbnail-container
.thumbnail-container {
  display: block;
  position: relative;
  z-index: 2;

  .thumb {
    position: relative;
  }

  svg {
    display: block;
  }

  .thumb__file {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
  }

  .thumb__file polyline {
    stroke: $primary-color;
  }
  .thumb__file text {
    fill: $primary-color;
  }

  .thumb img,
  .thumb .file {
    display: block;
    position: relative;
    z-index: 2;
  }

  .thumbnail--remove {
    top: 0;
    right: 0;
    z-index: 2;
    background: $error-color;
    cursor: pointer;
    border-radius: 50%;
    @include icon-block(32px, 16px);
    // @include grunticon("close-24-white", 24px);
    position: absolute;
    margin-top: -6px;
    margin-right: -6px;
    display: none;
  }

  &:hover .thumbnail--remove {
    // display: block;
  }
}

// helper text
.file-uploader--controls {
  margin-left: 8px;
  @include flex-grow(1);
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  @include flex-wrap;
  position: relative;
  z-index: 2;
}
.file-uploader--error {
  color: $error-color;
  display: block;

  &:before {
    content: "Error: ";
  }
}
.file-uploader--error,
.file-uploader--success {
  @include flex-grow(1);
  width: 100%;
}
.file-uploader--notes {
  @include pie-clearfix();
  p {
    color: #a8a8a8;
    font-size: 14px;
  }
}
.file-uploader--max-size {
  float: left;
}
.file-uploader--file-type {
  float: right;
  @include media-query(500px) {
    float: left;
    clear: both;
  }
}

// Thumbnail container and undo styles
.file-upload--undo,
.thumbnail-container {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .thumb {
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  img,
  span {
    max-width: none;
    max-height: none;
    pointer-events: none;
  }
}

.file-upload--undo {
  background: $file-upload-thumbnail-background;
  color: $white;
  cursor: pointer;
  text-align: center;
}

// gallery zone
.file-upload--gallery {
  @include pie-clearfix;
  padding: 8px;
  border: 1px solid $input-border-color;
  background: $passive-color;
  border-bottom: 0;
  margin-top: 8px;

  .file-upload--gallery-item[draggable]:hover,
  .file-upload--gallery-item[draggable]:hover img,
  .file-upload--gallery-item[draggable]:hover .file {
    cursor: move;
  }

  .dragging {
    border: 2px dashed $input-border-focus-color;
    background: $file-upload-thumbnail-background;

    .thumb {
      opacity: 0;
    }
  }

  .dragover {
    opacity: 0.2;
  }

  & + .file-uploader--drop-zone {
    margin-top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .thumbnail-container {
    width: 80px;

    img {
      max-width: 100%;
    }
  }

  .thumbnail-container.file {
    width: 40px;
  }
}

// Crop button
.file-upload--crop-button {
  margin-right: 8px;
}

// Crop modal styles
.form--file-crop {
  overflow: hidden;
  @include display-flex;
  @include flex-direction(column);

  // img {
  //   display: block;
  //   max-width: 100%;
  // }
}

.form--file-crop--container {
  @include flex-grow(1);
  @include flex-shrink(1);
  background: $black;
  padding: 5px;
}

.form--file-crop--footer {
  .button__full {
    border-radius: 0;
  }
}

// Remove checkbox
.form--file--remove {
  display: none;
}
