$layout-animation-duration:     0.5s;
$layout-background:             $background-color;
$layout-breakpoint:             $breakpoint-small;
$layout-container-width:        $container-width;
$layout-desktop-footer-gap:     $default-unit;
$layout-desktop-header-gap:     100px;
$layout-footer-height:          100px;
$layout-mobile-tray-width:      250px;
$layout-mobile-footer-gap:      $small-unit;
$layout-mobile-header-gap:      100px;

html {
  overflow-y: scroll;
}

body {
  background: $background-color;
}

.layout {
  height: 100%;
}

.layout--mobile-tray {
  display: none;
}

.layout--content {
  @include single-transition(transform, $layout-animation-duration);
  background: $layout-background;
  min-height: 100%;
  overflow: hidden;
}

.layout--content--aside {
  @include spang(5,24);
}

.layout--container {
  padding-left: $desktop-gutters;
  padding-right: $desktop-gutters;
  margin: 0 auto;

  @include media-query(600px) {
    padding-left: $small-gutters;
    padding-right: $small-gutters;
  }

  @include media-query(420px) {
    padding-left: $x-small-gutters;
    padding-right: $x-small-gutters;
  }
}

.layout--main {
  background: $layout-background;
  padding-bottom: $layout-desktop-footer-gap;
  padding-top: 46px;

  .layout__headerless & {
    padding-top: 0;
  }
}

// MENU OPEN
//

.layout-open {

  .layout--mobile-tray {
    display: block;
    min-height: 100%;
    float: right;
    width: $layout-mobile-tray-width;
  }

  .layout--content {
    @include translate(-($layout-mobile-tray-width), 0);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include box-shadow(0 0 10px rgba(0,0,0,0.2));
  }

}

// MENU TRANSITIONING
//

.layout-transitioning {

  overflow: hidden;
  position: relative;
  width: 100%;

  .layout--mobile-tray {
    display: block;
    min-height: 100%;
    float: right;
    width: $layout-mobile-tray-width;
  }

  .layout--content {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include box-shadow(0 0 10px rgba(0,0,0,0.1));
  }

}