$layout-animation-duration: 0.2s;
$layout-background: $background-color;
$layout-container-width: $container-width;
$layout-desktop-footer-gap: $default-unit;
$layout-desktop-header-gap: 100px;
$layout-footer-height: 100px;
$layout-mobile-tray-width: $tray-width;
$layout-mobile-footer-gap: $small-unit;
$layout-mobile-header-gap: 100px;

html {
  overflow-y: scroll;
}

body {
  background: $background-color;
}

body.lightbox-open {
  overflow: hidden;
}

.layout {
  height: 100%;

  @include media-query($breakpoint-header, min) {
    @include display-flex;
    @include flex-direction(row);
    height: auto;
  }
}

.layout--mobile-tray {
  width: $layout-mobile-tray-width;

  @include media-query($breakpoint-header, min) {
    @include order(1);
    @include flex-grow(0);
    @include flex-shrink(0);
  }

  @include media-query($breakpoint-header) {
    display: none;
    float: left;
  }
}

.layout--content {
  transition: transform $layout-animation-duration;
  background: $layout-background;
  min-height: 100%;
  overflow-x: clip;

  @include media-query($breakpoint-header, min) {
    @include flex-grow(1);
    @include flex-shrink(1);
    @include order(2);
  }
}

.layout--content--aside {
  @include spang(5, 24);
}

.layout--container {
  padding-left: $desktop-gutters;
  padding-right: $desktop-gutters;
  margin: 0 auto;

  @include media-query(600px) {
    padding-left: $small-gutters;
    padding-right: $small-gutters;
  }

  @include media-query(420px) {
    padding-left: $x-small-gutters;
    padding-right: $x-small-gutters;
  }
}

.layout--main {
  background: $layout-background;
  padding-bottom: $layout-desktop-footer-gap;
  padding-top: $header-height;

  @include media-query($breakpoint-header) {
    &:before {
      content: "";
      background: $mobile-menu-overlay-color;
      opacity: 0;
      transition: opacity 0.2s;
    }

    .layout-transitioning &:before,
    .layout-open &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 100vh;
      z-index: 100;
      transition: opacity 0.6s;
    }

    .layout-open &:before {
      opacity: $mobile-menu-overlay-opacity;
    }
  }

  .layout__headerless & {
    padding-top: 0;
  }
}

// MENU OPEN
//

.layout-open {
  .layout--content {
    @include media-query($breakpoint-header) {
      transform: translate(($layout-mobile-tray-width), 0);
    }
  }
}

// MENU TRANSITIONING
//

.layout-transitioning {
  overflow: hidden;
  position: relative;
  width: 100%;
}

// SHARED MENU TRANSITIONING AND OPEN
.layout-transitioning,
.layout-open {
  @include media-query($breakpoint-header) {
    .layout--mobile-tray {
      display: block;
      min-height: 100%;
    }
    .layout--content {
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      box-shadow: $mobile-tray-shadow;
    }
  }
}
