@import "koi/magnific-popup";

$lightbox-padding-x: $x-small-unit;
$lightbox-padding-y: $x-small-unit;
$lightbox-padding-y-bottom: $small-unit;

// Content Container
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  background: #fff;
  width: 90%;
  max-width: 740px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: $border-radius;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);

  .lightbox__small & {
    max-width: 500px;
  }

  .lightbox__tiny & {
    max-width: 400px;
  }

  .lightbox__with-close & {
    margin-top: 50px;
  }
}

.mfp-image-holder .mfp-content {
  box-shadow: none;
}

.mfp-image-holder .mfp-figure .mfp-img {
  padding-top: $x-large-unit;
}

.lightbox--container {
  border-radius: $border-radius;
}
.lightbox--header {
  background: $black;
  position: relative;
  z-index: 2;
  @include display-flex;
  border-bottom: 2px solid $primary-color;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.lightbox--header--logo {
  @include display-flex;
  @include align-items(center);
  @include flex-grow(1);
  padding: $xxxx-small-unit $xxx-small-unit;
  @include font($bold-font);
  color: $white;
}
.lightbox--header--close {
  @include display-flex;
  @include align-items(center);
  cursor: pointer;
  width: 44px;

  svg {
    display: block;
    margin: 0 auto;
    width: 16px;
    height: 16px;
  }

  path {
    stroke: #fff;
  }
}
.lightbox--content {
  overflow: auto;
  position: relative;
  z-index: 1;
}
.lightbox--footer {
  // background: $black;
  border-top: $divider;
  padding: $xxxx-small-unit;
}

// Sections in a lightbox
.lightbox--section {
  padding: $lightbox-padding-y $lightbox-padding-x $lightbox-padding-y-bottom
    $lightbox-padding-x;

  img {
    display: block;
  }

  .lightbox--map {
    height: 200px;
    margin: 0 auto;
  }
}
.lightbox--section + .lightbox--section,
.lightbox--section__flush + .lightbox--section,
.lightbox--section__flush + .lightbox--section__flush {
  border-top: 1px solid $divider-color;
}

.lightbox--content--wrapper {
  position: relative;
}
.lightbox--shadow-top,
.lightbox--shadow-bottom {
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
.lightbox--shadow-top {
  top: 0;
  background: linear-gradient(
    to top,
    rgba($overlay-color, 0) 0%,
    rgba($overlay-color, 0.3) 100%
  );
}
.lightbox--shadow-bottom {
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba($overlay-color, 0) 0%,
    rgba($overlay-color, 0.3) 100%
  );
}

// Lightbox arrows
.mfp-ajax-holder .mfp-arrow-left,
.mfp-image-holder .mfp-arrow-left {
  left: 0;
  @include grunticon("chevron-left-white", 10px, 18px);
}

.mfp-ajax-holder .mfp-arrow-right,
.mfp-image-holder .mfp-arrow-right {
  right: 0;
  @include grunticon("chevron-right-white", 10px, 18px);
}
.mfp-ajax-holder .mfp-arrow,
.mfp-image-holder .mfp-arrow {
  @include icon-block($button-height, 10px, $button-height, 18px);
  position: fixed;
  top: 50%;
  background: $secondary-color;
  background: rgba(0, 0, 0, 0.25);
  margin-top: -9px;
  z-index: 9999;
  overflow: visible;
}

// Lightbox Close Button
.mfp-inline-holder .mfp-close,
.mfp-ajax-holder .mfp-close,
.mfp-figure .mfp-close {
  opacity: 1;
  position: absolute;
  color: $white;
}

.mfp-inline-holder .mfp-close,
.mfp-ajax-holder .mfp-close {
  top: -46px;
  right: -12px;

  &:active {
    top: -46;
  }

  .lightbox__flush &,
  .lightbox__flush &:active {
    top: -$xxx-small-unit;
    right: -$xxx-small-unit;
  }
}

.mfp-figure .mfp-close,
.mfp-figure .mfp-close:active {
  top: 0;
  right: 0;
  padding-right: 0;
}

// Lightbox Arrows
.mfp-image-holder .mfp-arrow-left {
  // @include grunticon("chevron-left-16-white", 16px);
  left: $xxxxx-small-unit;
  position: absolute;
}

.mfp-image-holder .mfp-arrow-right {
  // @include grunticon("chevron-right-16-white", 16px);
  right: $xxxxx-small-unit;
  position: absolute;
}

// Removing existing arrows
.mfp-image-holder .mfp-arrow-left,
.mfp-image-holder .mfp-arrow-right {
  &:before {
    border: 0;
    opacity: 1;
  }
}

// Animated Lightbox Start
.lightbox--main .mfp-content,
.lightbox--main .mfp-arrow {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

// Animated Lightbox Open
.lightbox--main.mfp-ready .mfp-content,
.lightbox--main.mfp-ready .mfp-arrow {
  opacity: 1;
  transform: scale(1);
}

// Animated Lightbox Close
.lightbox--main.mfp-removing .mfp-content,
.lightbox--main.mfp-removing .mfp-arrow {
  opacity: 0;
  transform: scale(0.8);
}

// Animated Overlay Start
.lightbox--main.mfp-bg {
  background: $lightbox-overlay-color;
  opacity: 0.001; /* Chrome opacity transition bug */
  transition: opacity 0.3s ease-out;
}

// Animated Overlay Open
.lightbox--main.mfp-ready.mfp-bg {
  opacity: $lightbox-overlay-opacity;
}

// Animated Overlay Close
.lightbox--main.mfp-removing.mfp-bg {
  opacity: 0;
}
