// Koi module listing pages

.listing--pagination {
  margin-bottom: $x-small-unit;
  @include pie-clearfix;
}

.listing--pagination--search {
  float: left;
  width: 50%;

  form,
  form input {
    width: auto;
  }

  label {
    padding-top: 2px;
  }

  label, 
  input,
  .search--buttons {
    float: left;
  }

  input,
  .search--buttons {
    margin-left: $xxxxx-small-unit;
  }

  .input__tight {
    // pull the input out of the row, so the row height is determined by
    // the buttons
    margin-top: -4px;
    margin-bottom: -4px;
  }

}

.listing--pagination--options {
  float: right;
}

// Listing actions

.listing--actions {
  background: $dark-grey;
  padding: $xxxxx-small-unit;
}