// Koi module listing pages

.listing--pagination {
  padding-top: $xxx-small-unit;
  padding-bottom: $xxx-small-unit;
  @include display-flex;
  @include flex-direction(column);

  @include media-query(780px,min) {
    @include flex-direction(row);
    @include align-items(center);
  }
}

.listing--pagination--search {
  
}

.listing--pagination--options {
  margin-left: auto;

  @include media-query(780px) {
    padding-top: $xxxxx-small-unit;
    margin-left: 0;
  }
}

.listing--thumbnail {
  width: auto;
  display: block;
}

.listing--count {
  // background: $light-grey;
  padding: $xxxxx-small-unit 0;
  border-top: 1px solid $border;
}

// Listing actions

.listing--actions {
  background: $dark-grey;
  padding: $xxxxx-small-unit;
  @include pie-clearfix;
}