.admin-login {
  padding-top: $large-unit;
  padding-bottom: $large-unit;
  min-height: 100%;
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

.admin-login--logo {
  text-align: center;

  h1 {
    @include heading-one;
  }
}

.admin-login--body .panel__notice {
  border-bottom: 1px solid $border;
}

.admin-login--body {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  margin-top: $large-unit;
  border: 1px solid $border;
}

.admin-login .bg-lightgrey {
  background: $x-light-grey;
  padding: $panel-padding;
}

.admin-login .bg-mediumgrey {
  border-top: 1px solid $border;
  background: $light-grey;
  padding: $xxx-small-unit $panel-padding;
}

.admin-login .button-group {
  @include media-query(450px) {
    > div {
      width: 100%;
    }
    a,
    button {
      width: 100%;
      text-align: center;
    }
  }
}
