.map-canvas {
  height: 500px;
  max-height: 100%;

  img {
    max-width: initial;
  }
}

// Static map and locked map (unclickable)
.map__static,
.map__locked {
  position: relative;

  .map--static-overlay,
  .map--locked-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}
.map--locked-overlay {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: $xxx-small-unit;

  @include media-query($breakpoint-medium, min) {
    display: none;
  }

  h2,
  p {
    margin: 0;
  }

  .map__unlocked & {
    left: auto;
    bottom: auto;
  }
}

// Hide pin elements from page
[data-map-pin] {
  display: none;
}

// Infowindow content styles
.gm-style-iw {
  @include font($body-font);

  // Headings
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  // Paragraphs
  p {
    margin: 0;
  }
}

// Places Search Box
input.map--pac-input[type="text"] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.pac-container {
  z-index: 1200;
}
