$navigation-tray-background: $mobile-pane-background;
$navigation-forward-hitbox: 44px;
$navigation-forward-background: transparent;
$navigation-forward-selected: $primary-color;
$navigation-max-pane-depth: $mobile-pane-max-depth;

// Primary pane styles
$navigation-first-pane-border: $primary-color;
$navigation-first-pane-selected: $mobile-pane-focus-background;
$navigation-first-pane-link-color: $mobile-pane-link-color;
$navigation-first-pane-link-hover: $mobile-pane-link-hover;
$navigation-first-pane-link-background: $mobile-pane-link-background;
$navigation-first-pane-padding: $xxx-small-unit;
$navigation-first-pane-focus: $mobile-pane-focus-background;

// Settings if the secondary panes are different colours than primary
// If false, primary pane styles above can be considered global styles
$navigation-secondary-pane-different: false;
$navigation-secondary-pane-background: transparent;
$navigation-secondary-pane-border: lighten($primary-color, 20);
$navigation-secondary-pane-selected: lighten($primary-color, 20);
$navigation-secondary-pane-link-color: #fff;

.layout--mobile-tray {
  background: $navigation-tray-background;
}

.navigation-mobile--filter {
  padding: $xxx-small-unit;
  border-bottom: 1px solid $primary-color;
}

.navigation-mobile--filter--ancestor {
  opacity: 0.6;
  margin-bottom: 4px;
  line-height: 1.5;
  display: block;
}

.navigation-mobile--filter--no-results {
  padding: $xxx-small-unit;
  @include font($italic-font);
  color: $white;
  opacity: 0.6;
}

.navigation-mobile--filter-zone {
  display: none;
}

.navigation-mobile--header {
  border-bottom: $mobile-pane-header-border;
  line-height: 44px;
  @include font($bold-font);
  font-size: 18px;
  color: $white;
  padding: 0 $navigation-first-pane-padding;
}

.navigation-mobile {
  visibility: hidden;

  &.ready {
    visibility: visible;
    .pane-wrapper {
      will-change: transform;
      transition: 0.15s transform linear;
    }
  }
}

.navigation-mobile.complex {
  overflow: hidden;
  height: 100%;

  // wrapper div that contains all our panes
  .pane-wrapper {
    position: relative;
    height: 100%;
    transform: translateZ(0) translate(0%, 0);
    -webkit-backface-visibility: hidden;

    .no-csstransforms & {
      left: 0%;
    }
  }

  // Loop through the panes and apply offsets
  @for $i from 2 through $navigation-max-pane-depth {
    &[data-level="#{$i}"] > .pane-wrapper {
      $offsetLevel: $i - 1;
      $offset: $offsetLevel * 100%;
      transform: translate(-($offset), 0);

      .no-csstransforms & {
        left: -($offset);
      }
    }
  }

  // Setting up panes
  .pane {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .pane {
      left: 100%;
      background: $navigation-tray-background;

      @if $navigation-secondary-pane-different == true {
        background: $navigation-secondary-pane-background;
      }
    }
  }

  // making active children a higher z-index
  li.active > div {
    z-index: 2;
  }

  // Pane list styles
  .pane--navigation-container ul {
    border-bottom: 1px solid $navigation-first-pane-border;

    li + li > a,
    li + li > .faux-link {
      border-top: 1px solid $navigation-first-pane-border;
    }

    @if $navigation-secondary-pane-different == true {
      ul {
        border-bottom: 1px solid $navigation-secondary-pane-border;
      }
      ul li + li > a,
      ul li + li > .faux-link {
        border-top: 1px solid $navigation-secondary-pane-border;
      }
    }
  }

  // Link styles
  .pane-wrapper .pane {
    a,
    .faux-link {
      position: relative;
      @include color-link(
        $navigation-first-pane-link-color,
        $navigation-first-pane-link-hover
      );
      @include font($bold-font);
      @include line-height-padding($navigation-forward-hitbox);
      @include disable-mouse-outline;
    }
    .selected > a,
    .selected > .faux-link {
      background: $navigation-first-pane-selected;
    }
  }

  .navigation-item {
    > a,
    > span.faux-link,
    > button {
      display: block;
      position: relative;
      padding-left: $navigation-first-pane-padding;
      padding-right: $button-height + $navigation-first-pane-padding;
      background: $navigation-first-pane-link-background;

      &:focus {
        background: $navigation-first-pane-focus;
      }

      // Button Background
      &:before {
        content: "";
        display: block;
        width: $navigation-forward-hitbox;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: $navigation-forward-background;
      }

      // Button Icon
      svg {
        position: absolute;
        top: 50%;
        right: 14px;
        display: block;
      }

      .icon-chevron {
        transform: rotateZ(-90deg);
        margin-top: -8px;
        width: 16px;
        height: 11px;

        path {
          stroke: $white;
        }
      }

      .icon-plus {
        width: 16px;
        height: 16px;
        margin-top: -8px;

        path {
          fill: $white;
        }
      }
    }

    // Updating Icon for Forward Buttons
    &.has-children {
      > a,
      > span.faux-link,
      > button {
        @include grunticon("plus-16-white", 16px, $psuedo: after);
      }
    }
  }

  // Second level link styles
  @if $navigation-secondary-pane-different == true {
    .pane-wrapper .pane .pane {
      a {
        @include color-link(
          $navigation-secondary-pane-link-color,
          $navigation-secondary-pane-link-color
        );
        border-top-color: $navigation-secondary-pane-border;
      }

      .forward {
        color: #fff;
      }

      .selected > a {
        background: $primary-color;

        &:before {
          background: $primary-color;
        }
      }
    }
  }

  // Back buttons
  .back {
    background: $black;
    padding: 0;

    a {
      cursor: pointer;
      @include display-flex;
      @include flex-direction(row);
      @include align-items(center);
      border-radius: 0;
    }

    .icon-chevron {
      transform: rotateZ(90deg);
      padding-top: 10px;
      width: 14px;
    }

    path {
      stroke: $white;
    }
  }

  // Description blocks
  .description {
    border-top: 1px solid $navigation-first-pane-border;
    padding: $small-unit $xx-small-unit;
  }
  .description--title {
    @include font($heading-alpha-font);
    font-size: 22px;
    color: #fff;
  }
  .description--body {
    color: #fff;
    margin-top: $xxx-small-unit;
  }

  // Overview link
  .pane-wrapper .pane .description--overview a {
    margin-top: $xxx-small-unit;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: 0;
    display: block;

    &:before {
      top: 5px;
    }
  }
}

.navigation-mobile.simple {
  // First level menus
  a {
    display: block;
    padding: $navigation-first-pane-padding;
    border-bottom: 1px solid $navigation-first-pane-border;
  }

  // Second level menus
  ul ul {
    border-bottom: 1px solid $navigation-first-pane-border;
    padding: $navigation-first-pane-padding;
  }
  ul ul a {
    border-bottom: 0;
    padding: 0;
    display: inline;
  }

  // Nested menus hidden by default
  ul ul {
    display: none;
  }

  // Visible with the appropriate class
  ul li.visible ul {
    display: block;
  }
}
