.page--title {
  background: $page-title-background;

  .tabs--fallback-select {
    margin-bottom: $xxxxx-small-unit;
  }
}

.page--title--wrapper {
  padding-top: $xx-small-unit;
  padding-bottom: $xx-small-unit;
}

.page--title__border {
  border-bottom: 1px solid $page-title-border;
  margin-bottom: $default-unit;
}

.page--title--below {
  padding-top: $xxx-small-unit;
}

.page--title--content {
  @include display-flex;
  @include flex-direction(row);

  @include media-query($breakpoint-page, min) {
    @include align-items(center);
  }

  @include media-query($breakpoint-page) {
    @include flex-direction(column);
  }

  h1 {
    @include flex-grow(1);
  }
}

.page--title--actions {
  @include flex-grow(0);

  @include media-query($breakpoint-page) {
    @include order(-1);
    margin-bottom: $xxx-small-unit;
  }
}

.page__with-sidebar,
.page__with-sidebar-right {
  clear: both;
  @include flex-row($desktop-gutters);
  @include media-query($breakpoint-page) {
    @include flex-row($panel-spacing);
  }
}

.page--main {
  @include flex-col(span(8,12), $desktop-gutters);

  @include media-query($breakpoint-page) {
    @include flex-col(100%, $panel-spacing);
  }

  .page__with-sidebar & {
    @include order(1);
  }
}

.page--sidebar {
  @include flex-col(span(4,12), $desktop-gutters);
  min-height: 1px;

  @include media-query($breakpoint-page) {
    @include flex-col(100%, $panel-spacing);
  }

  .page__with-sidebar-top & {
    @include media-query($breakpoint-page) {
      @include order(-1);
    }
  }
}
