@use "../base/button" as *;

.pagy.nav a {
  @include button-text;
  border: 2px solid transparent;

  &[aria-disabled] {
    pointer-events: none;
    color: var(--site-disabled);
    font-weight: 500;
  }

  &[aria-current] {
    @include button-outline;
    pointer-events: none;
  }

  &[href]:hover {
    text-decoration: none;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
