@use "../base/button" as *;

.pagination {
  .page {
    a {
      @include button-text;
      border: 2px solid transparent;

      &:hover {
        text-decoration: none;
      }
    }

    &.prev,
    &.next {
      a {
        border: none;
        padding: 0;
      }
    }

    &.prev {
      padding-right: 1rem;
    }

    &.next {
      padding-left: 1rem;
    }
  }

  .active {
    @include button-outline;
    pointer-events: none;
  }

  .disabled {
    pointer-events: none;
    color: var(--site-disabled);
    font-weight: 500;
  }
}
