.page--title {
  padding-top: $xx-large-unit;
  padding-bottom: $xx-large-unit;
}

.page__with-sidebar,
.page__with-sidebar-right {
  @include flex-row($desktop-gutters);
}

.page--main {
  @include flex-col(span(8,12), $desktop-gutters);

  @include media-query(780px) {
    @include flex-col(100%);
  }

  .page__with-sidebar & {
    @include order(1);
  }
}

.page--sidebar {
  @include flex-col(span(4,12), $desktop-gutters);
  min-height: 1px;

  @include media-query(780px) {
    @include flex-col(100%);
  }

  .page__with-sidebar-top & {
    @include media-query(780px) {
      @include order(-1);
    }
  }
}
