$pagination-status-breakpoint: 950px;

.pagination {
  border: 1px solid $border;
  margin-top: $default-unit;
  margin-bottom: $default-unit;
  @include flush-children;
  @include display-flex;
  @include flex-direction(row);
}

.pagination--first,
.pagination--last,
.pagination--next,
.pagination--pages,
.pagination--previous,
.pagination--status {
  border-right: $divider;

  > a {
    display: block;
  }

  &.disabled,
  > a {
    padding: 12px 24px;

    @include media-query($pagination-status-breakpoint) {
      padding: 12px;
    }
  }

  &:last-child {
    border-right: none;
  }
}

.pagination--first,
.pagination--last {
  @include media-query($pagination-status-breakpoint) {
    display: none;
  }
}

.pagination--next {
  @include media-query($pagination-status-breakpoint) {
    border-right: 0;
  }
}

.pagination--status,
.pagination--pages {
  text-align: center;
  @include flex-grow(1);
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  padding-left: 12px;
  padding-right: 12px;

  .page + .page {
    margin-left: $xxxxx-small-unit;
  }

  .page.current {
    @include font($bold-font);
  }
}

.pagination--pages {
  @include media-query($pagination-status-breakpoint) {
    display: none;
  }
}

.pagination--status {
  position: relative;

  select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }

  @include media-query($pagination-status-breakpoint, min) {
    display: none;
  }
}

.pagination--gap,
.pagination .disabled {
  color: $grey;
}
