.panel {
  @include border-radius($border-radius);
  @include pie-clearfix;
}

.panel__border {
  border: $divider;
}

.panel--padding-border {
  border-top: $divider;
}

// COLOUR VARIANTS

.panel__primary {
  @extend .panel;
  background: $primary-color;
  color: $white;
  a {
    @include color-link($white,$white);
  }
}

.panel__passive {
  @extend .panel;
  background: $passive-color;
}

.panel__warning {
  @extend .panel;
  background: $notice-background;
  color: $foreground-color;

  a {
    @include color-link($foreground-color, $foreground-color);
    @include decorate-link(underline, underline);
  }
}

.panel__alert,
.panel__error {
  @extend .panel;
  background: $error-background;
  color: $error-color;
}

.panel__notice {
  @extend .panel;
  background: $notice-background;
  color: $notice-color;
}

.panel__success {
  @extend .panel;
  background: $success-background;
  color: $success-color;
}

.panel__flash {
  padding-top: $panel-padding;
  padding-bottom: $panel-padding;
  border-bottom: 1px solid;
  @include border-radius(0);
}

.panel__flash--inner {
  @include display-flex;
  @include flex-direction(row);
}

.panel__flash--message {
  @include flex-grow(1);
}

.panel__flash--close {
  @include border-radius(50%);
  @include icon-block(22px, 12px);
  background: currentColor;
  cursor: pointer;
}

// PADDING VARIANTS

.panel--padding {
  padding: $panel-padding;
}

// BORDER RADIUS VARIANTS

.panel__no-top-radius {
  @include border-top-left-radius(0);
  @include border-top-right-radius(0);
}

.panel__no-bottom-radius {
  @include border-bottom-left-radius(0);
  @include border-bottom-right-radius(0);
}

// PANEL SPACING

.panel-spacing {
  .panel + .panel,
  .panel + .panel-spacer,
  .panel-spacer + .panel-spacer,
  .panel-spacer + .panel {
    margin-top: $panel-spacing;
  }
}

// FIXED BOTTOM
.panel__flash__fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}