.panel {
  border-radius: $border-radius;
  @include pie-clearfix;
}

.panel__border {
  border: $divider;
}

.panel--border-top,
.panel--padding-border {
  border-top: $divider;
}

// COLOUR VARIANTS

.panel__primary {
  @extend .panel;
  background: $primary-color;
  color: $white;
  a {
    @include color-link($white, $white);
  }
}

.panel__passive {
  @extend .panel;
  background: $passive-color;
}

.panel__warning {
  @extend .panel;
  background: $warning-background;
  color: $foreground-color;

  a {
    @include color-link($foreground-color, $foreground-color);
    @include decorate-link(underline, underline);
  }
}

.panel__alert,
.panel__error {
  @extend .panel;
  background: $error-background;
  color: $error-color;
}

.panel__notice,
.panel__success {
  @extend .panel;
  background: $success-background;
  color: $success-color;
}

.panel__flash {
  padding-top: $panel-padding;
  padding-bottom: $panel-padding;
  // border-bottom: 1px solid currentColor;
  border-radius: 0;
}

.panel__flash--inner {
  @include display-flex;
  @include flex-direction(row);
}

.panel__flash--message {
  @include flex-grow(1);
  padding-right: $xxx-small-unit;
}

.panel__flash--close {
  @include flex-shrink(0);
  border-radius: 50%;
  @include icon-block(22px, 10px);
  background: currentColor;
  @include color-link(currentColor, currentColor);
  cursor: pointer;
}

// PADDING VARIANTS

.panel--padding {
  padding: $panel-padding;
}

// BORDER RADIUS VARIANTS

.panel__no-top-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel__no-bottom-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// PANEL SPACING

.panel-spacing {
  .panel + .panel,
  .panel + .panel-spacer,
  .panel-spacer + .panel-spacer,
  .panel-spacer + .panel {
    margin-top: $panel-spacing;
  }
}

// FIXED BOTTOM
.panel__flash__fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

// PANEL LINKS
.panel--links li,
.panel--links__block li a {
  display: block;
  padding: $xxxx-small-unit $panel-padding;
}

.panel--links li + li,
.panel--links__block li + li {
  border-top: $divider;
}
