$panel-border:          $background-color;

.panel {
  @include border-radius($border-radius);
  @include pie-clearfix;
  background: $grey;
}

.panel--padding-border {
  border-top: 1px solid $panel-border;
}

// COLOUR VARIANTS

.panel__blue {
  @extend .panel;
  background: $primary-color;
  color: $white;
  a {
    @include color-link($white,$white);
  }
}

// PADDING VARIANTS

.panel--padding__x-tight {
  padding: $panel-padding-tiny;
}

.panel--padding__tight {
  padding: $panel-padding-small;
}

.panel--padding {
  padding: $panel-padding;

  @include media-query($breakpoint-tiny) {
    padding: $panel-padding-small;
  }
}

.panel--padding__large {
  padding: $panel-padding-large;

  @include media-query($breakpoint-medium) {
    padding: $panel-padding;
  }

  @include media-query($breakpoint-tiny) {
    padding: $panel-padding-small;
  }
}

// BORDER RADIUS VARIANTS

.panel__no-top-radius {
  @include border-top-left-radius(0);
  @include border-top-right-radius(0);
}

.panel__no-bottom-radius {
  @include border-bottom-left-radius(0);
  @include border-bottom-right-radius(0);
}