$panel-border:          $background-color;

// SINGLE PANELS

.panel {
  @include border-radius($border-radius);
  @include pie-clearfix;
  display: block;
  background: $passive-color;
  overflow: hidden;
}

a.panel {
  display: block;
  @include color-link($foreground-color, $foreground-color);
  @include decorate-link(none,none);
}

.panel__default {
  @extend .panel;
  @extend .panel--padding;
}

.panel--padding-border {
  border-top: 1px solid $panel-border;
}

// COLOUR VARIANTS

.panel__primary {
  background: $primary-color;
  color: $white;
  a {
    @include color-link($white,$white);
  }
}

.panel__error {
  background: $error-color;
  color: $white;
  a {
    @include color-link($white,$white);
  }
}

.panel__warning {
  background: $warning-color;
  color: $white;
  a {
    @include color-link($white,$white);
  }
}

.panel__success {
  background: $success-color;
  color: $white;
  a {
    @include color-link($white,$white);
  }
}


// PADDING VARIANTS

@mixin panel-padding {
  padding: $panel-padding;

  @include media-query($breakpoint-tiny) {
    padding: $panel-padding-small;
  }
}

@mixin panel-padding-large {
  padding: $panel-padding-large;

  @include media-query($breakpoint-medium) {
    padding: $panel-padding;
  }

  @include media-query($breakpoint-tiny) {
    padding: $panel-padding-small;
  }
}

.panel--padding__x-tight {
  padding: $panel-padding-tiny;
}

.panel--padding__tight {
  padding: $panel-padding-small;
}

.panel--padding {
  @include panel-padding;
}

.panel--padding__large {
  @include panel-padding-large;
}

// BORDER RADIUS VARIANTS

.panel__no-top-radius {
  @include border-top-left-radius(0);
  @include border-top-right-radius(0);
}

.panel__no-bottom-radius {
  @include border-bottom-left-radius(0);
  @include border-bottom-right-radius(0);
}

// THINGS IN PANELS

.panel--avatar {
  img {
    display: block;
    margin: 0 auto;
  }
}