@media print {
  // hiding irrelevant elements
  .environment-development:before,
  .environment-staging:before,
  .layout--mobile-tray,
  .layout--mobile-header,
  .layout--desktop-header,
  .layout--mobile-footer,
  .layout--desktop-footer {
    display: none;
  }

  // HTML5 Boilerplate print enhancements
  // https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css

  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
