@import "compass/css3/inline-block";

.settings-preview--table {
  width: 100%;
  th, td {
    padding: 0.3em 0.5em;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: $breakpoint-large) {
  .settings-preview--table tr > * {
    display: none;
  }
  .settings-preview--table tr > * + * + * {
    display: table-cell;
    padding: 0.3em 0;
  }
}

/* CONTAINER WIDTH */

.settings-preview--container-width--value:before {
  content: ""+$container-width;
}

.settings-preview--container-width--sample {
  * {
    @include inline-block;
    background: #333;
    &:before {
      background: red;
      content: "";
      display: block;
      height: 100%;
      margin: 0 auto;
      width: $container-width/25;
    }
    &:after {
      display: block;
      font-size: 9px;
      text-align: center;
    }
  }
  * {
    height: (1024px)/25;
    width: (1280px)/25;
    &:after {
      content: "1280x1024";
    }
  }
  * + * {
    height: (768px)/25;
    width: (1366px)/25;
    &:after {
      content: "1366x768";
    }
  }
  * + * + * {
    height: (1050px)/25;
    width: (1680px)/25;
    &:after {
      content: "1680x1050";
    }
  }
  * + * + * + * {
    height: (1080px)/25;
    width: (1920px)/25;
    &:after {
      content: "1920x1080";
    }
  }
}

/* BREAKPOINTS */

.settings-preview--small-breakpoint--value:before {
  content: ""+$breakpoint-small;
}

@media (min-width: $breakpoint-small) {
  .settings-preview--small-breakpoint--sample:before {
    color: green;
    content: "Viewport is wider than the small breakpoint.";
  }
}

@media (max-width: $breakpoint-small) {
  .settings-preview--small-breakpoint--sample:before {
    color: red;
    content: "Viewport is thiner than the small breakpoint.";
  }
}

.settings-preview--large-breakpoint--value:before {
  content: ""+$breakpoint-large;
}

@media (min-width: $breakpoint-large) {
  .settings-preview--large-breakpoint--sample:before {
    color: green;
    content: "Viewport is wider than the large breakpoint.";
  }
}

@media (max-width: $breakpoint-large) {
  .settings-preview--large-breakpoint--sample:before {
    color: red;
    content: "Viewport is thiner than the large breakpoint.";
  }
}

/* BASE UNITS */

.settings-preview--base-font-size--value:before {
  content: ""+$base-font-size;
}

.settings-preview--base-font-size--sample {
  font-size: $base-font-size;
}

.settings-preview--base-line-height--value:before {
  content: ""+$base-line-height;
}

.settings-preview--base-line-size--value:before {
  content: ""+$base-line-size;
}

/* FONTS */

.settings-preview--body-font--value:before {
  content: ""+$body-font;
}

.settings-preview--body-font--sample {
  @include font($body-font);
}

.settings-preview--heading-alpha-font--value:before {
  content: ""+$heading-alpha-font;
}

.settings-preview--heading-alpha-font--sample {
  @include font($heading-alpha-font);
}

.settings-preview--heading-beta-font--value:before {
  content: ""+$heading-beta-font;
}

.settings-preview--heading-beta-font--sample {
  @include font($heading-beta-font);
}

.settings-preview--bold-font--value:before {
  content: ""+$bold-font;
}

.settings-preview--bold-font--sample {
  @include font($bold-font);
}

.settings-preview--italic-font--value:before {
  content: ""+$italic-font;
}

.settings-preview--italic-font--sample {
  @include font($italic-font);
}

/* COLOURS */

.settings-preview--foreground-color--value:before {
  content: ""+$foreground-color;
}

.settings-preview--foreground-color--sample {
  color: $foreground-color;
}

.settings-preview--background-color--value:before {
  content: ""+$background-color;
}

.settings-preview--background-color--sample {
  color: $background-color;
}

.settings-preview--link-color--value:before {
  content: ""+$link-color;
}

.settings-preview--link-color--sample {
  color: $link-color;
}

.settings-preview--link-hover-color--value:before {
  content: ""+$link-hover-color;
}

.settings-preview--link-hover-color--sample {
  @if ($link-hover-color == false) {
    color: $link-color;
  } @else {
    color: $link-hover-color;
  }
}

.settings-preview--error-color--value:before {
  content: ""+$error-color;
}

.settings-preview--error-color--sample {
  color: $error-color;
}

.settings-preview--notice-color--value:before {
  content: ""+$notice-color;
}

.settings-preview--notice-color--sample {
  color: $notice-color;
}

.settings-preview--success-color--value:before {
  content: ""+$success-color;
}

.settings-preview--success-color--sample {
  color: $success-color;
}

/* SPACES */

.settings-preview--sizing-unit--value:before {
  //content: ""+$sizing-unit;
}

.settings-preview--xx-small-unit--value:before {
  content: ""+$xx-small-unit;
}

.settings-preview--xx-small-unit--sample {
  background: #333;
  height: $xx-small-unit;
  min-width: 2em;
  width: 100%;
}

.settings-preview--x-small-unit--value:before {
  content: ""+$x-small-unit;
}

.settings-preview--x-small-unit--sample {
  background: #333;
  height: $x-small-unit;
  min-width: 2em;
  width: 100%;
}

.settings-preview--small-unit--value:before {
  content: ""+$small-unit;
}

.settings-preview--small-unit--sample {
  background: #333;
  height: $small-unit;
  min-width: 2em;
  width: 100%;
}

.settings-preview--default-unit--value:before {
  content: ""+$default-unit;
}

.settings-preview--default-unit--sample {
  background: #333;
  height: $default-unit;
  min-width: 2em;
  width: 100%;
}

.settings-preview--large-unit--value:before {
  content: ""+$large-unit;
}

.settings-preview--large-unit--sample {
  background: #333;
  height: $large-unit;
  min-width: 2em;
  width: 100%;
}

.settings-preview--x-large-unit--value:before {
  content: ""+$x-large-unit;
}

.settings-preview--x-large-unit--sample {
  background: #333;
  height: $x-large-unit;
  min-width: 2em;
  width: 100%;
}

.settings-preview--xx-large-unit--value:before {
  content: ""+$xx-large-unit;
}

.settings-preview--xx-large-unit--sample {
  background: #333;
  height: $xx-large-unit;
  min-width: 2em;
  width: 100%;
}

.settings-preview--xxx-large-unit--value:before {
  content: ""+$xxx-large-unit;
}

.settings-preview--xxx-large-unit--sample {
  background: #333;
  height: $xxx-large-unit;
  min-width: 2em;
  width: 100%;
}

/* INPUTS */

.settings-preview--checkbox-radio-padding--value:before {
  content: ""+$checkbox-radio-padding;
}

.settings-preview--input-background--value:before {
  content: ""+$input-background;
}

.settings-preview--input-border--value:before {
  content: ""+$input-border;
}

.settings-preview--input-border-radius--value:before {
  content: ""+$input-border-radius;
}

.settings-preview--input-color--value:before {
  content: ""+$input-color;
}

.settings-preview--input-typeface--value:before {
  content: ""+$input-typeface;
}

.settings-preview--input-padding--value:before {
  content: ""+$input-padding;
}

.settings-preview--input-width--value:before {
  content: ""+$input-width;
}

.settings-preview--textarea-height--value:before {
  content: ""+$textarea-height;
}


