// Koi module show pages

.layout--main.show {
  .show--actions {
    margin: $default-unit 0;
    @include flush-children;
  }

  .show--inline-items {
    border: $divider;
  }

  .show--inline-item {
    padding: $xxxxx-small-unit;

    img {
      display: block;
    }
  }

  .show--inline-item + .show--inline-item {
    border-top: $divider;
  }


  .heading-four {
    margin-top: 2rem;

    &:first-child {
      margin-top: unset;
    }
  }

  .heading-four + .index-table {
    margin-top: 1rem;
  }
}
