// Lock/Unlock Component

@mixin sitemap-media-query {
  @media only screen and (max-width: 1050px) and (min-width: ($breakpoint-page + 1px)) {
    @content;
  }
  @media only screen and (max-width: 450px) {
    @content;
  }
}

.sitemap--lock {
  @include display-flex;
  @include flex-direction(row);

  @include sitemap-media-query {
    @include flex-direction(column);
  }
}

.sitemap--lock--button {
  @include flex-shrink(0);

  @include sitemap-media-query {
    button {
      width: 100%;
      text-align: center;
    }
  }
}

.sitemap--lock--text {
  font-size: $small-font-size;
  padding-left: $xxx-small-unit;

  @include sitemap-media-query {
    padding-left: 0;
    padding-top: $xxx-small-unit;
  }
}

.sitemap--lock__desktop {
  @include media-query($breakpoint-page) {
    display: none;
  }
}

.sitemap--lock__mobile {
  margin-bottom: $default-unit;

  @include media-query($breakpoint-page, min) {
    display: none;
  }
}
