.sitemap--group {
  position: relative;
}

.sitemap--toggler {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  text-indent: -9999px;

  &:before {
    content: "+";
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  &.active:before {
    content: "-";
  }

  .nav-item.level-0 > & {
    display: none;
  }
}

@mixin sitemap-media-query {
  @media only screen and (max-width:1050px) and (min-width:($breakpoint-page + 1px)) { @content; }
  @media only screen and (max-width: 450px) { @content; }
}

.sitemap--lock {
  @include display-flex;
  @include flex-direction(row);

  @include sitemap-media-query {
    @include flex-direction(column);
  }
}

.sitemap--lock--button {
  @include flex-shrink(0);

  @include sitemap-media-query {
    button {
      width: 100%;
      text-align: center;
    }
  }
}

.sitemap--lock--text {
  font-size: $small-font-size;
  padding-left: $xxx-small-unit;

  @include sitemap-media-query {
    padding-left: 0;
    padding-top: $xxx-small-unit;
  }
}

.sitemap--lock__desktop {
  @include media-query($breakpoint-page) {
    display: none;
  }
}

.sitemap--lock__mobile {
  margin-bottom: $default-unit;

  @include media-query($breakpoint-page, min) {
    display: none;
  }
}