.skip-link {
  position: absolute;
  top: -45px;
  padding: $xxxxx-small-unit;
  background: $primary-color;
  z-index: 995;
  @include color-link($white, $white);
  @include transition(top .1s ease-in);

  &:focus {
    top: 0;
    left: 0;
    text-indent: 0;
  }
}