$spacing-xxxxx-tight: $xxxxx-small-unit;
$spacing-xxxx-tight: $xxxx-small-unit;
$spacing-xxx-tight: $xxx-small-unit;
$spacing-xx-tight: $xx-small-unit;
$spacing-x-tight: $x-small-unit;
$spacing-tight: $small-unit;
$spacing-default: $default-unit;
$spacing-loose: $large-unit;
$spacing-x-loose: $x-large-unit;
$spacing-xx-loose: $xx-large-unit;
$spacing-xxx-loose: $xxx-large-unit;

.spacing-xxxxx-tight {
  > * + * {
    margin-top: $spacing-xxxxx-tight;
  }
}

.spacing-xxx-tight {
  > * + * {
    margin-top: $spacing-xxxx-tight;
  }
}

.spacing-xxx-tight {
  > * + * {
    margin-top: $spacing-xxx-tight;
  }
}

.spacing-xx-tight {
  > * + * {
    margin-top: $spacing-xx-tight;
  }
}

.spacing-x-tight {
  > * + * {
    margin-top: $spacing-x-tight;
  }
}

.spacing-tight {
  > * + * {
    margin-top: $spacing-tight;
  }
}

.spacing {
  > * + * {
    margin-top: $spacing-default;
  }
}

.spacing-loose {
  > * + * {
    margin-top: $spacing-loose;
  }
}

.spacing-x-loose {
  > * + * {
    margin-top: $spacing-x-loose;
  }
}

.spacing-xx-loose {
  > * + * {
    margin-top: $spacing-xx-loose;
  }
}

.spacing-xxx-loose {
  > * + * {
    margin-top: $spacing-xxx-loose;
  }
}
