$table-border: 1px solid $divider-color;
$table-soft-border: $light-grey;
$table-striped-odd: $passive-color;
$table-striped-even: transparent;
$table-stacked-breakpoint: 500px;
$table-padding: $xxxxx-small-unit;

// =========================================================================
// Display types
// =========================================================================

.display-table {
  display: table;
  width: 100%;
}
.display-table-cell {
  display: table-cell;
}

// =========================================================================
// Default tables
// =========================================================================

table {
  width: 100%;
}

// =========================================================================
// Table types
// =========================================================================

.table__fixed-width {
  table-layout: fixed;
}

.table {
  margin: $desktop-gutters 0;
  font-size: $small-font-size;
  border: 1px solid $border;
  @include flush-children;

  td,
  th {
    padding: $xxxxx-small-unit;
    border-top: 1px solid $border;
    vertical-align: top;
  }

  tr:hover td {
    background: $table-hover-background;
  }

  th {
    background: $light-grey;
  }

  tr:first-child th {
    border-top: 0;
  }

  a.nohover {
    @include color-link($foreground-color, $foreground-color);
  }
}

.table__soft {
  td,th {
    padding: $xxxxx-small-unit;
  }
  thead th {
    border-bottom: 2px solid $table-soft-border;
  }
  tbody tr + tr td {
    border-top: 1px solid $table-soft-border;
  }
  tr:hover td {
    background: $table-hover-background;
  }
}

.table__striped {
  tr:nth-child(even) td {
    background: #fcfcfc;
  }
  &.table tr:nth-child(even):hover td,
  &.table__soft tr:nth-child(even):hover td {
    background: $table-hover-background;
  }
}

.table__flush-x {
  tr th:first-child,
  tr td:first-child {
    padding-left: 0;
  }
  tr th:last-child,
  tr td:last-child {
    padding-right: 0;
  }
}

// =========================================================================
// Column heading variation
// =========================================================================

.table-col-heading {
  background: $passive-color;
  border-right: 1px solid $border;
  @include font($bold-font);
  width: 250px;
  vertical-align: top;

  @include media-query(500px) {
    width: 150px;
  }
}

// =========================================================================
// Scrollable tables
// =========================================================================

.table-container {
  position: relative;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scroll: touch;

  .table-sorting-active & {
    overflow: hidden;
    position: static;
  }

  .ui-sortable-helper {
    background: $passive-color;
  }

  .table--listing-span {
    min-width: 100px;
    display: inline-block;
  }

  table {
    min-width: 450px;
  }
}

// =========================================================================
// Cell styling, widths and variations 
// =========================================================================

.table-row__error td {
  background: $error-background;
  color: $error-color-light;
}

.table-row__warning td {
  background: $warning-background;
  color: $warning-color;
}

.table-row__success td {
  background: $success-background;
  color: $success-color;
}

.table-row__highlight td {
  background: $table-hover-background;
}

.table__th__actions,
.table--actions--container {
  text-align: right;

  .icon-spinner {
    margin-left: auto;
  }
}

.table--image {
  width: 80px;
  min-width: 80px;

  img {
    display: block;
    margin: 0 auto;
  }

  @include media-query(600px) {
    width: 50px;
    min-width: 50px;
  }
}

.table__id {
  width: 55px;
}

.table__td__email {
  @include text-wrap;
  max-width: 150px;
}

// =========================================================================
// Sorting and  ordering 
// =========================================================================

.table td.table__td__sorter {
  vertical-align: middle;
  border-left: $divider;
  text-align: center;
  padding: 0;
}

.table__th__sorter,
.table__td__sorter {
  .table-container & {
    width: 44px;
    min-width: 44px;
    max-width: 44px;
  }
}

.table--sorter--container {
  img {
    display: block;
    margin: 0 auto;
  }
}

// Sortable table icons
table .icon.sort, 
table .icon.sort:hover {
  min-height: 16px; 
  min-width: 16px; 
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 15px;

  &.ascending, &.asc { background-image:   url("koi/application/icon-index-sort-ascending.png"); }
  &.descending, &.desc { background-image: url("koi/application/icon-index-sort-descending.png"); }
}

.table-container--outer {
  position: relative;
}

.table-container--shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: red;
  z-index: 5;
  display: none;
}

.table__td__sorter {
  cursor: move;
}

.table-container--shadow__left {
  left: 0;
  background: linear-gradient(to left, rgba($overlay-color, 0) 0%, rgba($overlay-color, .3) 100%);
}

.table-container--shadow__right {
  right: 0;
  background: linear-gradient(to right, rgba($overlay-color, 0) 0%, rgba($overlay-color, .3) 100%);
}

.table--sorter {
  cursor: pointer;
}
