$text-limiter-background: #f3f6f7;
$text-limiter-dark-grey: #a7adb3;

.form--field-with-count {
}

.form--field-with-count textarea,
.form--field-with-count input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form--field-with-count--heading {
  background: $text-limiter-background;
  color: $text-limiter-dark-grey;
  @include line-height-padding($form-line-height);
  padding-left: $xxxx-small-unit;
  padding-right: $xxxx-small-unit;
  border: 1px solid $input-border-color;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.form--field-with-count--counter {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid $text-limiter-dark-grey;
}
