.tiles-group {
  margin-top: $default-unit;
  margin-bottom: $default-unit;
  @include flush-children;
}

.tiles {
  @include flex-row($desktop-gutters);
}

.tiles__four .tiles--column {
  @include flex-col(25%,$desktop-gutters);
  @include media-query(900px) {
    @include flex-col(33.33%,$desktop-gutters);
  }
  @include media-query(700px) {
    @include flex-col(50%,$desktop-gutters);
  }
}

.tile {
  background: $light-grey;
  height: 100%;
  overflow: hidden; 
  @include display-flex;
  @include flex-direction(column);
  @include flex-grow(1);
  @include border-radius($border-radius);
}

.tile__report {
  text-align: center;
}

.tile--header {
  background: $dark-grey;
  color: $white;
  padding: $xxxxx-small-unit;
  text-align: center;
}

.tile--body {
  padding: $xxxxx-small-unit;
  @include flex-grow(1);

  .tile__report & {
    font-size: $default-unit;
    @include font($bold-font);
  }
}

.tile--footer {
  padding: $xxxxx-small-unit;
  background: $light-green;
  color: $green;
}

.tiles__dashboard .tiles--column {
  @include flex-col(25%,$desktop-gutters);
  @include media-query(900px) {
    @include flex-col(33.33%,$desktop-gutters);
  }
  @include media-query(700px) {
    @include flex-col(50%,$desktop-gutters);
  }
}