.tiles-group {
  margin-top: $default-unit;
  margin-bottom: $default-unit;
  @include flush-children;
}

.tiles {
  @include flex-row-fluid;
}

.tiles__dashboard .tiles--column,
.tiles__four .tiles--column {
  @include flex-col-fluid(25%);
  @include media-query(900px) {
    @include flex-col-fluid(33.33%);
  }
  @include media-query(700px) {
    @include flex-col-fluid(50%);
  }
}

.tile {
  background: $light-grey;
  height: 100%;
  overflow: hidden;
  @include display-flex;
  @include flex-direction(column);
  @include flex-grow(1);
  border-radius: $border-radius;
}

.tile--header {
  background: $dark-grey;
  color: $white;
  padding: $xxxxx-small-unit;
  text-align: center;
}

.tile--body {
  padding: $xxxxx-small-unit;
  @include flex-grow(1);
}

.tile--footer {
  padding: $xxxxx-small-unit;
  background: $light-green;
  color: $green;
}
