.tiles {
  @include row();
  margin-top: $default-unit;
}

.tiles__four .tiles--column {
  @include spang(1,4);
  // @include spang(2,4,small);
  // @include spanc(tiny);
}

.tile {
  background: $light-grey;
  overflow: hidden; 
  @include border-radius($border-radius);
}

.tile__report {
  text-align: center;
}

.tile--header {
  background: $dark-grey;
  color: $white;
  padding: $xxxxx-small-unit;
  text-align: center;
}

.tile--body {
  padding: $xxxxx-small-unit;

  .tile__report & {
    font-size: $default-unit;
    @include font($bold-font);
  }
}

.tile--footer {
  padding: $xxxxx-small-unit;
  background: $light-green;
  color: $green;
}