$tooltip-arrow: false; // this can be a url()
$tooltip-arrow-height: 6px;
$tooltip-background: rgba($black, 0.9);
$tooltip-border: none;
$tooltip-color: #fff;
$tooltip-padding: 4px 8px;
$tooltip-width: auto;
$tooltip-z-index: 992;

.tooltip {
  //
}

.tooltip--hide {
  display: none;
}

.tooltip--wrapper {
  cursor: pointer;
  position: relative;
}

.tooltip--outer {
  top: 100%;
  left: 50%;
  position: absolute;
  z-index: $tooltip-z-index;
}

.tooltip--inner {
  background: $tooltip-background;
  border: $tooltip-border;
  color: $tooltip-color;
  position: absolute;
  width: $tooltip-width;
  border-radius: $border-radius;
  font-size: $small-font-size;
  text-shadow: 1px 1px 0 $black;

  .tooltip--outer.tleft & {
    left: -10px;
  }

  .tooltip--outer.tright & {
    left: 10px;
  }

  .tooltip--outer.ttop & {
    top: -10px;
  }

  .tooltip--outer.tbottom & {
    top: 10px;
  }

  .tooltip--outer.atop & {
    top: -10px;
  }

  .tooltip--outer.abottom & {
    top: 10px;
  }
}

.tooltip--content {
  padding: $tooltip-padding;
}

.tooltip--arrow {
  position: absolute;
  border: $tooltip-arrow-height solid transparent;

  .tooltip--outer.tright & {
    left: -12px;
    border-right-color: $tooltip-background;
  }

  .tooltip--outer.tleft & {
    right: -12px;
    border-left-color: $tooltip-background;
  }

  .tooltip--outer.ttop & {
    bottom: -12px;
    border-top-color: $tooltip-background;
  }

  .tooltip--outer.tbottom & {
    top: -12px;
    border-bottom-color: $tooltip-background;
  }

  .tooltip--outer.atop & {
    top: 13px;
  }

  .tooltip--outer.abottom & {
    bottom: 13px;
  }

  .tooltip--outer.aleft & {
    left: 13px;
  }

  .tooltip--outer.aright & {
    right: 13px;
  }

  .tooltip--outer.tleft.amiddle &,
  .tooltip--outer.tright.amiddle & {
    top: 50%;
    margin-top: -($tooltip-arrow-height);
  }

  .tooltip--outer.ttop.amiddle &,
  .tooltip--outer.tbottom.amiddle & {
    left: 50%;
    margin-left: -($tooltip-arrow-height);
  }
}
