// FONTS

$body-font: ('Open Sans', sans-serif) normal normal;
$italic-font: ('Open Sans', sans-serif) italic normal;

$bold-font: ('Open Sans', sans-serif) normal bold;
$bold-italic-font: ('Open Sans', sans-serif) italic bold;

$heading-alpha-font: ('Open Sans', sans-serif) normal bold;
$heading-alpha-font-italic: ('Open Sans', sans-serif) italic bold;

$heading-beta-font: ('Open Sans Condensed', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif) normal bold;
$heading-beta-font-italic: ('Open Sans', sans-serif) italic bold;

$input-typeface: $body-font;


// BODY

@mixin body-type() {
 @include font($body-font);
 font-size: $base-font-size;
 line-height: $base-line-height;
}

body, .body-type {
  @include body-type();
}


// HEADINGS

@mixin heading-one() {
  @include font($heading-alpha-font);
  font-size: 44px;
  line-height: 64px;
  font-weight: 300;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include media-query($breakpoint-typography) {
    font-size: 40px;
    line-height: 50px;
  }
}
.heading-one {
  @include heading-one();
}

@mixin heading-two() {
  @include font($heading-alpha-font);
  font-size: 28px;
  line-height: 40px;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include media-query($breakpoint-typography) {
    line-height: 36px;
    font-size: 26px;
  }
}
.heading-two {
  @include heading-two();
}

@mixin heading-three() {
  @include font($heading-alpha-font);
  font-size: 24px;
  line-height: 34px;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include media-query($breakpoint-typography) {
    font-size: 20px;
  }
}
.heading-three {
  @include heading-three();
}

@mixin heading-four() {
  @include font($heading-alpha-font);
  font-size: 18px;
  line-height: $base-line-height;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@mixin heading-five() {}
@mixin heading-six() {}

@mixin heading-module {
  @include font($heading-alpha-font);
  font-size: 36px;
  line-height: 48px;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  @include media-query($breakpoint-typography) {
    font-size: 30px;
    line-height: 40px;
  }
}


// INLINE STYLES

strong, b {
  @include font($bold-font);
}

em, i {
  @include font($italic-font);
}

em b, em strong,
i b, i strong,
b i, b em,
strong i, strong em {
  @include font($bold-italic-font);
}

small {
  @include font($body-font);
  font-size: $small-unit;
  line-height: 1;
}


// LINKS

a, button {
  @include decorate-link(none, underline);
  @include color-link($link-color, $link-hover-color);
}


// FORMS

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], textarea {
  @include font($input-typeface);
}


// TABLES

th {
  @include font($bold-font);
}

// BASE TYPOGRAPHY

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $foreground-color;
  @include font($body-font);
}

a, button {
  @include decorate-link(none, underline);
  @include color-link($link-color, $link-hover-color);
}

[type="text"], [type="password"], [type="date"], [type="datetime"],
[type="email"], [type="number"], [type="search"], [type="tel"], [type="time"],
[type="url"], textarea {
  font: inherit;
  font-size: $base-font-size;
  line-height: $base-line-height;
  @include font($body-font);
}