// BODY

@mixin body-type() {
 @include font($body-font);
 font-size: $base-font-size;
 line-height: $base-line-height;
}

body, .body-type {
  @include body-type();
}


// HEADINGS

@mixin heading-one() {
  @include font($heading-alpha-font);
  font-size: 44px;
  line-height: 64px;
  font-weight: 300;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include media-query($breakpoint-typography) {
    font-size: 40px;
    line-height: 50px;
  }
}
.heading-one {
  @include heading-one;
}

@mixin heading-two() {
  @include font($heading-alpha-font);
  font-size: 28px;
  line-height: 40px;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include media-query($breakpoint-typography) {
    line-height: 36px;
    font-size: 26px;
  }
}
.heading-two {
  @include heading-two;
}

@mixin heading-three() {
  @include font($heading-alpha-font);
  font-size: 24px;
  line-height: 34px;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include media-query($breakpoint-typography) {
    font-size: 20px;
  }
}
.heading-three {
  @include heading-three;
}

@mixin heading-four() {
  @include font($heading-alpha-font);
  font-size: 18px;
  line-height: $base-line-height;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.heading-four {
  @include heading-four;
}

@mixin heading-five() {}
.heading-give {
  @include heading-five;
}

@mixin heading-six() {
  text-transform: uppercase;
  font-size: 14px;
  color: $grey;
}
.heading-six {
  @include heading-six;
}

@mixin heading-module {
  @include font($heading-alpha-font);
  font-size: 36px;
  line-height: 48px;
  em {
    @include font($heading-alpha-font-italic);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  @include media-query($breakpoint-typography) {
    font-size: 30px;
    line-height: 40px;
  }
}


// INLINE STYLES

strong, b {
  @include font($bold-font);
}

em, i {
  @include font($italic-font);
}

em b, em strong,
i b, i strong,
b i, b em,
strong i, strong em {
  @include font($bold-italic-font);
}

small {
  @include font($body-font);
  font-size: $small-font-size;
  line-height: 1;
}

.small {
  font-size: $small-font-size;
}

.grey {
  color: $grey;
}

// LINKS

a, button {
  @include decorate-link(none, underline);
  @include color-link($link-color, $link-hover-color);
}

// TABLES

th {
  @include font($bold-font);
}

// BASE TYPOGRAPHY

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $foreground-color;
  @include font($body-font);
}

a, button {
  @include decorate-link(none, underline);
  @include color-link($link-color, $link-hover-color);
}

.ornament-form {
  [type="text"], [type="password"], [type="date"], [type="datetime"],
  [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"],
  [type="url"], textarea {
    font: inherit;
    line-height: $base-line-height;
    @include font($body-font);
  }
}

// STYLEGUIDE CODE 

@mixin pre-code {
  border: 1px solid $light-grey;
  background: $white;
  padding: 0.5em 1em;
  overflow: auto;
  word-wrap: normal;
  font-family: $code-font;
  border-radius: $border-radius;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
  text-shadow: 1px 1px #fff;
}

pre.code {
  @include pre-code;
}

@mixin code {
  font-family: $code-font;
  border: $divider;
  background: $passive-color;
  padding: .3em .3em .2em;
  border-radius: $border-radius;
  text-shadow: 1px 1px #fff;
  white-space: nowrap;
}

span.code,
code {
  @include code;
}

// Disabled with for links

.link-disabled {
  .icon-spinner {
    display: block;
    width: 17px;
    height: 17px;
  }
  .icon-spinner path {
    fill: $primary-color;
  }
}
