/* 
  VERTRE - Vertically Responsive
  Vertically centre an image inside a responsive box

  http://stackoverflow.com/a/18516474
  http://css-tricks.com/centering-in-the-unknown/
*/

.vertre {
  width: 100%;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .vertre--inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font: 0/0 a;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  .vertre--inner img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
  }
}
