
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
* html .clearfix {zoom:1;} /* IE6 */
*:first-child + html .clearfix {zoom:1;} /* IE7 */

.as-inline {display:inline;}
.as-iblock {display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.as-block {display:block;}
.as-table {display:table;}
.as-cell {display:table-cell;}
.as-row {display:table-row;}
.invisible {visibility:hidden;}
.visible {visibility:visible;}
.hide, .hidden {display:none;}

.wrap {overflow:auto; width:100%;}
.clear {clear:both;}
.float-l {float:left;}
.float-r {float:right;}

.float-l-li > li, .floated-l-list > li {float:left;}
.float-r-li > li, .floated-r-list > li {float:right;}
.inline-li > li, .inline-list > li {display:inline;}
.iblock-li > li, .iblock-list > li, .inline-block-li > li, .inline-block-list > li {display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}

.spaced-t-list > li + li {margin-top:10px;}
.spaced-l-list > li + li {margin-left:10px;}
.spaced-b-list > li {margin-bottom:10px;}
.spaced-b-list > li:last-child, .spaced-b-list > li.last-child {margin-bottom:0;}
.spaced-r-list > li {margin-right:10px;}
.spaced-r-list > li:last-child, .spaced-r-list > li.last-child {margin-right:0;}

.align-t {vertical-align:top;}
.align-m {vertical-align:bottom;}
.align-b {vertical-align:bottom;}
.align-base, .align-baseline {vertical-align:baseline;}

.font-0 {font-size:0;}
.font-bold {font-weight:bold;}

.text-hidden {display:block; text-align:left; text-indent:-9999px;}
.text-l, .txt-left {text-align:left;}
.text-r, .txt-right {text-align:right;}
.text-c, .txt-center {text-align:center;}
.text-lowercase, .lowercase {text-transform:lowercase;}
.text-uppercase, .uppercase {text-transform:lowercase;}
.text-nbsp, .txt-nowrap, .nowrap {white-space:nowrap;}

hr.space, hr.space-5px {background:#fff; color:#fff; visibility:hidden;}
hr.space-5px {margin-bottom:4px;}

.w-10pc {width:10%;}
.w-20pc {width:20%;}
.w-24pc {width:24%;}
.w-25pc {width:25%;}
.w-30pc {width:30%;}
.w-33pc {width:33%;}
.w-40pc {width:40%;}
.w-49pc {width:49%;}
.w-50pc {width:50%;}
.w-60pc {width:60%;}
.w-66pc {width:66%;}
.w-70pc {width:70%;}
.w-74pc {width:74%;}
.w-75pc {width:75%;}
.w-80pc {width:80%;}
.w-90pc {width:90%;}
.w-99pc {width:99%;}
.w-100pc {width:100%;}

@each $u in 0 5px 1 15px 2 25px 3 35px 4 45px 5 55px 6 65px 7 75px 8 85px 9 95px
{ @include define-dimensions($u); }

