@function px($u)
{ @return if(unitless($u), $u * 10px, $u); }

@mixin define-push-up($u, $px: px($u))
{ .push-u-#{$u} {bottom:$px; position:relative;} }

@mixin define-push-down($u, $px: px($u))
{ .push-d-#{$u} {top:$px; position:relative;} }

@mixin define-push-left($u, $px: px($u))
{ .push-l-#{$u} {right:$px; position:relative;} }

@mixin define-push-right($u, $px: px($u))
{ .push-r-#{$u} {left:$px; position:relative;} }

@mixin define-push($u, $px: px($u))
{
  @include define-push-up($u, $px: px($u));
  @include define-push-down($u, $px: px($u));
  @include define-push-left($u, $px: px($u));
  @include define-push-right($u, $px: px($u));
}

@mixin define-pull-up($u, $px: px($u))
{ .pull-u-#{$u} {top:-$px;position:relative;} }

@mixin define-pull-down($u, $px: px($u))
{ .pull-d-#{$u} {bottom:-$px; position:relative;} }

@mixin define-pull-left($u, $px: px($u))
{ .pull-l-#{$u} {left:-$px; position:relative;} }

@mixin define-pull-right($u, $px: px($u))
{ .pull-r-#{$u} {right:-$px; position:relative;} }

@mixin define-pull($u, $px: px($u))
{
  @include define-pull-up($u, $px: px($u));
  @include define-pull-down($u, $px: px($u));
  @include define-pull-left($u, $px: px($u));
  @include define-pull-right($u, $px: px($u));
}

@mixin define-pad-top($u, $px: px($u))
{ .pad-t-#{$u}, .pad-tb-#{$u}, .pad-ltr-#{$u}, .pad-box-#{$u}, .pad-#{$u} {padding-top:$px;} }

@mixin define-pad-bottom($u, $px: px($u))
{ .pad-b-#{$u}, .pad-tb-#{$u}, .pad-lbr-#{$u}, .pad-#{$u} {padding-bottom:$px;} }

@mixin define-pad-left($u, $px: px($u))
{ .pad-l-#{$u}, .pad-lr-#{$u}, .pad-ltr-#{$u}, .pad-lbr-#{$u}, .pad-box-#{$u}, .pad-#{$u} {padding-left:$px;} }

@mixin define-pad-right($u, $px: px($u))
{ .pad-r-#{$u}, .pad-lr-#{$u}, .pad-ltr-#{$u}, .pad-lbr-#{$u}, .pad-box-#{$u}, .pad-#{$u} {padding-right:$px;} }

@mixin define-pad($u, $px: px($u))
{
  @include define-pad-top($u, $px: px($u));
  @include define-pad-bottom($u, $px: px($u));
  @include define-pad-left($u, $px: px($u));
  @include define-pad-right($u, $px: px($u));
}

@mixin define-space-top($u, $px: px($u))
{ .space-t-#{$u} {margin-top:$px;} }

@mixin define-space-bottom($u, $px: px($u))
{ .space-b-#{$u} {margin-bottom:$px;} }

@mixin define-space-left($u, $px: px($u))
{ .space-l-#{$u} {margin-left:$px;} }

@mixin define-space-right($u, $px: px($u))
{ .space-r-#{$u} {margin-right:$px;} }

@mixin define-space($u, $px: px($u))
{
  @include define-space-top($u, $px: px($u));
  @include define-space-bottom($u, $px: px($u));
  @include define-space-left($u, $px: px($u));
  @include define-space-right($u, $px: px($u));
}

@mixin define-backspace-top($u, $px: px($u))
{ .backspace-t-#{$u} {margin-top:-$px;} }

@mixin define-backspace-bottom($u, $px: px($u))
{ .backspace-b-#{$u} {margin-bottom:-$px;} }

@mixin define-backspace-left($u, $px: px($u))
{ .backspace-l-#{$u} {margin-left:-$px;} }

@mixin define-backspace-right($u, $px: px($u))
{ .backspace-r-#{$u} {margin-right:-$px;} }

@mixin define-backspace($u, $px: px($u))
{
  @include define-backspace-top($u, $px: px($u));
  @include define-backspace-bottom($u, $px: px($u));
  @include define-backspace-left($u, $px: px($u));
  @include define-backspace-right($u, $px: px($u));
}

@mixin define-line-height($u, $px: px($u))
{ .line-h-#{$u}, .line-height-#{$u} {line-height:$u;} }

@mixin define-height($u, $px: px($u))
{ .height-#{$u} {height:$u;} }

@mixin define-width($u, $px: px($u))
{ .width-#{$u} {width:$u;} }

@mixin define-dimensions($u, $px: px($u))
{
  @include define-pad($u, $px);
  @include define-push($u, $px);
  @include define-pull($u, $px);
  @include define-space($u, $px);
  @include define-backspace($u, $px);
  @include define-line-height($u, $px);
  @include define-height($u, $px);
  @include define-width($u, $px);
}
