<%# locals: (admin_user:) %>

<%= content_for(:roadblock) do %>
  <header>
    <icon aria-hidden="true" class="icon" data-icon="fingerprint"></icon>
    <h1>Create a passkey</h1>
  </header>
  <p>
    Passkeys are secure secrets that are stored by your device.
    You will need the device where your passkey is stored to log in.
  </p>
  <p>
    Unlike a password, your password doesn't get sent to the server when you log
    in and can't be stolen in a data breach. When you log in with a passkey,
    your operating system will prompt you for permission to use the passkey
    secret to authenticate the login attempt.
  </p>
  <p>
    We recommend that you store your passkey on your phone or cloud account.
    Depending on your browser, you may need to choose "more options" to see
    a QR code that you can scan with your phone.
  </p>

  <%= form_with(model: Admin::Credential.new,
                url:   admin_profile_credentials_path,
                data:  {
                  controller:                          "webauthn-registration",
                  action:                              "submit->webauthn-registration#submit",
                  webauthn_registration_options_value:,
                }) do |form| %>
    <%= form.hidden_field :response, data: { webauthn_registration_target: "response" } %>
    <%= form.button("Next", type: :submit, class: "button") %>
  <% end %>
<% end %>
