<table>
  <tr>
  <% resource_class.attributes(:index).each do |attr| %>
    <th><%= t "simple_form.labels.#{resource_class.name.underscore}.#{attr}",
                   :default => attr.to_s.titleize %></th>
  <% end %>
    <th>Actions</th>
  </tr>
  <tr>
  <% collection.each do |object| %>
    <tr>
      <% resource_class.attributes(:index).each do |attr| %>
      <td>
      <%= begin
            render crud_partial(attr, :index), { :attr => attr, :object => object }
          rescue ActionView::MissingTemplate
            render "index_field_default", { :attr => attr, :object => object }
          end
      %>
      </td>
      <% end %>
      <td>
        <%= render "index_fields_actions", { :object => object } %>
      </td>
  <% end %>
  </tr>
</table>
