<%- resource_class.attributes(:show).each do |attr| -%>
<p>
  <%=
    if lookup_context.template_exists?(crud_partial(attr, :show), [], true)
      render crud_partial(attr, :show), { :attr => attr }
    else
      render "show_field_default", { :attr => attr }
    end
  %>
</p>
<%- end %>
