<div class="section__<%= section[:section_type] -%> <%= section.try(:[], :advanced).try(:[], "className") %>" id="<%= section.try(:[], :advanced).try(:[], "id") %>">
  <div class="layout--container">
    <%= section_contents -%>
  </div>
</div>