<div class="layout--container">
  <div class="layout__x-narrow">
    <div class="page--header spacing-xx-tight">
      <h1 class="heading-one type--light">Articles</h1>
      <p>We want to share what we learn—opinions, announcements, views, and advice from the individuals at Katalyst.</p>

    </div>
    <ul class="list--vertical">
      <% articles.each do |article| %>
        <li><%= render "tile", article: article %></li>
      <% end %>
    </ul>

  </div>
</div>

<%== pagy_nav(pagy) %>
