<div class="panel__passive panel__border">
  <ul class="panel--links">
    <li><a href="/admin/styleguide/blankstate">Blankstate</a></li>
    <li><a href="/admin/styleguide/buttons">Buttons</a></li>
    <li><a href="/admin/styleguide/forms">Forms</a></li>
    <li><a href="/admin/styleguide/tables">Tables</a></li>
    <li><a href="/admin/styleguide/panels">Panels</a></li>
    <li><a href="/admin/styleguide/grid">Grid</a></li>
    <li><a href="/admin/styleguide/yields">Yields</a></li>
    <li><a href="/admin/styleguide/icons">Icons</a></li>
  </ul>
</div>

<% content_for :scripts do %>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<% end %>
