<div class="panel__passive">
  <div class="panel--padding">
    <h2 class="heading-four">Navigation</h2>
  </div>
  <ul class="panel--links panel--border-top">
    <li><a href="/admin/styleguide/typography">Typography</a></li>
    <li><a href="/admin/styleguide/buttons">Buttons</a></li>
    <li><a href="/admin/styleguide/tables">Tables</a></li>
    <li><a href="/admin/styleguide/panels">Panels</a></li>
    <li><a href="/admin/styleguide/grid">Grid</a></li>
    <li><a href="/admin/styleguide/yields">Yields</a></li>
  </ul>
</div>