<% content_for :title, "Koi Styleguide: Blankstate" %>

<% content_for :side do %>
  <%= render "sidebar" %>
<% end %>

<div class="spacing">

  <div class="content-spacing">
    <h2 class="heading-two">Blankstate</h2>
    <p>Show an empty panel with centered content:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "blankstate" } do %>
<div class="blankstate">
  <div class="blankstate--content content">
    <p>
      <strong>There are no products</strong>
    </p>
    <p>
      <a href="#" class="button__save">Add your first product</a>
    </p>
  </div>
</div>
  <% end %>

</div>
