<%- content_for :title, "Koi Styleguide: Buttons" -%>

<%- content_for :side do -%>
  <%= render "sidebar" -%>
<%- end -%>

<div class="spacing">

  <p>These are the currently available button classes available in Koi:</p>

  <div class="spacing-xxx-tight">
    <div><a href="#" class="button">button</a></div>
    <div><a href="#" class="button__back">button__back</a></div>
    <div><a href="#" class="button__primary">button__primary</a></div>
    <div><a href="#" class="button__save-continue">button__save-continue</a></div>
    <div><a href="#" class="button__save">button__save</a></div>
    <div><a href="#" class="button__confirm">button__confirm</a></div>
    <div><a href="#" class="button__error">button__error</a></div>
    <div><a href="#" class="button__cancel">button__cancel</a></div>
  </div>

  <p>There are line button clases as well, but rarely used:</p>

  <div class="spacing-xxx-tight">
    <div><a href="#" class="button__line">button__line</a></div>
    <div><a href="#" class="button__confirm__line">button__confirm__line</a></div>
    <div><a href="#" class="button__cancel__line">button__cancel__line</a></div>
  </div>

  <p>There are a couple of button modifier classes:</p>

  <div class="spacing-xxx-tight">
    <div><a href="#" class="button__primary button__large">button__large</a></div>
    <div><a href="#" class="button__primary button__small">button__small</a></div>
    <div><a href="#" class="button__primary button__depressed">button__depressed</a></div>
    <div><a href="#" class="button__primary button__full">button__full</a></div>
    <div><a href="#" class="button__primary button__disabled">button__disabled</a></div>
  </div>

  <p>The disabled button styles also automatically apply to buttons that have the <code>disabled</code> attribute, no extra classes needed:</p>

  <div class="spacing-xxx-tight">
    <div><a href="#" class="button__primary" disabled>disabled button</a></div>
  </div>

  <p>The <code>button-set</code> class will group all buttons next to each other:</p>

  <div class="spacing-xxx-tight">
    <div class="button-set">
      <a href="#" class="button">button</a>
      <a href="#" class="button__confirm">button__confirm</a>
      <a href="#" class="button__cancel">button__cancel</a>
    </div>
  </div>

</div>