<%- content_for :title, "Koi Styleguide: Grid" -%>

<%- content_for :side do -%>
  <%= render "sidebar" -%>
<%- end -%>

<div class="content">

  <h2>Basic Grid</h2>

  <div>
    <div class="row">
      <div class="col-1-2">
        <div class="panel__passive">
          .col-1-2
        </div>
      </div>
      <div class="col-1-2">
        <div class="panel__passive">
          .col-1-2
        </div>
      </div>

      <div class="col-1-3">
        <div class="panel__passive">
          .col-1-3
        </div>
      </div>
      <div class="col-1-3">
        <div class="panel__passive">
          .col-1-3
        </div>
      </div>
      <div class="col-1-3">
        <div class="panel__passive">
          .col-1-3
        </div>
      </div>

      <div class="col-1-4">
        <div class="panel__passive">
          .col-1-4
        </div>
      </div>
      <div class="col-1-4">
        <div class="panel__passive">
          .col-1-4
        </div>
      </div>
      <div class="col-1-2">
        <div class="panel__passive">
          .col-1-2
        </div>
      </div>
    </div>
  </div>

  <hr />

  <h2>Responsive Grid</h2>

  <div>
    <div class="row">
      <div class="col-1-4 col-1-2m">
        <div class="panel__passive">
          .col-1-4.col1-2m
        </div>
      </div>
      <div class="col-1-4 col-1-2m">
        <div class="panel__passive">
          .col-1-4 .col1-2m
        </div>
      </div>
      <div class="col-1-2 col-1-1m">
        <div class="panel__passive">
          .col-1-2.col1-1m
        </div>
      </div>
    </div>
  </div>

  <hr />

  <h2>Alternate gutter sizes</h2>

  <p>tight:</p>

  <div>
    <div class="row__tight">
      <div class="col-1-4 col-1-2m">
        <div class="panel__passive">
          .col-1-4.col1-2m
        </div>
      </div>
      <div class="col-1-4 col-1-2m">
        <div class="panel__passive">
          .col-1-4.col1-2m
        </div>
      </div>
      <div class="col-1-2 col-1-1m">
        <div class="panel__passive">
          .col-1-2.col1-1m
        </div>
      </div>
    </div>
  </div>

  <p>x-tight:</p>

  <div>
    <div class="row__x-tight">
      <div class="col-1-4 col-1-2m">
        <div class="panel__passive">
          .col-1-4.col1-2m
        </div>
      </div>
      <div class="col-1-4 col-1-2m">
        <div class="panel__passive">
          .col-1-4.col1-2m
        </div>
      </div>
      <div class="col-1-2 col-1-1m">
        <div class="panel__passive">
          .col-1-2.col1-1m
        </div>
      </div>
    </div>
  </div>
  
</div>