<%- content_for :title, "Koi Styleguide" -%>

<%- content_for :side do -%>
  <%= render "sidebar" -%>
<%- end -%>

<div class="content">
  <p>
    The Koi styleguide is here to help you build out your Koi modifications and make your modifications look like it belongs. 
  </p>
  <p>
    Koi uses a heavily modified version of Ornament and brings in some more framework-y features like grids and new classes. 
  </p>
</div>