<%- content_for :title, "Koi Styleguide: Panels" -%>

<%- content_for :side do -%>
  <%= render "sidebar" -%>
<%- end -%>

<div class="spacing-xxx-tight">
  
  <div class="content">
    <p>Panels are made up of several classes and concepts.</p>
    <p>First there is the main content class, such as <code>panel__primary</code> which will add the rounded corners and colouring. </p>
    <p>Then there is the padding. You can either add the padding to the whole panel itself, or you can apply the padding to the internal elements inside the panel.</p>
    <p>Then there are borders which again can either be applied to the whole panel or on individual elements inside the panel.</p>
  </div>

  <p>Here you can see how the different classes work on the whole panel itself:</p>

  <div class="panel__passive">
    panel__passive
  </div>

  <div class="panel__passive panel--padding">
    panel__passive<br />
    panel--padding
  </div>

  <div class="panel__passive panel--padding panel__border">
    panel__passive<br />
    panel--padding<br />
    panel__border
  </div>

  <p>Now lets see how they work on individual elements. Here is a panel wrapper with two panel--padding elements inside it. The main panel has <code>panel__passive</code> and <code>panel__border</code>, while the internal panels have the <code>panel--padding</code> classes. The second panel has <code>panel--border-top</code> to add an internal border.</p>

  <div class="panel__passive panel__border">
    <div class="panel--padding">
      panel--padding
    </div>
    <div class="panel--padding panel--border-top">
      panel--padding<br />
      panel--padding-boder
    </div>
  </div>

  <p>For more complex panels there are also <code>panel__no-top-radius</code> and <code>panel__no-bottom-radius</code> if you want to only deal with top-level panels.</p>

  <div class="panel">
    <div class="panel__primary panel--padding panel__no-bottom-radius">
      panel__primary panel--padding panel__no-bottom-radius
    </div>
    <div class="panel__success panel--padding panel__no-bottom-radius panel__no-top-radius">
      panel__success panel--padding panel__no-bottom-radius panel__no-top-radius
    </div>
    <div class="panel__passive panel--padding panel__no-bottom-radius panel__no-top-radius">
      panel__passive panel--padding panel__no-bottom-radius panel__no-top-radius
    </div>
    <div class="panel__error panel--padding panel__no-top-radius">
      panel__error panel--padding panel__no-top-radius
    </div>
  </div>

  <p>To space out panels consistently you can use the <code>panel-spacing</code> wrapper class to wrap around your panels:</p>

  <div class="panel-spacing">
    <div class="panel__passive panel--padding">
      Panel 1
    </div>
    <div class="panel__passive panel--padding">
      Panel 2
    </div>
    <div class="panel__passive panel--padding">
      Panel 3
    </div>
  </div>

  <p>There are a few different colour panels ready for you to implement whatever sort of panel you need:</p>

  <div class="panel__passive panel--padding">panel__passive</div>
  <div class="panel__primary panel--padding">panel__primary</div>
  <div class="panel__notice panel--padding">panel__notice</div>
  <div class="panel__error panel--padding">panel__error</div>
  <div class="panel__success panel--padding">panel__success</div>

</div>