<%- content_for :title, "Koi Styleguide: Yields" -%>

<%- content_for :side do -%>
  <%= render "sidebar" -%>
<%- end -%>

<div class="spacing-xxx-tight">

  <div class="content">
    <p>The koi application template has a few yields you can take advantage of to throw content in to different areas of the page. </p>
  </div>

  <div class="table-container">
    <table class="table">
      <tbody>
        <tr>
          <th class="table-col-heading">
            :meta
          </th>
          <td>
            Yield content to the meta area of the head
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :styles, :stylesheets
          </th>
          <td>
            Yield content to the styles area of the head
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :scripts, :javascripts
          </th>
          <td>
            Yield content to the scripts area of the head
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :head
          </th>
          <td>
            The very bottom of the head tag
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :hide_header
          </th>
          <td>
            Yield anything to this and the header will be removed. See the asset manager layout for example. 
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :include_google_maps
          </th>
          <td>
            Yield anything to this and the google maps tag will be included on the page. This is required if you're adding a google map to the page. 
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :layout_class
          </th>
          <td>
            Yield a custom class to the <code>.layout</code> container element.
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :title
          </th>
          <td>
            Usually used for the page title, yields the content to the large grey area at the top of the page. 
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :breadcrumbs
          </th>
          <td>
            Not currently used but it's there if you want to use it. Pushes the content above the title but below the header in a grey box. Flash messages will sit over the breadcrumbs. 
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :title_tabs
          </th>
          <td>
            A special yield for the tabs that sit under the title.
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :above_layout
          </th>
          <td>
            Below the title/title tabs but above the main content area
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :below_layout
          </th>
          <td>
            Before the bottom of the page
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :side
          </th>
          <td>
            Yield content on the right hand side of the page. Responsively gets pushed to the bottom of the page.
          </td>
        </tr>
        <tr>
          <th class="table-col-heading">
            :side_top
          </th>
          <td>
            Same as :side but responsively gets pushed to the top instead of the bottom.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>