// Extend grunt-icon URIs in to psuedo elements
@mixin grunticon($icon, $width, $height:$width, $psuedo:before) {
  // 
}

// Block Icons
// icon-block(40px, 16px) = a 40x40 box with a 16x16 icon inside it.
@mixin icon-block($block-width, $icon-width:$block-width, $block-height:$block-width, $icon-height:$icon-width) {
  @include display-flex;
  width: $block-width;
  height: $block-height;
  overflow: hidden;
  @include align-items(center);
  // @include justify-content(center);

  svg {
    width: $icon-width;
    height: $icon-height;
    margin: 0 auto; // firefox workaround for flexbox issues on buttons
    @include align-self(center);
  }
}

// Inline Icons
// icons that sit next to some text
// pass in true to set the icon to the right of the text
@mixin icon-inline($right:false) {
  // &:before {
  //   display: inline-block;
  //   position: relative;
  //   top: 3px;

  //   @if ($right == true) {
  //     float: right;
  //     margin-left: $xx-small-unit;
  //   } @else {
  //     margin-right: $xx-small-unit;
  //   }
  // }
}