<div class="insert asset application">

  <h6>Sizes Available:</h6>
  <ul class="spaced-5px vertical elements sp-t-1 sp-b-1 tx-bold">
    <li><%= render "link_size", size: resource.dragonfly_options, title: "#{ resource.title_options } (Original)", checked: true %></li>
    <% KOI_ASSET_IMAGE_SIZES[ 1..-1 ].each do |size| %>
      <li><%= render partial: "link_size", locals: size %></li>
    <% end %>
  </ul>

  <ul class="padded-1 spaced-1 hoverable rounded-3px solid grey inline buttons ln-h-2 h-2 fonted-11px">
    <li class="solid orange"><%= link_to "Add to Page", resource.url, class: "insert asset link" %></li>
    <li class=""><%= link_to "Delete", url_for(:action => 'delete'), :confirm => "Are you sure you want to delete this #{ resource_class.name.downcase }?", :method => 'delete' %>
    </li>
  </ul>
</div>
