<div class="insert asset application">
  <h6>Sizes Available:</h6>
  
  <ul class="unmarked-list floated-l-list font-12px clearfix space-0">
    <li><%= render "link", size: resource.dragonfly_options, title: "#{ resource.title_options } (Original)", checked: true %></li>
    
    <% Koi::Asset::Image.sizes.each do |size| %><li><%= render "link", size %></li><% end %>
  </ul>

<%= link_to "Add to Page", resource.url, class: "btn btn-primary btn-small insert asset link" %>
<%= link_to "Delete", url_for(:action => 'delete'),
                      :confirm => "Are you sure you want to delete this #{ resource_class.name.downcase }?",
                      :method  => 'delete',
                      :class   => "btn btn-small" %>
</div>
