<% if Translation.find_by_key('site.twitter.query') %>
  <% content_for :side do %>
    <% content_for :head do %>
      <script type="text/javascript">
        jQuery(function($){
          $("#twitter-query").tweet({
            avatar_size: 32,
            count: 5,
            query: "<%= Translation.find_by_key('site.twitter.query').try(:value) %>",
            loading_text: "searching twitter..."
          }).bind("empty", function() { $(this).append('No matching tweets found. Please<p>Please set your twitter search query <%= link_to "here", translations_path %></p>'); });
        });
    </script>
    <% end %>
    <h3>Latest Tweets</h3>
    <div id="twitter-query"></div>
  <% end %>
<% end %>
