<% twitter_widget_id = Translation.find_by_key('site.twitter.widget_id').try(:value) %>

<% if twitter_widget_id.present? %>

  <% content_for :head do %>
    <script type="text/javascript">
      jQuery (function ($)
      {
        twitterFetcher.fetch('<%= twitter_widget_id %>', 'twitter-query', 4, true, true, true, "default");
      })
    </script>

    <style>
      #twitter-query li {
        margin-bottom: 20px;
      }
      #twitter-query .user img {
        float: left; 
        margin: 0 5px 5px 0;
      }
      #twitter-query .user span {
        display: block;
      }
      #twitter-query .tweet {
        clear: both;
      }
      #twitter-query .timePosted {
        font-style: italic;
      }
      #twitter-query .interact {
        display: none;
      }
    </style>
  <% end %>

  
  <% content_for :side do %>

    <h3>Latest Tweets</h3>
    <div id="twitter-query">searching twitter...</div>

  <% end %>

<% end %>
