<% content_for :title, "Help" %>

<h2 class="space-b-half">Screencasts</h2>

<p>The following screencasts show the base functionality for the Katalyst Content Management System.</p>

<section class="space-b-2">
  <h3>Sitemap and Page editing</h3>
  <iframe src="//player.vimeo.com/video/40066290" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</section>

<section class="space-b-2">
  <h3>Asset Manager</h3>
  <iframe src="//player.vimeo.com/video/40066291" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</section>
