<% content_for :title, "Screencasts" %>

<section>
  <h3>Sitemap and Page editing</h3>
  <iframe src="http://player.vimeo.com/video/40066290" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</section>

<section>
  <h3>Asset Manager</h3>
  <iframe src="http://player.vimeo.com/video/40066291" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</section>

