<% unless f.object.errors.empty? %>
  <div class="panel panel--padding panel__error form--error-block" data-toggle="form-error" data-toggle-default>
    <div class="panel__flash--inner">
      <div class="panel__flash--message">
        <p>
          <strong><%= t('simple_form.error_notification.default_message') %></strong>
          <br/>
          Please review and correct the <%= pluralize(f.object.errors.size, "error") %> below before resubmitting the page.
        </p>
      </div>
      <button class="panel__flash--close active" data-toggle-anchor="form-error">
        <%= icon("close", stroke: "#fff") %>
      </button>
    </div>
  </div>
<% end %>
