<div koi="wysiwyg" style="position:relative;">

  <label class="text required control-label"><abbr title="required">*</abbr> <%= attr.to_s.titleize %></label>

  <ul koi:name="toolbar" style="position:absolute; top:30px; right:0;">

    <li class="dropdown">

      <div class="btn-group">
        <button tabIndex="-1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-font"></i>&nbsp;<span class="current-font">p</span>&nbsp;<b class="caret">
          </b>
        </button>
      </div>

      <ul class="dropdown-menu">
        <li>
          <button tabIndex="-1" type="button" data-wysihtml5-command="formatBlock" name-value="div">p</button>
        </li>
        <li>
          <button tabIndex="-1" type="button" data-wysihtml5-command="formatBlock" name-value="h1">h1</button>
        </li>
        <li>
          <button tabIndex="-1" type="button" data-wysihtml5-command="formatBlock" name-value="h2">h2</button>
        </li>
      </ul>

    </li>

    <li>

      <div class="btn-group">
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="bold" title="CTRL+B">b</button>
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="italic" title="CTRL+I">i</button>
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="underline" title="CTRL+U">u</button>
      </div>

    </li>

    <li>

      <div class="btn-group">
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="insertUnorderedList" title="Unordered List"><i class="icon-list"></i></button>
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="insertOrderedList" title="Ordered List"><i class="icon-th-list"></i></button>
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="Outdent" title="Outdent"><i class="icon-indent-right"></i></button>
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="Indent" title="Indent"><i class="icon-indent-left"></i></button>
      </div>

    </li>

    <li>

      <div class="btn-group">
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="chooseLink" title="Link"><i class="icon-share"></i></button>

        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-command="chooseMail" title="Email Link">@</button>
      </div>

    </li>

    <li>

      <div class="btn-group">
        <button tabIndex="-1"
                type="button"
                class="btn"
                data-wysihtml5-command="chooseAsset"
                data-wysihtml5-command-value="<%= koi_engine.images_path %>"
                title="Insert image">
          <i class="icon-picture"></i>
        </button>
        <button tabIndex="-1"
                type="button"
                class="btn"
                data-wysihtml5-command="chooseAsset"
                data-wysihtml5-command-value="<%= koi_engine.documents_path %>"
                title="Insert document">
          <i class="icon-file"></i>
        </button>
      </div>
   
    </li>

    <li>
   
      <div class="btn-group">
        <button tabIndex="-1" type="button" class="btn" data-wysihtml5-action="change_view" title="Edit HTML"><i class="icon-pencil"></i></button>
      </div>

    </li>

  </ul>

  <%= f.input attr, as: :text, label: false, input_html: { "koi:name" => "textarea" } %>

</div>
