<%-
  partial                 = "inline_fields"
  attr_string             = attr.to_s
  header                  = attr_string.humanize
  singular_name           = attr_string.singularize
  singular_name_humanized = singular_name.humanize
  add_link                = "Add #{singular_name_humanized}"
  remove_link             = "Remove #{singular_name_humanized}"

  locals_to_be_passed = {
    singular_name_humanized: singular_name_humanized,
    remove_link: remove_link
  }
-%>

<h3><%= header %></h3>

<div id="nested">
  <div id="accordion">
    <%= f.simple_fields_for attr do |record| %>
      <%= render partial, { f: record }.merge(locals_to_be_passed) %>
    <%- end -%>
    <div class="links">
      <%= link_to_add_association add_link, f, attr, partial: partial,
            render_options: { locals: locals_to_be_passed } %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $( "#accordion" )
      .accordion({
        header: "> div > h3"
      })
      .sortable({
        axis: "y",
        handle: "h3",
        stop: function( event, ui ) {
          // IE doesn't register the blur when sorting
          // so trigger focusout handlers to remove .ui-state-focus
          ui.item.children( "h3" ).triggerHandler( "focusout" );
        }
      });
  });
</script>
