<% unless f.object.errors.empty? %>
  <div class="alert alert-error alert-block">
    <a href="" class="close" data-dismiss="alert">&times;</a>
    <p>
      <strong><%= t('simple_form.error_notification.default_message') %></strong>
      <br/>
      Please review and correct the <%= pluralize(f.object.errors.size, "error") %> below before resubmitting the page.
    </p>
  </div>
<% end %>
