<div class="listing--actions">

  <% if respond_to? :parent %>
    <%= link_to "Back", [:admin, parent.class], :class => "button" %>
  <% end %>

  <div class="align-right">
    <%- if is_exportable? %>
      <%= link_to title_for(:action_csv), collection_path(format: :csv), :class => "button__primary" %>
    <% end %>
    <%- if is_allowed?(:new) %>
      <%= link_to title_for(:action_new), new_resource_path, :class => "button__primary" %>
    <% end %>
  </div>

</div>