<ul class="list-horizontal-flush list__actions">
  <%- if is_allowed? :show %>
    <li><%= link_to "Show", resource_path(object) %></li>
  <%- end %>
  <% if is_allowed? :edit %>
    <li><%= link_to "Edit", edit_resource_path(object) %></li>
  <% end %>
  <% (resource_class.crud.find(:admin, :index, :relations) || []).each do |child| %>
    <li><%= link_to "#{child.to_s.titleize}", [:admin, object, child] %></li>
  <% end %>
</ul>

