<ul class="unmarked-list floated-l-list spaced-r-list space-l-0 space-b-0 ">
  <%- if is_allowed? :show %>
    <li><%= link_to "Show", resource_path(object) %></li>
  <%- end %>
  <% if is_allowed? :edit %>
    <li><%= link_to "Edit", edit_resource_path(object) %></li>
  <% end %>
  <% (resource_class.crud.find(:admin, :index, :relations) || []).each do |child| %>
    <li><%= link_to "#{child.to_s.titleize}", [:admin, object, child] %></li>
  <% end %>
</ul>
<% if is_orderable? %>
  <%= image_tag "koi/application/icon-sortable.png", :class => "space-half" %>
<% end %>
