<div class="row">
  <div class="span17 bg-darkgrey">
    <div class="row">
      <div class="span9 ">
        <div class="space-half">
          <% if respond_to? :parent %>
            <li><%= link_to "Back", [:admin, parent.class] %></li>
          <% end %>
        </div>
      </div>
      <div class="span8 color-darkgrey">
        <div class="space-half pull-right">
          <%- if is_allowed?(:new) %>
            <%= link_to "Add new #{resource_class.to_s.singularize.titleize}", new_resource_path, :class => "btn btn-small btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



