<div class="listing--actions small">

  <% if respond_to?(:parent) && parent.present? %>
    <%= link_to "Back", [:admin, parent.class], :class => "button align-box-left" %>
  <% end %>

  <div class="align-box-right">
    <%- if is_exportable? %>
      <%= link_to title_for(:action_csv), collection_path(format: :csv), :class => "button__primary" %>
    <% end %>
    <%- if is_allowed?(:new) %>
      <%= link_to title_for(:action_new), new_resource_path, :class => "button__primary" %>
    <% end %>
  </div>

</div>
