<div class="tab-pane" id="tab-reports">
  <div class="settings">
    <div id="index-fields">

      <div id='chart_container'>
        <div id="graph"></div>
        <div id="chart"></div>
        <div id="timeline"></div><br />
        <div id="slider"></div>
      </div>

      <script type='text/javascript'>

        var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"), 
          width: 640,
          height: 350,
          stroke: true,
          renderer: 'multi',
          series: [
            <%= @report_data.map do |report| 
              "{ color: '#{report[:colour]}',
                  data:  #{report[:values].to_json},
                  name: '#{report[:name]}',
              renderer: '#{report[:renderer]}' }"
            end.join(',').html_safe %>
          ]
        });

        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: graph
        } );

        var axes = new Rickshaw.Graph.Axis.Time( { graph: graph } );

        var slider = new Rickshaw.Graph.RangeSlider({
          graph: graph,
          element: document.querySelector('#slider')
        });

        var xAxis = new Rickshaw.Graph.Axis.Time({
          graph: graph
        });

        xAxis.render();

        var yAxis = new Rickshaw.Graph.Axis.Y( {
            graph: graph
        } );

        yAxis.render();

        var legend = new Rickshaw.Graph.Legend({
            graph: graph,
            element: document.querySelector('#graph')
        });

        var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
            graph: graph,
            legend: legend
        });

        var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
            graph: graph,
            legend: legend
        });

        var annotator = new Rickshaw.Graph.Annotate({
            graph: graph,
            element: document.getElementById('timeline')
        });

        graph.render();

      </script>


    </div>
  </div>

  <div id="modal-for-reports" class="modal fade hide-element as-clr">&nbsp;</div>
</div>
