<div class="tabs--pane" id="tab-reports" data-tab-for="tab-reports">
  <div class="settings">
    <div id="index-fields">

      <% overview = @report_data.first[:class] == 'overview' %>

      <% if overview %>
        <div class="tiles-group">
          <div class="tiles tiles__four" data-conform-columns="reports">
            <% @report_data.each_with_index do |report, index| %>
              <% if report[:class].eql?('overview') %>
                <%= render "report_#{report[:class]}", report: report, index: index %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="content clear">
        <% @report_data.each_with_index do |report, index| %>
          <% if report[:class] != 'overview' %>
            <%= render "report_#{report[:class]}", report: report, index: index %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div id="modal-for-reports" class="modal fade hide-element as-clr">&nbsp;</div>
</div>
