<%- resource_class.admin_attributes(:show).each do |attr| -%>
<p>
  <%= begin
        render crud_partial(attr, :show), { :attr => attr }
      rescue ActionView::MissingTemplate
        render "show_field_default", { :attr => attr }
      end
  %>
</p>
<%- end %>
