<% 
  resource_item ||= resource
  klass ||= resource_item.class
  fields ||= klass.admin_attributes(:show)
%>

<div class="table-container">
  <table class="table">
    <%- fields.each do |attr| -%>
      <tr>
        <td class="table-col-heading">
          <%= t "simple_form.labels.#{klass.name.underscore}.#{attr}", :default => attr.to_s.titleize %>
        </td>
        <td>
          <%- unless resource_item.send(attr).blank? -%>
            <%= begin
                render crud_partial(attr, :show, klass), { :attr => attr, :resource => resource_item, :klass => klass }
              rescue ActionView::MissingTemplate
                render "show_field_default", { :attr => attr, :resource => resource_item, :klass => klass }
              end
            %>
          <%- end -%>
        </td>
      </tr>
    <%- end %>
  </table>
</div>