<p>
  <strong><%= t "simple_form.labels.#{resource_class.name.underscore}.#{attr}", :default => attr.to_s.titleize %>:</strong>
  <%- country = resource.send(attr) -%>
  <%- unless country.blank? -%>
    <%= ISO3166::Country[country].name -%>
  <%- end -%>
</p>