<div class="table-container">
  <table class="table">
    <%- resource_class.admin_attributes(:show).each do |attr| -%>
      <tr>
        <td class="table-col-heading">
          <%= t "simple_form.labels.#{resource_class.name.underscore}.#{attr}", :default => attr.to_s.titleize %>
        </td>
        <td>
          <%- if resource.send(attr).blank? -%>
            -
          <%- else -%>
            <%= begin
                render crud_partial(attr, :show), { :attr => attr }
              rescue ActionView::MissingTemplate
                render "show_field_default", { :attr => attr }
              end
            %>
          <%- end -%>
        </td>
      </tr>
    <%- end %>
  </table>
</div>