<% inline_collection = resource.send(attr) %>
<% unless inline_collection.blank? %>
  <div class="show--inline-items">
    <% inline_collection.each do |inline_item| %>
      <div class="show--inline-item">
        <%= inline_item.try(:inline_show_label) || inline_item.try(:inline_titleize) || inline_item.to_s %>
      </div>
    <% end %>
  </div>
<% end %>