<% content_for :side do %>

  <header>
    <h2>Notes</h2>
  </header>

  <section>
    <p>If you need some assistance with the Content Management System, please view the notes in the <a href="#">help section</a>.</p>
  </section>

<% end %>

