<% content_for :side do %>

  <header class="right side header">
    <h2 class="heading">Notes</h2>
  </header>

  <section class="right side section">
<!--     <header class="header">
      <h3 class="heading">Re-ordering the sitemap</h3>
    </header> -->

    <p>If you need some assistance with the Content Management System, please view the notes in the <a href="#">help section</a>.</p>

  </section>

<% end %>

