<% content_for :side do %>

  <header>
    <h2>Notes</h2>
  </header>

  <section>
    <p>If you need some assistance with the Content Management System, please view the videos in the <%= link_to "help section", koi_engine.help_path %>.</p>
  </section>

<% end %>
