<% content_for :side do %>

  <div class="content-spacing">

    <header>
      <h2 class="heading-two">Notes</h2>
    </header>

    <p>If you need some assistance with the Content Management System, please view the videos in the <%= link_to "help section", koi_engine.help_path %>.</p>

  </div>

<% end %>
