<div class="action view">
  <%= render 'edit_title' %>

  <div class="tabs--pane" id="tab-main" data-tab-for="tab-main">
    <%= render 'edit_form' %>
    <%= render 'edit_form_actions' %>
  </div>
</div>
