Koi::Menu.priority = {
  "Navigations" => "/admin/navigation",
}

Koi::Menu.modules = {

}

Koi::Menu.advanced = {
  "Admin users"      => "/admin/admin_users",
  "Background jobs"  => "/admin/background_jobs",
  "URL rewriter"     => "/admin/url_rewrites",
  "Well knowns"      => "/admin/well_knowns",
}
