.align-bottom {vertical-align:bottom;}
.align-center {text-align:center;}
.align-left {text-align:left;}
.align-middle {vertical-align:middle;}
.align-right {text-align:right;}
.align-top {vertical-align:top;}
.bold {font-weight:bold;}
.lowercase {text-transform:lowercase;}
.nowrap {white-space:nowrap;}
.small {font-size:10px;line-height:15px;}
.small p, .small address, .small pre, .small table, .small ol, .small ul, .small dl {margin-bottom:5px;}
.uppercase {text-transform:uppercase;}
