@import "bootstrap/utilities";

.hidden {
  display:none;
}

.hidden-text {
  text-align:left;
  text-indent:-9999px;
}

hr.space, hr.half-space {background:#fff;color:#fff;visibility:hidden;}
hr.half-space {margin-bottom:4px;}
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {display:block;}
.clear {clear:both;}
.imgfix {display:block;}
.wrap {overflow:auto;width:100%;}
.left {float:left;}
.right {float:right;}
.block {display:block;}
.inline {display:inline;}
.inline-block {display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;}
