<% content_for :header do %>
  <h1>Dashboard</h1>
<% end %>

<%= navigation_menu_with(
      menu:  Koi::Menu.dashboard_menu,
      list:  {
        class: "navigation-list | flow",
        role:  "list",
      },
      class: "navigation-group | flow",
      role:  "list",
    ) %>
