<div class="tabs--pane" id="tab-extra" data-tab-for="tab-extra">
  <div class="extra">
    <div class="listing--actions small">
      <div class="align-right">
        <%= link_to "Add Setting", koi_engine.new_setting_path(prefix: settings_prefix), remote: true, class: "button__confirm button__small", data: { disable_with: "Loading" } %>
      </div>
    </div>
    <div id="index-fields">
      <div class="table-container">
        <table class="table space-b-0">
          <thead>
            <tr>
              <% Setting.admin_attributes(:index).each_with_index do |attr,i| %>
                <%= content_tag :th, t("simple_form.labels.#{resource_class.model_name}.settings.#{attr}", default: attr.to_s.titleize) %>
              <% end %>
              <%= content_tag :th, "Key" if current_admin.god? %>
              <th class="table__th__actions">Actions</th>
            </tr>
          </thead>
          <tbody id="settings-list">
            <%= render "koi/settings/settings_list" %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="modal-for-extra" class="modal fade hide-element as-clr">&nbsp;</div>
</div>
