<%=
  begin
    render "field_#{f.object.field_type}", :f => f, :attr => attr, object: f.object, label: attr, hint: hint, value: value
  rescue ActionView::MissingTemplate
    render "field_string", :f => f, :attr => attr, object: f.object, label: attr, hint: hint, value: value
  end
%>
<% if !current_admin.god? && !f.object.hint.blank? %>
  <p><%= f.object.hint %></p>
<% end %>
