<div id="index-fields">
  <table class="table space-b-0">
    <thead>
      <tr>
        <% Translation.admin_attributes(:index).each_with_index do |attr,i| %>
          <% label = t "simple_form.labels.#{resource_class.model_name.i18n_key}.#{attr}", default: attr.to_s.titleize %>
          <% if is_sortable? %>
            <th class="sort-icon"><%= sortable attr.to_s, label, :class => "nohover" %></th>
          <% else %>
            <th><%= label %></th>
          <% end %>
        <% end %>
        <th class="span4">Actions</th>
      </tr>
    </thead>
    <%- if is_orderable? -%>
    <tbody id="sortable" class="">
    <%- else -%>
    <tbody>
    <%- end -%>
      <% settings.each_with_index do |object, i| %>
        <tr>
          <% Translation.admin_attributes(:index).each_with_index do |attr,index| %>
            <td>
                <%=
                begin
                  render crud_partial(attr, :index), { :attr => attr, :object => object }
                rescue ActionView::MissingTemplate
                  render "index_field_default", { :attr => attr, :object => object }
                end
                %>
            </td>
          <% end %>
          <td class="nowrap">
            <%= render "index_fields_action", { :object => object } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
