<% settings.each_with_index do |object, i| %>
  <tr id="setting-row-<%= object.id %>">
    <% Setting.admin_attributes(:index).each_with_index do |attr,index| %>
      <td>
          <%=
          begin
            render crud_partial(attr, :index), { :attr => attr, :object => object }
          rescue ActionView::MissingTemplate
            render "index_field_default", { :attr => attr, :object => object }
          end
          %>
      </td>
    <% end %>
    <%= content_tag :td, object.value %>
    <td class="table__td__actions">
      <div class="table--actions--container">
        <ul class="unmarked-list floated-l-list spaced-r-list space-l-0 space-b-0 ">
          <li><%= link_to "Edit", koi_engine.edit_setting_path(object), remote: true, data: { disable_with: "Please wait" } %></li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
