<div class="settings">
  <div id="index-fields">
    <%= simple_form_for :setting, url: koi_engine.update_multiple_settings_path, html: { method: :put } do |f| %>
      <table class="table space-b-0">
        <tbody>
          
          <%= render "koi/settings/settings_form", f: f %>
        </tbody>
      </table>
      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    <%- end -%>
  </div>
</div>

<div id="modal-for-setting" class="modal fade hide-element as-clr">&nbsp;</div>
