<div class="center container w-56 pad-t-8">

  <div class="txt-c pad-b-3 devise-katalyst-logo">
  </div>
  <h1 class="katalyst titlebar br-b-3px round-t-5px pad-lr-2 h-55px ln-h-55px txt-25px">Password reset</h1>

  <%= simple_form_for(resource, :as => resource_name, :url => koi_engine.admin_password_path, :html => { method: :post, class: "form-vertical" }) do |f| %>

    <%#= f.error_notification %>

    <div class="bg-grey-f0 pad-lr-2 pad-b-15px br-b br-b-grey-c0 br-t br-t-grey-f0">

      <div class="spaced-15px vertical list txt-grey-70 txt-1u3 ln-h-2">
        <%= f.input :email, required: true, autofocus: true, input_html: { class: "txt-1u3 ln-h-2 display-block" } %>
      </div>

    </div>

    <div class="bg-grey-e0 pad-l-2 h-55px round-b-5px br-grey-fc br-t-u1 txt-1u1">

      <ul class="hoverable hollow grey rounded-5px padded-1 spaced-1 inline middle-aligned buttons space-t-12px">

        <li class="solid orange hover-shadow ln-h-3 h-3 padded-15px space-r-25px">
          <%= f.button :submit, "Reset" %>
        </li>

        <li class="vis-hidden"></li>
        <%#= render "devise/shared/links" %>
      </ul>
    </div>

  <% end %>

</div>