<% content_for :title, "Password Reset" %>

<%= simple_form_for(resource, :as => resource_name,
                    :url => koi_engine.admin_password_path,
                    :html => { method: :post, class: "form-vertical" }) do |f| %>
  <div class="bg-lightgrey">
    <div class="inputs">
      <%= f.input :email,required: true, autofocus: true, input_html: { class: "form--medium" } %>
    </div>
  </div>
  <div class="bg-mediumgrey">
    <div class="button-group">
      <div>
        <%= f.button :button, "Reset password", class: "button__success" %>
      </div>
      <div>
        <%= link_to "Back", koi_engine.new_admin_session_path, class: "button" %>
      </div>
    </div>
  </div>
<% end %>

