<% content_for :title, url_rewrite.from %>
<% content_for(:breadcrumbs) { link_to "URL rewrites", url_rewrites_path } %>
<% content_for :actions do %>
  <%= link_to "Edit", edit_url_rewrite_path(url_rewrite) %>
<% end %>

<h2 class="heading-four">Summary</h2>

<%= definition_list(class: "item-table") do |builder| %>
  <%= builder.items_with(model: url_rewrite, attributes: UrlRewrite.attribute_names.sort, skip_blank: true) %>
<% end %>

<div class="actions-group">
  <%= button_to "Delete", url_rewrite_path(url_rewrite),
                class:  "button button__secondary",
                method: :delete,
                form:   { data: { turbo_confirm: "Are you sure?" } } %>
</div>
