.grunticon-chevron-double-left-16-white { background-image: url('assets/images/png-icons/chevron-double-left-16-white.png'); background-repeat: no-repeat; }

.grunticon-chevron-double-left-16 { background-image: url('assets/images/png-icons/chevron-double-left-16.png'); background-repeat: no-repeat; }

.grunticon-chevron-double-right-16-white { background-image: url('assets/images/png-icons/chevron-double-right-16-white.png'); background-repeat: no-repeat; }

.grunticon-chevron-double-right-16 { background-image: url('assets/images/png-icons/chevron-double-right-16.png'); background-repeat: no-repeat; }

.grunticon-chevron-left-16-white { background-image: url('assets/images/png-icons/chevron-left-16-white.png'); background-repeat: no-repeat; }

.grunticon-chevron-left-16 { background-image: url('assets/images/png-icons/chevron-left-16.png'); background-repeat: no-repeat; }

.grunticon-chevron-left-32-white { background-image: url('assets/images/png-icons/chevron-left-32-white.png'); background-repeat: no-repeat; }

.grunticon-chevron-left-32 { background-image: url('assets/images/png-icons/chevron-left-32.png'); background-repeat: no-repeat; }

.grunticon-chevron-right-16-white { background-image: url('assets/images/png-icons/chevron-right-16-white.png'); background-repeat: no-repeat; }

.grunticon-chevron-right-16 { background-image: url('assets/images/png-icons/chevron-right-16.png'); background-repeat: no-repeat; }

.grunticon-chevron-right-32-white { background-image: url('assets/images/png-icons/chevron-right-32-white.png'); background-repeat: no-repeat; }

.grunticon-chevron-right-32 { background-image: url('assets/images/png-icons/chevron-right-32.png'); background-repeat: no-repeat; }

.grunticon-close-16-white { background-image: url('assets/images/png-icons/close-16-white.png'); background-repeat: no-repeat; }

.grunticon-close-16 { background-image: url('assets/images/png-icons/close-16.png'); background-repeat: no-repeat; }

.grunticon-menu-white { background-image: url('assets/images/png-icons/menu-white.png'); background-repeat: no-repeat; }

.grunticon-menu { background-image: url('assets/images/png-icons/menu.png'); background-repeat: no-repeat; }

.grunticon-navicon-16-white { background-image: url('assets/images/png-icons/navicon-16-white.png'); background-repeat: no-repeat; }

.grunticon-navicon-16 { background-image: url('assets/images/png-icons/navicon-16.png'); background-repeat: no-repeat; }

.grunticon-navicon-32-white { background-image: url('assets/images/png-icons/navicon-32-white.png'); background-repeat: no-repeat; }

.grunticon-navicon-32 { background-image: url('assets/images/png-icons/navicon-32.png'); background-repeat: no-repeat; }

.grunticon-plus-16-white { background-image: url('assets/images/png-icons/plus-16-white.png'); background-repeat: no-repeat; }

.grunticon-plus-16 { background-image: url('assets/images/png-icons/plus-16.png'); background-repeat: no-repeat; }

.grunticon-search-16-white { background-image: url('assets/images/png-icons/search-16-white.png'); background-repeat: no-repeat; }

.grunticon-search-16 { background-image: url('assets/images/png-icons/search-16.png'); background-repeat: no-repeat; }

.grunticon-search { background-image: url('assets/images/png-icons/search.png'); background-repeat: no-repeat; }

