<%- content_for :title, @page.title -%>

<div class="content">
  <% raw @page.description %>
</div>

<% if @page.composable?(:body) %>
  <h2 class="heading-two">Composable JSON for body</h2>
  <pre>
  <%= JSON.pretty_generate @page.body -%>
  </pre>

  <h2 class="heading-two">Section data (including drafts) </h2>
  <pre>
  <%= JSON.pretty_generate @page.composable_sections(:body, include_drafts: true) -%>
  </pre>

  <h2 class="heading-two">Section data (excluding drafts) </h2>
  <pre>
  <%= JSON.pretty_generate @page.composable_sections(:body) -%>
  </pre>

  <h2 class="heading-two">Composable partials for body</h2>
  <%= render "/shared/composables", sections: @page.composable_sections(:body, include_drafts: true) %>
<% end %>
