<%- content_for :title, @page.title -%>

<div class="content">
  <% raw @page.description %>
</div>

<% if @page.composable? %>
  <h2 class="heading-two">Composable JSON</h2>
  <pre>
  <%= JSON.pretty_generate @page.composable_json -%>
  </pre>

  <h2 class="heading-two">Composable JSON for a group (:main)</h2>
  <pre>
  <%= JSON.pretty_generate @page.composable_json(:main) -%>
  </pre>

  <h2 class="heading-two">Structured composable data (including drafts) for group :main</h2>
  <pre>
  <%= JSON.pretty_generate @page.composable_sections_with_drafts(:main) -%>
  </pre>

  <h2 class="heading-two">Composable partials for :main</h2>
  <%= render "/shared/composables", sections: @page.composable_sections_with_drafts(:main) %>
<% end %>
