<%= turbo_frame_tag "navigation-editor-form" do %>
  <h3 class="heading-three">Edit link</h3>
  <%= render "form", link: link, path: navigation_menu_link_path(link.navigation_menu, link) %>
<% end %>
