/* VARIABLES **************************************************************************************/

// Links
$linkColor: #FC6B02;
$linkColorHover: #FC6B02;

// Colors
$orange: #ff5700;
$orange-dark: #ee3700;

// Grid
$gridColumns: 24;
$gridColumnWidth: 30px;
$gridGutterWidth: 10px;

// Icons
$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

// Navbar
$navbarLinkColor: #FFF;

/* IMPORTS ****************************************************************************************/

@import "bowerbird";
@import "lib/jquery-ui";
@import "lib/tagify";



// Elements

body {font-family: "proxima-nova",sans-serif;}
h1 {font-size:44px; font-weight:normal;line-height:64px;border-bottom: 1px solid #CCC;}
h2 {font-size:24px; font-weight:400;}
table {border: 1px solid #CCC;}
th {background-color:#ececec;font-size:11px;}
textarea {height:200px; width:400px;}
legend.small {font-size: 13px;border-bottom:1px solid $grayLighter;margin-bottom:120px;}
abbr[title='required'] {color:$orange;font-weight:bold;}


/* CUSTOM STYLES **********************************************************************************/

.btn {text-shadow:none;@include buttonBackground($orange, $gray);@include box-shadow(none);background-image: none;border:none;font-weight:800;background-color:$grayLight;color:#FFF;}
.btn-small {padding:4px 10px 3px 10px;font-size:12px;}
.btn-mini {padding:3px 10px 4px 10px;font-size:12px;}
.btn-primary {border:none;background-image: none;background-color:$orange;text-shadow:none;}
.navbar-fixed-top {border-bottom: 4px solid #f60;}
.navbar .nav li a {font-weight:800;text-transform:uppercase;}
.pagination ul {@include box-shadow(none);}
.btn:hover {background-color: darken($grayLight, 10%);color:#FFF;}
.btn-primary:hover {background-color: $orange-dark;text-shadow:none;}

// Typography

.txt-orange { color: $orange; }
a.txt-orange { color: $orange; }
a.txt-orange:hover { color: $orange; text-decoration:none}

.txt-grey { color: $gray; }
a.txt-grey, .txt-grey a { color: $gray; }
a.txt-grey:hover, .txt-grey a:hover { color: $orange; text-decoration:none}


// Styles
.logo {padding-top:8px;float:left;}
.bg-darkgrey {background-color:#666;}


.bg-lightgrey {background-color:#f4f4f4;}
.bg-mediumgrey {background-color:#E8E8E8;}
.asset-manager-bg-darkgrey {background-color:#C8C8C8;}

.titlebar {background-color:#000; @include border-radius(4px 4px 0 0 );border-bottom:5px solid $orange;color:#FFF;margin:0;padding:15px;}
.titlebar h1 {font-size:22px;border:none;line-height:22px;}

p.error {
background: url(/assets/koi/icon/form/error.png) 5px center no-repeat;
min-height: 16px;
min-width: 16px;
padding-left: 27px;
color: #E53A3A;
margin-top: 5px;
}

// Settings
.w-100 {width:100px;}
.w-560 {width:560px;}
.h-600 {height: 600px;}
.w-1em5 {width:1.5em;}
.space-t-10 {margin-top:100px;}
.help-inline {display:block;}
.font-size-12 {font-size:12px;}

// Media object
// From: http://giusi.org/bootstrap-media/media.html
.media, .media-body {overflow:hidden;*overflow:visible;zoom:1;}
.media {margin-bottom: 10px;}
.media .pull-left {margin-right: 10px;}
.media .pull-right {margin-left: 10px;}
.media .media-object {display: block;}

//Bowerbird extensions?

.center {margin: 0 auto;}
