//= depend_on ./_import.scss
@import "./_import.scss";

// this stuff *should* be in bowerbird, but isn't currently...

.inner-shadow-t {
  @include inner-unishadow( top, 10px, $grey-ac );
}

// p { color:#a0a0a0; line-height:1.4em; }

.as-cell {display:table-cell;}
.as-row {display:table-row;}
.as-table {display:table;}

.txt-l { text-align: left; }
.txt-r { text-align: right; }
.txt-c { text-align: center; }

$red: #f00;

.tx-red { color: $red; }

a.tx-red { @extend .tx-red; }
a.tx-red:hover { text-decoration:none; }

.header-katalyst-logo {
  background: url(/assets/koi/logo/katalyst/header.png) no-repeat;
  min-height: 40px;
  min-width: 100px;
}

.devise-katalyst-logo {
  background: url(/assets/koi/logo/katalyst/devise.png) top center no-repeat;
  min-height: 60px;
  min-width: 200px;
}

.cursor-move { cursor:move; }

.bg-light-red {
  background-color: #ffdede;
}

.bg-light-green, .bg-notice {
  background-color: #ceeed2;
}

p.error {
  background: url(/assets/koi/icon/form/error.png) 5px center no-repeat;
  min-height: 16px;
  min-width: 16px;
  padding-left: 27px;
  color: #e53a3a;
  margin-top: 5px;
}

abbr[title=required] {
  color: $orange;
}

a { color: $orange; }
a:hover { color: $orange; text-decoration: underline; }

.h6 { font-size:13px; margin-bottom:5px; color: #555;}

h6 { font-size:inherit; }

.simple_form {
  input.check_boxes { margin-right:5px; }
  input.radio { margin-right:5px; }
  input.date { width:249px; }
}

.table.padded-sides {
  td:first-child,
  th:first-child {
    padding-left:20px;
  }
  td:last-child,
  th:last-child {
    padding-right:20px;
  }
  &.ruled tbody {
    td > div {
      border-top-width:1px;
    }
  }
}
