.bg-x-l.bg-y-l {
  background-position: left left !important; }

.bg-x-l.bg-y-c {
  background-position: left center !important; }

.bg-x-l.bg-y-r {
  background-position: left right !important; }

.bg-x-c.bg-y-l {
  background-position: center left !important; }

.bg-x-c.bg-y-c {
  background-position: center center !important; }

.bg-x-c.bg-y-r {
  background-position: center right !important; }

.bg-x-r.bg-y-l {
  background-position: right left !important; }

.bg-x-r.bg-y-c {
  background-position: right center !important; }

.bg-x-r.bg-y-r {
  background-position: right right !important; }

.bg-grey-10 {
  background-color: #101010; }

.bg-grey-20 {
  background-color: #202020; }

.bg-grey-30 {
  background-color: #303030; }

.bg-grey-40 {
  background-color: #404040; }

.bg-grey-50 {
  background-color: #505050; }

.bg-grey-60 {
  background-color: #606060; }

.bg-grey-70 {
  background-color: #707070; }

.bg-grey-80 {
  background-color: gray; }

.bg-grey-90 {
  background-color: #909090; }

.bg-grey-a0 {
  background-color: #a0a0a0; }

.bg-grey-b0 {
  background-color: #b0b0b0; }

.bg-grey-c0 {
  background-color: silver; }

.bg-grey-d0 {
  background-color: #d0d0d0; }

.bg-grey-e0 {
  background-color: #e0e0e0; }

.bg-grey-f0 {
  background-color: #f0f0f0; }

.bg-grey-fc {
  background-color: #fcfcfc; }

.bg-grey-14 {
  background-color: #141414; }

.bg-grey-24 {
  background-color: #242424; }

.bg-grey-34 {
  background-color: #343434; }

.bg-grey-44 {
  background-color: #444444; }

.bg-grey-54 {
  background-color: #545454; }

.bg-grey-64 {
  background-color: #646464; }

.bg-grey-74 {
  background-color: #747474; }

.bg-grey-84 {
  background-color: #848484; }

.bg-grey-94 {
  background-color: #949494; }

.bg-grey-a4 {
  background-color: #a4a4a4; }

.bg-grey-b4 {
  background-color: #b4b4b4; }

.bg-grey-c4 {
  background-color: #c4c4c4; }

.bg-grey-d4 {
  background-color: #d4d4d4; }

.bg-grey-e4 {
  background-color: #e4e4e4; }

.bg-grey-f4 {
  background-color: #f4f4f4; }

.bg-grey-18 {
  background-color: #181818; }

.bg-grey-28 {
  background-color: #282828; }

.bg-grey-38 {
  background-color: #383838; }

.bg-grey-48 {
  background-color: #484848; }

.bg-grey-58 {
  background-color: #585858; }

.bg-grey-68 {
  background-color: #686868; }

.bg-grey-78 {
  background-color: #787878; }

.bg-grey-88 {
  background-color: #888888; }

.bg-grey-98 {
  background-color: #989898; }

.bg-grey-a8 {
  background-color: #a8a8a8; }

.bg-grey-b8 {
  background-color: #b8b8b8; }

.bg-grey-c8 {
  background-color: #c8c8c8; }

.bg-grey-d8 {
  background-color: #d8d8d8; }

.bg-grey-e8 {
  background-color: #e8e8e8; }

.bg-grey-f8 {
  background-color: #f8f8f8; }

.bg-grey-1c {
  background-color: #1c1c1c; }

.bg-grey-2c {
  background-color: #2c2c2c; }

.bg-grey-3c {
  background-color: #3c3c3c; }

.bg-grey-4c {
  background-color: #4c4c4c; }

.bg-grey-5c {
  background-color: #5c5c5c; }

.bg-grey-6c {
  background-color: #6c6c6c; }

.bg-grey-7c {
  background-color: #7c7c7c; }

.bg-grey-8c {
  background-color: #8c8c8c; }

.bg-grey-9c {
  background-color: #9c9c9c; }

.bg-grey-ac {
  background-color: #acacac; }

.bg-grey-bc {
  background-color: #bcbcbc; }

.bg-grey-cc {
  background-color: #cccccc; }

.bg-grey-dc {
  background-color: #dcdcdc; }

.bg-grey-ec {
  background-color: #ececec; }

.bg-orange {
  background-color: #fc6b02; }

.bg-white {
  background-color: white; }

.bg-black {
  background-color: black; }

.opq-hidden {
  min-height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

.br-t, .br-t-u1, .br-tb-1px, .br-tb-u1, .br-tl, .br-tl-u1, .br-tr, .br-tr-u1, .br-ltr, .br-ltr-u1, .br, .br-u1 {
  border-top-width: 1px; }

.br-t-2px, .br-t-u2, .br-tb-2px, .br-tb-u2, .br-tl-2px, .br-tl-u2, .br-tr-2px, .br-tr-u2, .br-ltr-2px, .br-ltr-u2, .br-2px, .br-u2 {
  border-top-width: 2px; }

.br-t-3px, .br-t-u3, .br-tb-3px, .br-tb-u3, .br-tl-3px, .br-tl-u3, .br-tr-3px, .br-tr-u3, .br-ltr-3px, .br-ltr-u3, .br-3px, .br-u3 {
  border-top-width: 3px; }

.br-t-4px, .br-t-u4, .br-tb-4px, .br-tb-u4, .br-tl-4px, .br-tl-u4, .br-tr-4px, .br-tr-u4, .br-ltr-4px, .br-ltr-u4, .br-4px, .br-u4 {
  border-top-width: 4px; }

.br-l, .br-l-u1, .br-lr, .br-lr-u1, .br-tl, .br-tl-u1, .br-bl, .br-bl-u1, .br-ltr, .br-ltr-u1, .br-lbr, .br-lbr-u1, .br, .br-u1 {
  border-left-width: 1px; }

.br-l-2px, .br-l-u2, .br-lr-2px, .br-lr-u2, .br-tl-2px, .br-tl-u2, .br-bl-2px, .br-bl-u2, .br-ltr-2px, .br-ltr-u2, .br-lbr-2px, .br-lbr-u2, .br-2px, .br-u2 {
  border-left-width: 2px; }

.br-l-3px, .br-l-u3, .br-lr-3px, .br-lr-u3, .br-tl-3px, .br-tl-u3, .br-bl-3px, .br-bl-u3, .br-ltr-3px, .br-ltr-u3, .br-lbr-3px, .br-lbr-u3, .br-3px, .br-u3 {
  border-left-width: 3px; }

.br-l-4px, .br-l-u4, .br-lr-4px, .br-lr-u4, .br-tl-4px, .br-tl-u4, .br-bl-4px, .br-bl-u4, .br-ltr-4px, .br-ltr-u4, .br-lbr-4px, .br-lbr-u4, .br-4px, .br-u4 {
  border-left-width: 4px; }

.br-r, .br-r-u1, .br-lr, .br-lr-u1, .br-tr, .br-tr-u1, .br-br, .br-br-u1, .br-ltr, .br-ltr-u1, .br-lbr, .br-lbr-u1, .br, .br-u1 {
  border-right-width: 1px; }

.br-r-2px, .br-r-u2, .br-lr-2px, .br-lr-u2, .br-tr-2px, .br-tr-u2, .br-br-2px, .br-br-u2, .br-ltr-2px, .br-ltr-u2, .br-lbr-2px, .br-lbr-u2, .br-2px, .br-u2 {
  border-right-width: 2px; }

.br-r-3px, .br-r-u3, .br-lr-3px, .br-lr-u3, .br-tr-3px, .br-tr-u3, .br-br-3px, .br-br-u3, .br-ltr-3px, .br-ltr-u3, .br-lbr-3px, .br-lbr-u3, .br-3px, .br-u3 {
  border-right-width: 3px; }

.br-r-4px, .br-r-u4, .br-lr-4px, .br-lr-u4, .br-tr-4px, .br-tr-u4, .br-br-4px, .br-br-u4, .br-ltr-4px, .br-ltr-u4, .br-lbr-4px, .br-lbr-u4, .br-4px, .br-u4 {
  border-right-width: 4px; }

.br-b, .br-b-u1, .br-tb-1px, .br-tb-u1, .br-bl, .br-bl-u1, .br-br, .br-br-u1, .br-lbr, .br-lbr-u1, .br, .br-u1 {
  border-bottom-width: 1px; }

.br-b-2px, .br-b-u2, .br-tb-2px, .br-tb-u2, .br-bl-2px, .br-bl-u2, .br-br-2px, .br-br-u2, .br-lbr-2px, .br-lbr-u2, .br-2px, .br-u2 {
  border-bottom-width: 2px; }

.br-b-3px, .br-b-u3, .br-tb-3px, .br-tb-u3, .br-bl-3px, .br-bl-u3, .br-br-3px, .br-br-u3, .br-lbr-3px, .br-lbr-u3, .br-3px, .br-u3 {
  border-bottom-width: 3px; }

.br-b-4px, .br-b-u4, .br-tb-4px, .br-tb-u4, .br-bl-4px, .br-bl-u4, .br-br-4px, .br-br-u4, .br-lbr-4px, .br-lbr-u4, .br-4px, .br-u4 {
  border-bottom-width: 4px; }

.br-t-solid, .br-tb-solid, .br-tl-solid, .br-tr-solid, .br-ltr-solid, .br-solid {
  border-top-style: solid; }

.br-t-dotted, .br-tb-dotted, .br-tl-dotted, .br-tr-dotted, .br-ltr-dotted, .br-dotted {
  border-top-style: dotted; }

.br-t-dashed, .br-tb-dashed, .br-tl-dashed, .br-tr-dashed, .br-ltr-dashed, .br-dashed {
  border-top-style: dashed; }

.br-l-solid, .br-lr-solid, .br-tl-solid, .br-bl-solid, .br-ltr-solid, .br-lbr-solid, .br-solid {
  border-left-style: solid; }

.br-l-dotted, .br-lr-dotted, .br-tl-dotted, .br-bl-dotted, .br-ltr-dotted, .br-lbr-dotted, .br-dotted {
  border-left-style: dotted; }

.br-l-dashed, .br-lr-dashed, .br-tl-dashed, .br-bl-dashed, .br-ltr-dashed, .br-lbr-dashed, .br-dashed {
  border-left-style: dashed; }

.br-r-solid, .br-lr-solid, .br-tr-solid, .br-br-solid, .br-ltr-solid, .br-lbr-solid, .br-solid {
  border-right-style: solid; }

.br-r-dotted, .br-lr-dotted, .br-tr-dotted, .br-br-dotted, .br-ltr-dotted, .br-lbr-dotted, .br-dotted {
  border-right-style: dotted; }

.br-r-dashed, .br-lr-dashed, .br-tr-dashed, .br-br-dashed, .br-ltr-dashed, .br-lbr-dashed, .br-dashed {
  border-right-style: dashed; }

.br-b-solid, .br-tb-solid, .br-bl-solid, .br-br-solid, .br-lbr-solid, .br-solid {
  border-bottom-style: solid; }

.br-b-dotted, .br-tb-dotted, .br-bl-dotted, .br-br-dotted, .br-lbr-dotted, .br-dotted {
  border-bottom-style: dotted; }

.br-b-dashed, .br-tb-dashed, .br-bl-dashed, .br-br-dashed, .br-lbr-dashed, .br-dashed {
  border-bottom-style: dashed; }

.br-t-grey-10, .br-tb-grey-10, .br-tl-grey-10, .br-tr-grey-10, .br-ltr-grey-10, .br-grey-10 {
  border-top-color: #101010; }

.br-t-grey-20, .br-tb-grey-20, .br-tl-grey-20, .br-tr-grey-20, .br-ltr-grey-20, .br-grey-20 {
  border-top-color: #202020; }

.br-t-grey-30, .br-tb-grey-30, .br-tl-grey-30, .br-tr-grey-30, .br-ltr-grey-30, .br-grey-30 {
  border-top-color: #303030; }

.br-t-grey-40, .br-tb-grey-40, .br-tl-grey-40, .br-tr-grey-40, .br-ltr-grey-40, .br-grey-40 {
  border-top-color: #404040; }

.br-t-grey-50, .br-tb-grey-50, .br-tl-grey-50, .br-tr-grey-50, .br-ltr-grey-50, .br-grey-50 {
  border-top-color: #505050; }

.br-t-grey-60, .br-tb-grey-60, .br-tl-grey-60, .br-tr-grey-60, .br-ltr-grey-60, .br-grey-60 {
  border-top-color: #606060; }

.br-t-grey-70, .br-tb-grey-70, .br-tl-grey-70, .br-tr-grey-70, .br-ltr-grey-70, .br-grey-70 {
  border-top-color: #707070; }

.br-t-grey-80, .br-tb-grey-80, .br-tl-grey-80, .br-tr-grey-80, .br-ltr-grey-80, .br-grey-80 {
  border-top-color: gray; }

.br-t-grey-90, .br-tb-grey-90, .br-tl-grey-90, .br-tr-grey-90, .br-ltr-grey-90, .br-grey-90 {
  border-top-color: #909090; }

.br-t-grey-a0, .br-tb-grey-a0, .br-tl-grey-a0, .br-tr-grey-a0, .br-ltr-grey-a0, .br-grey-a0 {
  border-top-color: #a0a0a0; }

.br-t-grey-b0, .br-tb-grey-b0, .br-tl-grey-b0, .br-tr-grey-b0, .br-ltr-grey-b0, .br-grey-b0 {
  border-top-color: #b0b0b0; }

.br-t-grey-c0, .br-tb-grey-c0, .br-tl-grey-c0, .br-tr-grey-c0, .br-ltr-grey-c0, .br-grey-c0 {
  border-top-color: silver; }

.br-t-grey-d0, .br-tb-grey-d0, .br-tl-grey-d0, .br-tr-grey-d0, .br-ltr-grey-d0, .br-grey-d0 {
  border-top-color: #d0d0d0; }

.br-t-grey-e0, .br-tb-grey-e0, .br-tl-grey-e0, .br-tr-grey-e0, .br-ltr-grey-e0, .br-grey-e0 {
  border-top-color: #e0e0e0; }

.br-t-grey-f0, .br-tb-grey-f0, .br-tl-grey-f0, .br-tr-grey-f0, .br-ltr-grey-f0, .br-grey-f0 {
  border-top-color: #f0f0f0; }

.br-t-grey-fc, .br-tb-grey-fc, .br-tl-grey-fc, .br-tr-grey-fc, .br-ltr-grey-fc, .br-grey-fc {
  border-top-color: #fcfcfc; }

.br-t-grey-14, .br-tb-grey-14, .br-tl-grey-14, .br-tr-grey-14, .br-ltr-grey-14, .br-grey-14 {
  border-top-color: #141414; }

.br-t-grey-24, .br-tb-grey-24, .br-tl-grey-24, .br-tr-grey-24, .br-ltr-grey-24, .br-grey-24 {
  border-top-color: #242424; }

.br-t-grey-34, .br-tb-grey-34, .br-tl-grey-34, .br-tr-grey-34, .br-ltr-grey-34, .br-grey-34 {
  border-top-color: #343434; }

.br-t-grey-44, .br-tb-grey-44, .br-tl-grey-44, .br-tr-grey-44, .br-ltr-grey-44, .br-grey-44 {
  border-top-color: #444444; }

.br-t-grey-54, .br-tb-grey-54, .br-tl-grey-54, .br-tr-grey-54, .br-ltr-grey-54, .br-grey-54 {
  border-top-color: #545454; }

.br-t-grey-64, .br-tb-grey-64, .br-tl-grey-64, .br-tr-grey-64, .br-ltr-grey-64, .br-grey-64 {
  border-top-color: #646464; }

.br-t-grey-74, .br-tb-grey-74, .br-tl-grey-74, .br-tr-grey-74, .br-ltr-grey-74, .br-grey-74 {
  border-top-color: #747474; }

.br-t-grey-84, .br-tb-grey-84, .br-tl-grey-84, .br-tr-grey-84, .br-ltr-grey-84, .br-grey-84 {
  border-top-color: #848484; }

.br-t-grey-94, .br-tb-grey-94, .br-tl-grey-94, .br-tr-grey-94, .br-ltr-grey-94, .br-grey-94 {
  border-top-color: #949494; }

.br-t-grey-a4, .br-tb-grey-a4, .br-tl-grey-a4, .br-tr-grey-a4, .br-ltr-grey-a4, .br-grey-a4 {
  border-top-color: #a4a4a4; }

.br-t-grey-b4, .br-tb-grey-b4, .br-tl-grey-b4, .br-tr-grey-b4, .br-ltr-grey-b4, .br-grey-b4 {
  border-top-color: #b4b4b4; }

.br-t-grey-c4, .br-tb-grey-c4, .br-tl-grey-c4, .br-tr-grey-c4, .br-ltr-grey-c4, .br-grey-c4 {
  border-top-color: #c4c4c4; }

.br-t-grey-d4, .br-tb-grey-d4, .br-tl-grey-d4, .br-tr-grey-d4, .br-ltr-grey-d4, .br-grey-d4 {
  border-top-color: #d4d4d4; }

.br-t-grey-e4, .br-tb-grey-e4, .br-tl-grey-e4, .br-tr-grey-e4, .br-ltr-grey-e4, .br-grey-e4 {
  border-top-color: #e4e4e4; }

.br-t-grey-f4, .br-tb-grey-f4, .br-tl-grey-f4, .br-tr-grey-f4, .br-ltr-grey-f4, .br-grey-f4 {
  border-top-color: #f4f4f4; }

.br-t-grey-18, .br-tb-grey-18, .br-tl-grey-18, .br-tr-grey-18, .br-ltr-grey-18, .br-grey-18 {
  border-top-color: #181818; }

.br-t-grey-28, .br-tb-grey-28, .br-tl-grey-28, .br-tr-grey-28, .br-ltr-grey-28, .br-grey-28 {
  border-top-color: #282828; }

.br-t-grey-38, .br-tb-grey-38, .br-tl-grey-38, .br-tr-grey-38, .br-ltr-grey-38, .br-grey-38 {
  border-top-color: #383838; }

.br-t-grey-48, .br-tb-grey-48, .br-tl-grey-48, .br-tr-grey-48, .br-ltr-grey-48, .br-grey-48 {
  border-top-color: #484848; }

.br-t-grey-58, .br-tb-grey-58, .br-tl-grey-58, .br-tr-grey-58, .br-ltr-grey-58, .br-grey-58 {
  border-top-color: #585858; }

.br-t-grey-68, .br-tb-grey-68, .br-tl-grey-68, .br-tr-grey-68, .br-ltr-grey-68, .br-grey-68 {
  border-top-color: #686868; }

.br-t-grey-78, .br-tb-grey-78, .br-tl-grey-78, .br-tr-grey-78, .br-ltr-grey-78, .br-grey-78 {
  border-top-color: #787878; }

.br-t-grey-88, .br-tb-grey-88, .br-tl-grey-88, .br-tr-grey-88, .br-ltr-grey-88, .br-grey-88 {
  border-top-color: #888888; }

.br-t-grey-98, .br-tb-grey-98, .br-tl-grey-98, .br-tr-grey-98, .br-ltr-grey-98, .br-grey-98 {
  border-top-color: #989898; }

.br-t-grey-a8, .br-tb-grey-a8, .br-tl-grey-a8, .br-tr-grey-a8, .br-ltr-grey-a8, .br-grey-a8 {
  border-top-color: #a8a8a8; }

.br-t-grey-b8, .br-tb-grey-b8, .br-tl-grey-b8, .br-tr-grey-b8, .br-ltr-grey-b8, .br-grey-b8 {
  border-top-color: #b8b8b8; }

.br-t-grey-c8, .br-tb-grey-c8, .br-tl-grey-c8, .br-tr-grey-c8, .br-ltr-grey-c8, .br-grey-c8 {
  border-top-color: #c8c8c8; }

.br-t-grey-d8, .br-tb-grey-d8, .br-tl-grey-d8, .br-tr-grey-d8, .br-ltr-grey-d8, .br-grey-d8 {
  border-top-color: #d8d8d8; }

.br-t-grey-e8, .br-tb-grey-e8, .br-tl-grey-e8, .br-tr-grey-e8, .br-ltr-grey-e8, .br-grey-e8 {
  border-top-color: #e8e8e8; }

.br-t-grey-f8, .br-tb-grey-f8, .br-tl-grey-f8, .br-tr-grey-f8, .br-ltr-grey-f8, .br-grey-f8 {
  border-top-color: #f8f8f8; }

.br-t-grey-1c, .br-tb-grey-1c, .br-tl-grey-1c, .br-tr-grey-1c, .br-ltr-grey-1c, .br-grey-1c {
  border-top-color: #1c1c1c; }

.br-t-grey-2c, .br-tb-grey-2c, .br-tl-grey-2c, .br-tr-grey-2c, .br-ltr-grey-2c, .br-grey-2c {
  border-top-color: #2c2c2c; }

.br-t-grey-3c, .br-tb-grey-3c, .br-tl-grey-3c, .br-tr-grey-3c, .br-ltr-grey-3c, .br-grey-3c {
  border-top-color: #3c3c3c; }

.br-t-grey-4c, .br-tb-grey-4c, .br-tl-grey-4c, .br-tr-grey-4c, .br-ltr-grey-4c, .br-grey-4c {
  border-top-color: #4c4c4c; }

.br-t-grey-5c, .br-tb-grey-5c, .br-tl-grey-5c, .br-tr-grey-5c, .br-ltr-grey-5c, .br-grey-5c {
  border-top-color: #5c5c5c; }

.br-t-grey-6c, .br-tb-grey-6c, .br-tl-grey-6c, .br-tr-grey-6c, .br-ltr-grey-6c, .br-grey-6c {
  border-top-color: #6c6c6c; }

.br-t-grey-7c, .br-tb-grey-7c, .br-tl-grey-7c, .br-tr-grey-7c, .br-ltr-grey-7c, .br-grey-7c {
  border-top-color: #7c7c7c; }

.br-t-grey-8c, .br-tb-grey-8c, .br-tl-grey-8c, .br-tr-grey-8c, .br-ltr-grey-8c, .br-grey-8c {
  border-top-color: #8c8c8c; }

.br-t-grey-9c, .br-tb-grey-9c, .br-tl-grey-9c, .br-tr-grey-9c, .br-ltr-grey-9c, .br-grey-9c {
  border-top-color: #9c9c9c; }

.br-t-grey-ac, .br-tb-grey-ac, .br-tl-grey-ac, .br-tr-grey-ac, .br-ltr-grey-ac, .br-grey-ac {
  border-top-color: #acacac; }

.br-t-grey-bc, .br-tb-grey-bc, .br-tl-grey-bc, .br-tr-grey-bc, .br-ltr-grey-bc, .br-grey-bc {
  border-top-color: #bcbcbc; }

.br-t-grey-cc, .br-tb-grey-cc, .br-tl-grey-cc, .br-tr-grey-cc, .br-ltr-grey-cc, .br-grey-cc {
  border-top-color: #cccccc; }

.br-t-grey-dc, .br-tb-grey-dc, .br-tl-grey-dc, .br-tr-grey-dc, .br-ltr-grey-dc, .br-grey-dc {
  border-top-color: #dcdcdc; }

.br-t-grey-ec, .br-tb-grey-ec, .br-tl-grey-ec, .br-tr-grey-ec, .br-ltr-grey-ec, .br-grey-ec {
  border-top-color: #ececec; }

.br-t-orange, .br-tb-orange, .br-tl-orange, .br-tr-orange, .br-ltr-orange, .br-orange {
  border-top-color: #fc6b02; }

.br-t-white, .br-tb-white, .br-tl-white, .br-tr-white, .br-ltr-white, .br-white {
  border-top-color: white; }

.br-t-black, .br-tb-black, .br-tl-black, .br-tr-black, .br-ltr-black, .br-black {
  border-top-color: black; }

.br-l-grey-10, .br-lr-grey-10, .br-tl-grey-10, .br-bl-grey-10, .br-ltr-grey-10, .br-lbr-grey-10, .br-grey-10 {
  border-left-color: #101010; }

.br-l-grey-20, .br-lr-grey-20, .br-tl-grey-20, .br-bl-grey-20, .br-ltr-grey-20, .br-lbr-grey-20, .br-grey-20 {
  border-left-color: #202020; }

.br-l-grey-30, .br-lr-grey-30, .br-tl-grey-30, .br-bl-grey-30, .br-ltr-grey-30, .br-lbr-grey-30, .br-grey-30 {
  border-left-color: #303030; }

.br-l-grey-40, .br-lr-grey-40, .br-tl-grey-40, .br-bl-grey-40, .br-ltr-grey-40, .br-lbr-grey-40, .br-grey-40 {
  border-left-color: #404040; }

.br-l-grey-50, .br-lr-grey-50, .br-tl-grey-50, .br-bl-grey-50, .br-ltr-grey-50, .br-lbr-grey-50, .br-grey-50 {
  border-left-color: #505050; }

.br-l-grey-60, .br-lr-grey-60, .br-tl-grey-60, .br-bl-grey-60, .br-ltr-grey-60, .br-lbr-grey-60, .br-grey-60 {
  border-left-color: #606060; }

.br-l-grey-70, .br-lr-grey-70, .br-tl-grey-70, .br-bl-grey-70, .br-ltr-grey-70, .br-lbr-grey-70, .br-grey-70 {
  border-left-color: #707070; }

.br-l-grey-80, .br-lr-grey-80, .br-tl-grey-80, .br-bl-grey-80, .br-ltr-grey-80, .br-lbr-grey-80, .br-grey-80 {
  border-left-color: gray; }

.br-l-grey-90, .br-lr-grey-90, .br-tl-grey-90, .br-bl-grey-90, .br-ltr-grey-90, .br-lbr-grey-90, .br-grey-90 {
  border-left-color: #909090; }

.br-l-grey-a0, .br-lr-grey-a0, .br-tl-grey-a0, .br-bl-grey-a0, .br-ltr-grey-a0, .br-lbr-grey-a0, .br-grey-a0 {
  border-left-color: #a0a0a0; }

.br-l-grey-b0, .br-lr-grey-b0, .br-tl-grey-b0, .br-bl-grey-b0, .br-ltr-grey-b0, .br-lbr-grey-b0, .br-grey-b0 {
  border-left-color: #b0b0b0; }

.br-l-grey-c0, .br-lr-grey-c0, .br-tl-grey-c0, .br-bl-grey-c0, .br-ltr-grey-c0, .br-lbr-grey-c0, .br-grey-c0 {
  border-left-color: silver; }

.br-l-grey-d0, .br-lr-grey-d0, .br-tl-grey-d0, .br-bl-grey-d0, .br-ltr-grey-d0, .br-lbr-grey-d0, .br-grey-d0 {
  border-left-color: #d0d0d0; }

.br-l-grey-e0, .br-lr-grey-e0, .br-tl-grey-e0, .br-bl-grey-e0, .br-ltr-grey-e0, .br-lbr-grey-e0, .br-grey-e0 {
  border-left-color: #e0e0e0; }

.br-l-grey-f0, .br-lr-grey-f0, .br-tl-grey-f0, .br-bl-grey-f0, .br-ltr-grey-f0, .br-lbr-grey-f0, .br-grey-f0 {
  border-left-color: #f0f0f0; }

.br-l-grey-fc, .br-lr-grey-fc, .br-tl-grey-fc, .br-bl-grey-fc, .br-ltr-grey-fc, .br-lbr-grey-fc, .br-grey-fc {
  border-left-color: #fcfcfc; }

.br-l-grey-14, .br-lr-grey-14, .br-tl-grey-14, .br-bl-grey-14, .br-ltr-grey-14, .br-lbr-grey-14, .br-grey-14 {
  border-left-color: #141414; }

.br-l-grey-24, .br-lr-grey-24, .br-tl-grey-24, .br-bl-grey-24, .br-ltr-grey-24, .br-lbr-grey-24, .br-grey-24 {
  border-left-color: #242424; }

.br-l-grey-34, .br-lr-grey-34, .br-tl-grey-34, .br-bl-grey-34, .br-ltr-grey-34, .br-lbr-grey-34, .br-grey-34 {
  border-left-color: #343434; }

.br-l-grey-44, .br-lr-grey-44, .br-tl-grey-44, .br-bl-grey-44, .br-ltr-grey-44, .br-lbr-grey-44, .br-grey-44 {
  border-left-color: #444444; }

.br-l-grey-54, .br-lr-grey-54, .br-tl-grey-54, .br-bl-grey-54, .br-ltr-grey-54, .br-lbr-grey-54, .br-grey-54 {
  border-left-color: #545454; }

.br-l-grey-64, .br-lr-grey-64, .br-tl-grey-64, .br-bl-grey-64, .br-ltr-grey-64, .br-lbr-grey-64, .br-grey-64 {
  border-left-color: #646464; }

.br-l-grey-74, .br-lr-grey-74, .br-tl-grey-74, .br-bl-grey-74, .br-ltr-grey-74, .br-lbr-grey-74, .br-grey-74 {
  border-left-color: #747474; }

.br-l-grey-84, .br-lr-grey-84, .br-tl-grey-84, .br-bl-grey-84, .br-ltr-grey-84, .br-lbr-grey-84, .br-grey-84 {
  border-left-color: #848484; }

.br-l-grey-94, .br-lr-grey-94, .br-tl-grey-94, .br-bl-grey-94, .br-ltr-grey-94, .br-lbr-grey-94, .br-grey-94 {
  border-left-color: #949494; }

.br-l-grey-a4, .br-lr-grey-a4, .br-tl-grey-a4, .br-bl-grey-a4, .br-ltr-grey-a4, .br-lbr-grey-a4, .br-grey-a4 {
  border-left-color: #a4a4a4; }

.br-l-grey-b4, .br-lr-grey-b4, .br-tl-grey-b4, .br-bl-grey-b4, .br-ltr-grey-b4, .br-lbr-grey-b4, .br-grey-b4 {
  border-left-color: #b4b4b4; }

.br-l-grey-c4, .br-lr-grey-c4, .br-tl-grey-c4, .br-bl-grey-c4, .br-ltr-grey-c4, .br-lbr-grey-c4, .br-grey-c4 {
  border-left-color: #c4c4c4; }

.br-l-grey-d4, .br-lr-grey-d4, .br-tl-grey-d4, .br-bl-grey-d4, .br-ltr-grey-d4, .br-lbr-grey-d4, .br-grey-d4 {
  border-left-color: #d4d4d4; }

.br-l-grey-e4, .br-lr-grey-e4, .br-tl-grey-e4, .br-bl-grey-e4, .br-ltr-grey-e4, .br-lbr-grey-e4, .br-grey-e4 {
  border-left-color: #e4e4e4; }

.br-l-grey-f4, .br-lr-grey-f4, .br-tl-grey-f4, .br-bl-grey-f4, .br-ltr-grey-f4, .br-lbr-grey-f4, .br-grey-f4 {
  border-left-color: #f4f4f4; }

.br-l-grey-18, .br-lr-grey-18, .br-tl-grey-18, .br-bl-grey-18, .br-ltr-grey-18, .br-lbr-grey-18, .br-grey-18 {
  border-left-color: #181818; }

.br-l-grey-28, .br-lr-grey-28, .br-tl-grey-28, .br-bl-grey-28, .br-ltr-grey-28, .br-lbr-grey-28, .br-grey-28 {
  border-left-color: #282828; }

.br-l-grey-38, .br-lr-grey-38, .br-tl-grey-38, .br-bl-grey-38, .br-ltr-grey-38, .br-lbr-grey-38, .br-grey-38 {
  border-left-color: #383838; }

.br-l-grey-48, .br-lr-grey-48, .br-tl-grey-48, .br-bl-grey-48, .br-ltr-grey-48, .br-lbr-grey-48, .br-grey-48 {
  border-left-color: #484848; }

.br-l-grey-58, .br-lr-grey-58, .br-tl-grey-58, .br-bl-grey-58, .br-ltr-grey-58, .br-lbr-grey-58, .br-grey-58 {
  border-left-color: #585858; }

.br-l-grey-68, .br-lr-grey-68, .br-tl-grey-68, .br-bl-grey-68, .br-ltr-grey-68, .br-lbr-grey-68, .br-grey-68 {
  border-left-color: #686868; }

.br-l-grey-78, .br-lr-grey-78, .br-tl-grey-78, .br-bl-grey-78, .br-ltr-grey-78, .br-lbr-grey-78, .br-grey-78 {
  border-left-color: #787878; }

.br-l-grey-88, .br-lr-grey-88, .br-tl-grey-88, .br-bl-grey-88, .br-ltr-grey-88, .br-lbr-grey-88, .br-grey-88 {
  border-left-color: #888888; }

.br-l-grey-98, .br-lr-grey-98, .br-tl-grey-98, .br-bl-grey-98, .br-ltr-grey-98, .br-lbr-grey-98, .br-grey-98 {
  border-left-color: #989898; }

.br-l-grey-a8, .br-lr-grey-a8, .br-tl-grey-a8, .br-bl-grey-a8, .br-ltr-grey-a8, .br-lbr-grey-a8, .br-grey-a8 {
  border-left-color: #a8a8a8; }

.br-l-grey-b8, .br-lr-grey-b8, .br-tl-grey-b8, .br-bl-grey-b8, .br-ltr-grey-b8, .br-lbr-grey-b8, .br-grey-b8 {
  border-left-color: #b8b8b8; }

.br-l-grey-c8, .br-lr-grey-c8, .br-tl-grey-c8, .br-bl-grey-c8, .br-ltr-grey-c8, .br-lbr-grey-c8, .br-grey-c8 {
  border-left-color: #c8c8c8; }

.br-l-grey-d8, .br-lr-grey-d8, .br-tl-grey-d8, .br-bl-grey-d8, .br-ltr-grey-d8, .br-lbr-grey-d8, .br-grey-d8 {
  border-left-color: #d8d8d8; }

.br-l-grey-e8, .br-lr-grey-e8, .br-tl-grey-e8, .br-bl-grey-e8, .br-ltr-grey-e8, .br-lbr-grey-e8, .br-grey-e8 {
  border-left-color: #e8e8e8; }

.br-l-grey-f8, .br-lr-grey-f8, .br-tl-grey-f8, .br-bl-grey-f8, .br-ltr-grey-f8, .br-lbr-grey-f8, .br-grey-f8 {
  border-left-color: #f8f8f8; }

.br-l-grey-1c, .br-lr-grey-1c, .br-tl-grey-1c, .br-bl-grey-1c, .br-ltr-grey-1c, .br-lbr-grey-1c, .br-grey-1c {
  border-left-color: #1c1c1c; }

.br-l-grey-2c, .br-lr-grey-2c, .br-tl-grey-2c, .br-bl-grey-2c, .br-ltr-grey-2c, .br-lbr-grey-2c, .br-grey-2c {
  border-left-color: #2c2c2c; }

.br-l-grey-3c, .br-lr-grey-3c, .br-tl-grey-3c, .br-bl-grey-3c, .br-ltr-grey-3c, .br-lbr-grey-3c, .br-grey-3c {
  border-left-color: #3c3c3c; }

.br-l-grey-4c, .br-lr-grey-4c, .br-tl-grey-4c, .br-bl-grey-4c, .br-ltr-grey-4c, .br-lbr-grey-4c, .br-grey-4c {
  border-left-color: #4c4c4c; }

.br-l-grey-5c, .br-lr-grey-5c, .br-tl-grey-5c, .br-bl-grey-5c, .br-ltr-grey-5c, .br-lbr-grey-5c, .br-grey-5c {
  border-left-color: #5c5c5c; }

.br-l-grey-6c, .br-lr-grey-6c, .br-tl-grey-6c, .br-bl-grey-6c, .br-ltr-grey-6c, .br-lbr-grey-6c, .br-grey-6c {
  border-left-color: #6c6c6c; }

.br-l-grey-7c, .br-lr-grey-7c, .br-tl-grey-7c, .br-bl-grey-7c, .br-ltr-grey-7c, .br-lbr-grey-7c, .br-grey-7c {
  border-left-color: #7c7c7c; }

.br-l-grey-8c, .br-lr-grey-8c, .br-tl-grey-8c, .br-bl-grey-8c, .br-ltr-grey-8c, .br-lbr-grey-8c, .br-grey-8c {
  border-left-color: #8c8c8c; }

.br-l-grey-9c, .br-lr-grey-9c, .br-tl-grey-9c, .br-bl-grey-9c, .br-ltr-grey-9c, .br-lbr-grey-9c, .br-grey-9c {
  border-left-color: #9c9c9c; }

.br-l-grey-ac, .br-lr-grey-ac, .br-tl-grey-ac, .br-bl-grey-ac, .br-ltr-grey-ac, .br-lbr-grey-ac, .br-grey-ac {
  border-left-color: #acacac; }

.br-l-grey-bc, .br-lr-grey-bc, .br-tl-grey-bc, .br-bl-grey-bc, .br-ltr-grey-bc, .br-lbr-grey-bc, .br-grey-bc {
  border-left-color: #bcbcbc; }

.br-l-grey-cc, .br-lr-grey-cc, .br-tl-grey-cc, .br-bl-grey-cc, .br-ltr-grey-cc, .br-lbr-grey-cc, .br-grey-cc {
  border-left-color: #cccccc; }

.br-l-grey-dc, .br-lr-grey-dc, .br-tl-grey-dc, .br-bl-grey-dc, .br-ltr-grey-dc, .br-lbr-grey-dc, .br-grey-dc {
  border-left-color: #dcdcdc; }

.br-l-grey-ec, .br-lr-grey-ec, .br-tl-grey-ec, .br-bl-grey-ec, .br-ltr-grey-ec, .br-lbr-grey-ec, .br-grey-ec {
  border-left-color: #ececec; }

.br-l-orange, .br-lr-orange, .br-tl-orange, .br-bl-orange, .br-ltr-orange, .br-lbr-orange, .br-orange {
  border-left-color: #fc6b02; }

.br-l-white, .br-lr-white, .br-tl-white, .br-bl-white, .br-ltr-white, .br-lbr-white, .br-white {
  border-left-color: white; }

.br-l-black, .br-lr-black, .br-tl-black, .br-bl-black, .br-ltr-black, .br-lbr-black, .br-black {
  border-left-color: black; }

.br-r-grey-10, .br-lr-grey-10, .br-tr-grey-10, .br-br-grey-10, .br-ltr-grey-10, .br-lbr-grey-10, .br-grey-10 {
  border-right-color: #101010; }

.br-r-grey-20, .br-lr-grey-20, .br-tr-grey-20, .br-br-grey-20, .br-ltr-grey-20, .br-lbr-grey-20, .br-grey-20 {
  border-right-color: #202020; }

.br-r-grey-30, .br-lr-grey-30, .br-tr-grey-30, .br-br-grey-30, .br-ltr-grey-30, .br-lbr-grey-30, .br-grey-30 {
  border-right-color: #303030; }

.br-r-grey-40, .br-lr-grey-40, .br-tr-grey-40, .br-br-grey-40, .br-ltr-grey-40, .br-lbr-grey-40, .br-grey-40 {
  border-right-color: #404040; }

.br-r-grey-50, .br-lr-grey-50, .br-tr-grey-50, .br-br-grey-50, .br-ltr-grey-50, .br-lbr-grey-50, .br-grey-50 {
  border-right-color: #505050; }

.br-r-grey-60, .br-lr-grey-60, .br-tr-grey-60, .br-br-grey-60, .br-ltr-grey-60, .br-lbr-grey-60, .br-grey-60 {
  border-right-color: #606060; }

.br-r-grey-70, .br-lr-grey-70, .br-tr-grey-70, .br-br-grey-70, .br-ltr-grey-70, .br-lbr-grey-70, .br-grey-70 {
  border-right-color: #707070; }

.br-r-grey-80, .br-lr-grey-80, .br-tr-grey-80, .br-br-grey-80, .br-ltr-grey-80, .br-lbr-grey-80, .br-grey-80 {
  border-right-color: gray; }

.br-r-grey-90, .br-lr-grey-90, .br-tr-grey-90, .br-br-grey-90, .br-ltr-grey-90, .br-lbr-grey-90, .br-grey-90 {
  border-right-color: #909090; }

.br-r-grey-a0, .br-lr-grey-a0, .br-tr-grey-a0, .br-br-grey-a0, .br-ltr-grey-a0, .br-lbr-grey-a0, .br-grey-a0 {
  border-right-color: #a0a0a0; }

.br-r-grey-b0, .br-lr-grey-b0, .br-tr-grey-b0, .br-br-grey-b0, .br-ltr-grey-b0, .br-lbr-grey-b0, .br-grey-b0 {
  border-right-color: #b0b0b0; }

.br-r-grey-c0, .br-lr-grey-c0, .br-tr-grey-c0, .br-br-grey-c0, .br-ltr-grey-c0, .br-lbr-grey-c0, .br-grey-c0 {
  border-right-color: silver; }

.br-r-grey-d0, .br-lr-grey-d0, .br-tr-grey-d0, .br-br-grey-d0, .br-ltr-grey-d0, .br-lbr-grey-d0, .br-grey-d0 {
  border-right-color: #d0d0d0; }

.br-r-grey-e0, .br-lr-grey-e0, .br-tr-grey-e0, .br-br-grey-e0, .br-ltr-grey-e0, .br-lbr-grey-e0, .br-grey-e0 {
  border-right-color: #e0e0e0; }

.br-r-grey-f0, .br-lr-grey-f0, .br-tr-grey-f0, .br-br-grey-f0, .br-ltr-grey-f0, .br-lbr-grey-f0, .br-grey-f0 {
  border-right-color: #f0f0f0; }

.br-r-grey-fc, .br-lr-grey-fc, .br-tr-grey-fc, .br-br-grey-fc, .br-ltr-grey-fc, .br-lbr-grey-fc, .br-grey-fc {
  border-right-color: #fcfcfc; }

.br-r-grey-14, .br-lr-grey-14, .br-tr-grey-14, .br-br-grey-14, .br-ltr-grey-14, .br-lbr-grey-14, .br-grey-14 {
  border-right-color: #141414; }

.br-r-grey-24, .br-lr-grey-24, .br-tr-grey-24, .br-br-grey-24, .br-ltr-grey-24, .br-lbr-grey-24, .br-grey-24 {
  border-right-color: #242424; }

.br-r-grey-34, .br-lr-grey-34, .br-tr-grey-34, .br-br-grey-34, .br-ltr-grey-34, .br-lbr-grey-34, .br-grey-34 {
  border-right-color: #343434; }

.br-r-grey-44, .br-lr-grey-44, .br-tr-grey-44, .br-br-grey-44, .br-ltr-grey-44, .br-lbr-grey-44, .br-grey-44 {
  border-right-color: #444444; }

.br-r-grey-54, .br-lr-grey-54, .br-tr-grey-54, .br-br-grey-54, .br-ltr-grey-54, .br-lbr-grey-54, .br-grey-54 {
  border-right-color: #545454; }

.br-r-grey-64, .br-lr-grey-64, .br-tr-grey-64, .br-br-grey-64, .br-ltr-grey-64, .br-lbr-grey-64, .br-grey-64 {
  border-right-color: #646464; }

.br-r-grey-74, .br-lr-grey-74, .br-tr-grey-74, .br-br-grey-74, .br-ltr-grey-74, .br-lbr-grey-74, .br-grey-74 {
  border-right-color: #747474; }

.br-r-grey-84, .br-lr-grey-84, .br-tr-grey-84, .br-br-grey-84, .br-ltr-grey-84, .br-lbr-grey-84, .br-grey-84 {
  border-right-color: #848484; }

.br-r-grey-94, .br-lr-grey-94, .br-tr-grey-94, .br-br-grey-94, .br-ltr-grey-94, .br-lbr-grey-94, .br-grey-94 {
  border-right-color: #949494; }

.br-r-grey-a4, .br-lr-grey-a4, .br-tr-grey-a4, .br-br-grey-a4, .br-ltr-grey-a4, .br-lbr-grey-a4, .br-grey-a4 {
  border-right-color: #a4a4a4; }

.br-r-grey-b4, .br-lr-grey-b4, .br-tr-grey-b4, .br-br-grey-b4, .br-ltr-grey-b4, .br-lbr-grey-b4, .br-grey-b4 {
  border-right-color: #b4b4b4; }

.br-r-grey-c4, .br-lr-grey-c4, .br-tr-grey-c4, .br-br-grey-c4, .br-ltr-grey-c4, .br-lbr-grey-c4, .br-grey-c4 {
  border-right-color: #c4c4c4; }

.br-r-grey-d4, .br-lr-grey-d4, .br-tr-grey-d4, .br-br-grey-d4, .br-ltr-grey-d4, .br-lbr-grey-d4, .br-grey-d4 {
  border-right-color: #d4d4d4; }

.br-r-grey-e4, .br-lr-grey-e4, .br-tr-grey-e4, .br-br-grey-e4, .br-ltr-grey-e4, .br-lbr-grey-e4, .br-grey-e4 {
  border-right-color: #e4e4e4; }

.br-r-grey-f4, .br-lr-grey-f4, .br-tr-grey-f4, .br-br-grey-f4, .br-ltr-grey-f4, .br-lbr-grey-f4, .br-grey-f4 {
  border-right-color: #f4f4f4; }

.br-r-grey-18, .br-lr-grey-18, .br-tr-grey-18, .br-br-grey-18, .br-ltr-grey-18, .br-lbr-grey-18, .br-grey-18 {
  border-right-color: #181818; }

.br-r-grey-28, .br-lr-grey-28, .br-tr-grey-28, .br-br-grey-28, .br-ltr-grey-28, .br-lbr-grey-28, .br-grey-28 {
  border-right-color: #282828; }

.br-r-grey-38, .br-lr-grey-38, .br-tr-grey-38, .br-br-grey-38, .br-ltr-grey-38, .br-lbr-grey-38, .br-grey-38 {
  border-right-color: #383838; }

.br-r-grey-48, .br-lr-grey-48, .br-tr-grey-48, .br-br-grey-48, .br-ltr-grey-48, .br-lbr-grey-48, .br-grey-48 {
  border-right-color: #484848; }

.br-r-grey-58, .br-lr-grey-58, .br-tr-grey-58, .br-br-grey-58, .br-ltr-grey-58, .br-lbr-grey-58, .br-grey-58 {
  border-right-color: #585858; }

.br-r-grey-68, .br-lr-grey-68, .br-tr-grey-68, .br-br-grey-68, .br-ltr-grey-68, .br-lbr-grey-68, .br-grey-68 {
  border-right-color: #686868; }

.br-r-grey-78, .br-lr-grey-78, .br-tr-grey-78, .br-br-grey-78, .br-ltr-grey-78, .br-lbr-grey-78, .br-grey-78 {
  border-right-color: #787878; }

.br-r-grey-88, .br-lr-grey-88, .br-tr-grey-88, .br-br-grey-88, .br-ltr-grey-88, .br-lbr-grey-88, .br-grey-88 {
  border-right-color: #888888; }

.br-r-grey-98, .br-lr-grey-98, .br-tr-grey-98, .br-br-grey-98, .br-ltr-grey-98, .br-lbr-grey-98, .br-grey-98 {
  border-right-color: #989898; }

.br-r-grey-a8, .br-lr-grey-a8, .br-tr-grey-a8, .br-br-grey-a8, .br-ltr-grey-a8, .br-lbr-grey-a8, .br-grey-a8 {
  border-right-color: #a8a8a8; }

.br-r-grey-b8, .br-lr-grey-b8, .br-tr-grey-b8, .br-br-grey-b8, .br-ltr-grey-b8, .br-lbr-grey-b8, .br-grey-b8 {
  border-right-color: #b8b8b8; }

.br-r-grey-c8, .br-lr-grey-c8, .br-tr-grey-c8, .br-br-grey-c8, .br-ltr-grey-c8, .br-lbr-grey-c8, .br-grey-c8 {
  border-right-color: #c8c8c8; }

.br-r-grey-d8, .br-lr-grey-d8, .br-tr-grey-d8, .br-br-grey-d8, .br-ltr-grey-d8, .br-lbr-grey-d8, .br-grey-d8 {
  border-right-color: #d8d8d8; }

.br-r-grey-e8, .br-lr-grey-e8, .br-tr-grey-e8, .br-br-grey-e8, .br-ltr-grey-e8, .br-lbr-grey-e8, .br-grey-e8 {
  border-right-color: #e8e8e8; }

.br-r-grey-f8, .br-lr-grey-f8, .br-tr-grey-f8, .br-br-grey-f8, .br-ltr-grey-f8, .br-lbr-grey-f8, .br-grey-f8 {
  border-right-color: #f8f8f8; }

.br-r-grey-1c, .br-lr-grey-1c, .br-tr-grey-1c, .br-br-grey-1c, .br-ltr-grey-1c, .br-lbr-grey-1c, .br-grey-1c {
  border-right-color: #1c1c1c; }

.br-r-grey-2c, .br-lr-grey-2c, .br-tr-grey-2c, .br-br-grey-2c, .br-ltr-grey-2c, .br-lbr-grey-2c, .br-grey-2c {
  border-right-color: #2c2c2c; }

.br-r-grey-3c, .br-lr-grey-3c, .br-tr-grey-3c, .br-br-grey-3c, .br-ltr-grey-3c, .br-lbr-grey-3c, .br-grey-3c {
  border-right-color: #3c3c3c; }

.br-r-grey-4c, .br-lr-grey-4c, .br-tr-grey-4c, .br-br-grey-4c, .br-ltr-grey-4c, .br-lbr-grey-4c, .br-grey-4c {
  border-right-color: #4c4c4c; }

.br-r-grey-5c, .br-lr-grey-5c, .br-tr-grey-5c, .br-br-grey-5c, .br-ltr-grey-5c, .br-lbr-grey-5c, .br-grey-5c {
  border-right-color: #5c5c5c; }

.br-r-grey-6c, .br-lr-grey-6c, .br-tr-grey-6c, .br-br-grey-6c, .br-ltr-grey-6c, .br-lbr-grey-6c, .br-grey-6c {
  border-right-color: #6c6c6c; }

.br-r-grey-7c, .br-lr-grey-7c, .br-tr-grey-7c, .br-br-grey-7c, .br-ltr-grey-7c, .br-lbr-grey-7c, .br-grey-7c {
  border-right-color: #7c7c7c; }

.br-r-grey-8c, .br-lr-grey-8c, .br-tr-grey-8c, .br-br-grey-8c, .br-ltr-grey-8c, .br-lbr-grey-8c, .br-grey-8c {
  border-right-color: #8c8c8c; }

.br-r-grey-9c, .br-lr-grey-9c, .br-tr-grey-9c, .br-br-grey-9c, .br-ltr-grey-9c, .br-lbr-grey-9c, .br-grey-9c {
  border-right-color: #9c9c9c; }

.br-r-grey-ac, .br-lr-grey-ac, .br-tr-grey-ac, .br-br-grey-ac, .br-ltr-grey-ac, .br-lbr-grey-ac, .br-grey-ac {
  border-right-color: #acacac; }

.br-r-grey-bc, .br-lr-grey-bc, .br-tr-grey-bc, .br-br-grey-bc, .br-ltr-grey-bc, .br-lbr-grey-bc, .br-grey-bc {
  border-right-color: #bcbcbc; }

.br-r-grey-cc, .br-lr-grey-cc, .br-tr-grey-cc, .br-br-grey-cc, .br-ltr-grey-cc, .br-lbr-grey-cc, .br-grey-cc {
  border-right-color: #cccccc; }

.br-r-grey-dc, .br-lr-grey-dc, .br-tr-grey-dc, .br-br-grey-dc, .br-ltr-grey-dc, .br-lbr-grey-dc, .br-grey-dc {
  border-right-color: #dcdcdc; }

.br-r-grey-ec, .br-lr-grey-ec, .br-tr-grey-ec, .br-br-grey-ec, .br-ltr-grey-ec, .br-lbr-grey-ec, .br-grey-ec {
  border-right-color: #ececec; }

.br-r-orange, .br-lr-orange, .br-tr-orange, .br-br-orange, .br-ltr-orange, .br-lbr-orange, .br-orange {
  border-right-color: #fc6b02; }

.br-r-white, .br-lr-white, .br-tr-white, .br-br-white, .br-ltr-white, .br-lbr-white, .br-white {
  border-right-color: white; }

.br-r-black, .br-lr-black, .br-tr-black, .br-br-black, .br-ltr-black, .br-lbr-black, .br-black {
  border-right-color: black; }

.br-b-grey-10, .br-tb-grey-10, .br-bl-grey-10, .br-br-grey-10, .br-lbr-grey-10, .br-grey-10 {
  border-bottom-color: #101010; }

.br-b-grey-20, .br-tb-grey-20, .br-bl-grey-20, .br-br-grey-20, .br-lbr-grey-20, .br-grey-20 {
  border-bottom-color: #202020; }

.br-b-grey-30, .br-tb-grey-30, .br-bl-grey-30, .br-br-grey-30, .br-lbr-grey-30, .br-grey-30 {
  border-bottom-color: #303030; }

.br-b-grey-40, .br-tb-grey-40, .br-bl-grey-40, .br-br-grey-40, .br-lbr-grey-40, .br-grey-40 {
  border-bottom-color: #404040; }

.br-b-grey-50, .br-tb-grey-50, .br-bl-grey-50, .br-br-grey-50, .br-lbr-grey-50, .br-grey-50 {
  border-bottom-color: #505050; }

.br-b-grey-60, .br-tb-grey-60, .br-bl-grey-60, .br-br-grey-60, .br-lbr-grey-60, .br-grey-60 {
  border-bottom-color: #606060; }

.br-b-grey-70, .br-tb-grey-70, .br-bl-grey-70, .br-br-grey-70, .br-lbr-grey-70, .br-grey-70 {
  border-bottom-color: #707070; }

.br-b-grey-80, .br-tb-grey-80, .br-bl-grey-80, .br-br-grey-80, .br-lbr-grey-80, .br-grey-80 {
  border-bottom-color: gray; }

.br-b-grey-90, .br-tb-grey-90, .br-bl-grey-90, .br-br-grey-90, .br-lbr-grey-90, .br-grey-90 {
  border-bottom-color: #909090; }

.br-b-grey-a0, .br-tb-grey-a0, .br-bl-grey-a0, .br-br-grey-a0, .br-lbr-grey-a0, .br-grey-a0 {
  border-bottom-color: #a0a0a0; }

.br-b-grey-b0, .br-tb-grey-b0, .br-bl-grey-b0, .br-br-grey-b0, .br-lbr-grey-b0, .br-grey-b0 {
  border-bottom-color: #b0b0b0; }

.br-b-grey-c0, .br-tb-grey-c0, .br-bl-grey-c0, .br-br-grey-c0, .br-lbr-grey-c0, .br-grey-c0 {
  border-bottom-color: silver; }

.br-b-grey-d0, .br-tb-grey-d0, .br-bl-grey-d0, .br-br-grey-d0, .br-lbr-grey-d0, .br-grey-d0 {
  border-bottom-color: #d0d0d0; }

.br-b-grey-e0, .br-tb-grey-e0, .br-bl-grey-e0, .br-br-grey-e0, .br-lbr-grey-e0, .br-grey-e0 {
  border-bottom-color: #e0e0e0; }

.br-b-grey-f0, .br-tb-grey-f0, .br-bl-grey-f0, .br-br-grey-f0, .br-lbr-grey-f0, .br-grey-f0 {
  border-bottom-color: #f0f0f0; }

.br-b-grey-fc, .br-tb-grey-fc, .br-bl-grey-fc, .br-br-grey-fc, .br-lbr-grey-fc, .br-grey-fc {
  border-bottom-color: #fcfcfc; }

.br-b-grey-14, .br-tb-grey-14, .br-bl-grey-14, .br-br-grey-14, .br-lbr-grey-14, .br-grey-14 {
  border-bottom-color: #141414; }

.br-b-grey-24, .br-tb-grey-24, .br-bl-grey-24, .br-br-grey-24, .br-lbr-grey-24, .br-grey-24 {
  border-bottom-color: #242424; }

.br-b-grey-34, .br-tb-grey-34, .br-bl-grey-34, .br-br-grey-34, .br-lbr-grey-34, .br-grey-34 {
  border-bottom-color: #343434; }

.br-b-grey-44, .br-tb-grey-44, .br-bl-grey-44, .br-br-grey-44, .br-lbr-grey-44, .br-grey-44 {
  border-bottom-color: #444444; }

.br-b-grey-54, .br-tb-grey-54, .br-bl-grey-54, .br-br-grey-54, .br-lbr-grey-54, .br-grey-54 {
  border-bottom-color: #545454; }

.br-b-grey-64, .br-tb-grey-64, .br-bl-grey-64, .br-br-grey-64, .br-lbr-grey-64, .br-grey-64 {
  border-bottom-color: #646464; }

.br-b-grey-74, .br-tb-grey-74, .br-bl-grey-74, .br-br-grey-74, .br-lbr-grey-74, .br-grey-74 {
  border-bottom-color: #747474; }

.br-b-grey-84, .br-tb-grey-84, .br-bl-grey-84, .br-br-grey-84, .br-lbr-grey-84, .br-grey-84 {
  border-bottom-color: #848484; }

.br-b-grey-94, .br-tb-grey-94, .br-bl-grey-94, .br-br-grey-94, .br-lbr-grey-94, .br-grey-94 {
  border-bottom-color: #949494; }

.br-b-grey-a4, .br-tb-grey-a4, .br-bl-grey-a4, .br-br-grey-a4, .br-lbr-grey-a4, .br-grey-a4 {
  border-bottom-color: #a4a4a4; }

.br-b-grey-b4, .br-tb-grey-b4, .br-bl-grey-b4, .br-br-grey-b4, .br-lbr-grey-b4, .br-grey-b4 {
  border-bottom-color: #b4b4b4; }

.br-b-grey-c4, .br-tb-grey-c4, .br-bl-grey-c4, .br-br-grey-c4, .br-lbr-grey-c4, .br-grey-c4 {
  border-bottom-color: #c4c4c4; }

.br-b-grey-d4, .br-tb-grey-d4, .br-bl-grey-d4, .br-br-grey-d4, .br-lbr-grey-d4, .br-grey-d4 {
  border-bottom-color: #d4d4d4; }

.br-b-grey-e4, .br-tb-grey-e4, .br-bl-grey-e4, .br-br-grey-e4, .br-lbr-grey-e4, .br-grey-e4 {
  border-bottom-color: #e4e4e4; }

.br-b-grey-f4, .br-tb-grey-f4, .br-bl-grey-f4, .br-br-grey-f4, .br-lbr-grey-f4, .br-grey-f4 {
  border-bottom-color: #f4f4f4; }

.br-b-grey-18, .br-tb-grey-18, .br-bl-grey-18, .br-br-grey-18, .br-lbr-grey-18, .br-grey-18 {
  border-bottom-color: #181818; }

.br-b-grey-28, .br-tb-grey-28, .br-bl-grey-28, .br-br-grey-28, .br-lbr-grey-28, .br-grey-28 {
  border-bottom-color: #282828; }

.br-b-grey-38, .br-tb-grey-38, .br-bl-grey-38, .br-br-grey-38, .br-lbr-grey-38, .br-grey-38 {
  border-bottom-color: #383838; }

.br-b-grey-48, .br-tb-grey-48, .br-bl-grey-48, .br-br-grey-48, .br-lbr-grey-48, .br-grey-48 {
  border-bottom-color: #484848; }

.br-b-grey-58, .br-tb-grey-58, .br-bl-grey-58, .br-br-grey-58, .br-lbr-grey-58, .br-grey-58 {
  border-bottom-color: #585858; }

.br-b-grey-68, .br-tb-grey-68, .br-bl-grey-68, .br-br-grey-68, .br-lbr-grey-68, .br-grey-68 {
  border-bottom-color: #686868; }

.br-b-grey-78, .br-tb-grey-78, .br-bl-grey-78, .br-br-grey-78, .br-lbr-grey-78, .br-grey-78 {
  border-bottom-color: #787878; }

.br-b-grey-88, .br-tb-grey-88, .br-bl-grey-88, .br-br-grey-88, .br-lbr-grey-88, .br-grey-88 {
  border-bottom-color: #888888; }

.br-b-grey-98, .br-tb-grey-98, .br-bl-grey-98, .br-br-grey-98, .br-lbr-grey-98, .br-grey-98 {
  border-bottom-color: #989898; }

.br-b-grey-a8, .br-tb-grey-a8, .br-bl-grey-a8, .br-br-grey-a8, .br-lbr-grey-a8, .br-grey-a8 {
  border-bottom-color: #a8a8a8; }

.br-b-grey-b8, .br-tb-grey-b8, .br-bl-grey-b8, .br-br-grey-b8, .br-lbr-grey-b8, .br-grey-b8 {
  border-bottom-color: #b8b8b8; }

.br-b-grey-c8, .br-tb-grey-c8, .br-bl-grey-c8, .br-br-grey-c8, .br-lbr-grey-c8, .br-grey-c8 {
  border-bottom-color: #c8c8c8; }

.br-b-grey-d8, .br-tb-grey-d8, .br-bl-grey-d8, .br-br-grey-d8, .br-lbr-grey-d8, .br-grey-d8 {
  border-bottom-color: #d8d8d8; }

.br-b-grey-e8, .br-tb-grey-e8, .br-bl-grey-e8, .br-br-grey-e8, .br-lbr-grey-e8, .br-grey-e8 {
  border-bottom-color: #e8e8e8; }

.br-b-grey-f8, .br-tb-grey-f8, .br-bl-grey-f8, .br-br-grey-f8, .br-lbr-grey-f8, .br-grey-f8 {
  border-bottom-color: #f8f8f8; }

.br-b-grey-1c, .br-tb-grey-1c, .br-bl-grey-1c, .br-br-grey-1c, .br-lbr-grey-1c, .br-grey-1c {
  border-bottom-color: #1c1c1c; }

.br-b-grey-2c, .br-tb-grey-2c, .br-bl-grey-2c, .br-br-grey-2c, .br-lbr-grey-2c, .br-grey-2c {
  border-bottom-color: #2c2c2c; }

.br-b-grey-3c, .br-tb-grey-3c, .br-bl-grey-3c, .br-br-grey-3c, .br-lbr-grey-3c, .br-grey-3c {
  border-bottom-color: #3c3c3c; }

.br-b-grey-4c, .br-tb-grey-4c, .br-bl-grey-4c, .br-br-grey-4c, .br-lbr-grey-4c, .br-grey-4c {
  border-bottom-color: #4c4c4c; }

.br-b-grey-5c, .br-tb-grey-5c, .br-bl-grey-5c, .br-br-grey-5c, .br-lbr-grey-5c, .br-grey-5c {
  border-bottom-color: #5c5c5c; }

.br-b-grey-6c, .br-tb-grey-6c, .br-bl-grey-6c, .br-br-grey-6c, .br-lbr-grey-6c, .br-grey-6c {
  border-bottom-color: #6c6c6c; }

.br-b-grey-7c, .br-tb-grey-7c, .br-bl-grey-7c, .br-br-grey-7c, .br-lbr-grey-7c, .br-grey-7c {
  border-bottom-color: #7c7c7c; }

.br-b-grey-8c, .br-tb-grey-8c, .br-bl-grey-8c, .br-br-grey-8c, .br-lbr-grey-8c, .br-grey-8c {
  border-bottom-color: #8c8c8c; }

.br-b-grey-9c, .br-tb-grey-9c, .br-bl-grey-9c, .br-br-grey-9c, .br-lbr-grey-9c, .br-grey-9c {
  border-bottom-color: #9c9c9c; }

.br-b-grey-ac, .br-tb-grey-ac, .br-bl-grey-ac, .br-br-grey-ac, .br-lbr-grey-ac, .br-grey-ac {
  border-bottom-color: #acacac; }

.br-b-grey-bc, .br-tb-grey-bc, .br-bl-grey-bc, .br-br-grey-bc, .br-lbr-grey-bc, .br-grey-bc {
  border-bottom-color: #bcbcbc; }

.br-b-grey-cc, .br-tb-grey-cc, .br-bl-grey-cc, .br-br-grey-cc, .br-lbr-grey-cc, .br-grey-cc {
  border-bottom-color: #cccccc; }

.br-b-grey-dc, .br-tb-grey-dc, .br-bl-grey-dc, .br-br-grey-dc, .br-lbr-grey-dc, .br-grey-dc {
  border-bottom-color: #dcdcdc; }

.br-b-grey-ec, .br-tb-grey-ec, .br-bl-grey-ec, .br-br-grey-ec, .br-lbr-grey-ec, .br-grey-ec {
  border-bottom-color: #ececec; }

.br-b-orange, .br-tb-orange, .br-bl-orange, .br-br-orange, .br-lbr-orange, .br-orange {
  border-bottom-color: #fc6b02; }

.br-b-white, .br-tb-white, .br-bl-white, .br-br-white, .br-lbr-white, .br-white {
  border-bottom-color: white; }

.br-b-black, .br-tb-black, .br-bl-black, .br-br-black, .br-lbr-black, .br-black {
  border-bottom-color: black; }

.round-tl-3px, .round-tl-u3 {
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-tl-5px, .round-tl-u5 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-tl-7px, .round-tl-u7 {
  -moz-border-radius: 7px 0 0 0;
  -webkit-border-radius: 7px 0 0 0;
  border-radius: 7px 0 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-tl-9px, .round-tl-u9 {
  -moz-border-radius: 9px 0 0 0;
  -webkit-border-radius: 9px 0 0 0;
  border-radius: 9px 0 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-tr-3px, .round-tr-u3 {
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-tr-5px, .round-tr-u5 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-tr-7px, .round-tr-u7 {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-tr-9px, .round-tr-u9 {
  -moz-border-radius: 0 9px 0 0;
  -webkit-border-radius: 0 9px 0 0;
  border-radius: 0 9px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-bl-3px, .round-bl-u3 {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-bl-5px, .round-bl-u5 {
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-bl-7px, .round-bl-u7 {
  -moz-border-radius: 0 0 0 7px;
  -webkit-border-radius: 0 0 0 7px;
  border-radius: 0 0 0 7px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-bl-9px, .round-bl-u9 {
  -moz-border-radius: 0 0 0 9px;
  -webkit-border-radius: 0 0 0 9px;
  border-radius: 0 0 0 9px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-br-3px, .round-br-u3 {
  -moz-border-radius: 0 0 3px 0;
  -webkit-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-br-5px, .round-br-u5 {
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-br-7px, .round-br-u7 {
  -moz-border-radius: 0 0 7px 0;
  -webkit-border-radius: 0 0 7px 0;
  border-radius: 0 0 7px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-br-9px, .round-br-u9 {
  -moz-border-radius: 0 0 9px 0;
  -webkit-border-radius: 0 0 9px 0;
  border-radius: 0 0 9px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-t-3px, .round-t-u3 {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-t-5px, .round-t-u5 {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-t-7px, .round-t-u7 {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-t-9px, .round-t-u9 {
  -moz-border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px 9px 0 0;
  border-radius: 9px 9px 0 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-l-3px, .round-l-u3 {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-l-5px, .round-l-u5 {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-l-7px, .round-l-u7 {
  -moz-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-l-9px, .round-l-u9 {
  -moz-border-radius: 9px 0 0 9px;
  -webkit-border-radius: 9px 0 0 9px;
  border-radius: 9px 0 0 9px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-b-3px, .round-b-u3 {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-b-5px, .round-b-u5 {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-b-7px, .round-b-u7 {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-b-9px, .round-b-u9 {
  -moz-border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
  border-radius: 0 0 9px 9px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-r-3px, .round-r-u3 {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-r-5px, .round-r-u5 {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-r-7px, .round-r-u7 {
  -moz-border-radius: 0 7px 7px 0;
  -webkit-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-r-9px, .round-r-u9 {
  -moz-border-radius: 0 9px 9px 0;
  -webkit-border-radius: 0 9px 9px 0;
  border-radius: 0 9px 9px 0;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-3px, .round-u3 {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-5px, .round-u5 {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-7px, .round-u7 {
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  behavior: url(/assets/lib/shim/pie.htc); }

.round-9px, .round-u9 {
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  behavior: url(/assets/lib/shim/pie.htc); }

.cur-default {
  cursor: default; }

.cur-pointer {
  cursor: pointer; }

.cur-move {
  cursor: move; }
/* `is-value` returns `true` if the `$val` is not blank, `false` otherise */
/* `is-blank` returns `true` if the `$val` is `""` or `()`, `false` otherise */
/* look-up *******************************************************************/
/* `plus` returns `$x` added or concatenated to `$y` */
/* `plus` returns `$x` added or concatenated to `$y` */
/* `zero` returns 0 of the same type as `$amt` */
/* `n` returns `$n` of the same type as `$amt` */
/* `one` returns 1 of the same type as `$amt` */
/* `decimal` returns the first digit after the decimal */
/* `format-unit` returns the formatted unit of `$amt` */
/* `format-value` returns the `$val` formatted as text, with the unit as decimal point */
/* `to-unitless` returns the `$amt` without units */
.txt-hidden {
  text-indent: 9999px; }

.txt-inherit-size, .txt-inherit {
  font-size: inherit; }

.txt-inherit-color, .txt-inherit {
  color: inherit; }

.txt-inherit-style, .txt-inherit {
  font-style: inherit; }

.txt-inherit-weight, .txt-inherit {
  font-weight: inherit; }

.txt-inherit-decoration, .txt-inherit {
  text-decoration: inherit; }

.txt-inherit-transform, .txt-inherit {
  text-transform: inherit; }

.txt-bold {
  font-weight: bold; }

.txt-italic {
  font-style: italic; }

.txt-0 {
  font-size: 0; }

.txt-8px, .txt-u8 {
  font-size: 8px; }

.txt-9px, .txt-u9 {
  font-size: 9px; }

.txt-10px, .txt-1, .txt-col1 {
  font-size: 10px; }

.txt-11px, .txt-1u1 {
  font-size: 11px; }

.txt-12px, .txt-1u2 {
  font-size: 12px; }

.txt-13px, .txt-1u3 {
  font-size: 13px; }

.txt-14px, .txt-1u4 {
  font-size: 14px; }

.txt-15px, .txt-1u5 {
  font-size: 15px; }

.txt-16px, .txt-1u6 {
  font-size: 16px; }

.txt-17px, .txt-1u7 {
  font-size: 17px; }

.txt-18px, .txt-1u8 {
  font-size: 18px; }

.txt-19px, .txt-1u9 {
  font-size: 19px; }

.txt-20px, .txt-2, .txt-col2 {
  font-size: 20px; }

.txt-21px, .txt-2u1 {
  font-size: 21px; }

.txt-22px, .txt-2u2 {
  font-size: 22px; }

.txt-23px, .txt-2u3 {
  font-size: 23px; }

.txt-24px, .txt-2u4 {
  font-size: 24px; }

.txt-25px, .txt-2u5 {
  font-size: 25px; }

.txt-26px, .txt-2u6 {
  font-size: 26px; }

.txt-28px, .txt-2u8 {
  font-size: 28px; }

.txt-30px, .txt-3, .txt-1col {
  font-size: 30px; }

.txt-32px, .txt-3u2 {
  font-size: 32px; }

.txt-34px, .txt-3u4 {
  font-size: 34px; }

.txt-36px, .txt-3u6 {
  font-size: 36px; }

.txt-38px, .txt-3u8 {
  font-size: 38px; }

.txt-40px, .txt-4, .txt-1col1 {
  font-size: 40px; }

.txt-grey-10 {
  color: #101010; }

.txt-grey-20 {
  color: #202020; }

.txt-grey-30 {
  color: #303030; }

.txt-grey-40 {
  color: #404040; }

.txt-grey-50 {
  color: #505050; }

.txt-grey-60 {
  color: #606060; }

.txt-grey-70 {
  color: #707070; }

.txt-grey-80 {
  color: gray; }

.txt-grey-90 {
  color: #909090; }

.txt-grey-a0 {
  color: #a0a0a0; }

.txt-grey-b0 {
  color: #b0b0b0; }

.txt-grey-c0 {
  color: silver; }

.txt-grey-d0 {
  color: #d0d0d0; }

.txt-grey-e0 {
  color: #e0e0e0; }

.txt-grey-f0 {
  color: #f0f0f0; }

.txt-grey-fc {
  color: #fcfcfc; }

.txt-grey-14 {
  color: #141414; }

.txt-grey-24 {
  color: #242424; }

.txt-grey-34 {
  color: #343434; }

.txt-grey-44 {
  color: #444444; }

.txt-grey-54 {
  color: #545454; }

.txt-grey-64 {
  color: #646464; }

.txt-grey-74 {
  color: #747474; }

.txt-grey-84 {
  color: #848484; }

.txt-grey-94 {
  color: #949494; }

.txt-grey-a4 {
  color: #a4a4a4; }

.txt-grey-b4 {
  color: #b4b4b4; }

.txt-grey-c4 {
  color: #c4c4c4; }

.txt-grey-d4 {
  color: #d4d4d4; }

.txt-grey-e4 {
  color: #e4e4e4; }

.txt-grey-f4 {
  color: #f4f4f4; }

.txt-grey-18 {
  color: #181818; }

.txt-grey-28 {
  color: #282828; }

.txt-grey-38 {
  color: #383838; }

.txt-grey-48 {
  color: #484848; }

.txt-grey-58 {
  color: #585858; }

.txt-grey-68 {
  color: #686868; }

.txt-grey-78 {
  color: #787878; }

.txt-grey-88 {
  color: #888888; }

.txt-grey-98 {
  color: #989898; }

.txt-grey-a8 {
  color: #a8a8a8; }

.txt-grey-b8 {
  color: #b8b8b8; }

.txt-grey-c8 {
  color: #c8c8c8; }

.txt-grey-d8 {
  color: #d8d8d8; }

.txt-grey-e8 {
  color: #e8e8e8; }

.txt-grey-f8 {
  color: #f8f8f8; }

.txt-grey-1c {
  color: #1c1c1c; }

.txt-grey-2c {
  color: #2c2c2c; }

.txt-grey-3c {
  color: #3c3c3c; }

.txt-grey-4c {
  color: #4c4c4c; }

.txt-grey-5c {
  color: #5c5c5c; }

.txt-grey-6c {
  color: #6c6c6c; }

.txt-grey-7c {
  color: #7c7c7c; }

.txt-grey-8c {
  color: #8c8c8c; }

.txt-grey-9c {
  color: #9c9c9c; }

.txt-grey-ac {
  color: #acacac; }

.txt-grey-bc {
  color: #bcbcbc; }

.txt-grey-cc {
  color: #cccccc; }

.txt-grey-dc {
  color: #dcdcdc; }

.txt-grey-ec {
  color: #ececec; }

.txt-orange {
  color: #fc6b02; }

.txt-white {
  color: white; }

.txt-black {
  color: black; }

.txt-ul {
  text-decoration: underline; }

.txt-uc {
  text-transform: uppercase; }

.txt-lc {
  text-transform: lowercase; }

.txt-l {
  text-align: left; }

.txt-r {
  text-align: right; }

.txt-c {
  text-align: center; }
